<div style="height:630px"> 

<div class="text-center">
  <h1 class="display-3">Successfully Authorized!</h1>
  <!-- <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p> -->
   
  
</div>
</div>