.switch input[type=checkbox]{
    height: 16px;
    width: 32px;
    background-color: rgb(221, 224, 228);
    -webkit-appearance:none;
    border-radius: 30px;
    outline: none;
    position: relative;
    font-weight: bolder;
    /*  */
  }
  .switch input[type=checkbox]:before {
    content:url(../../../../assets/images/cross-move.svg) ;
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: rgb(147, 155, 163);
   left: -1px;
   top: 0px;
   border-radius: 50%;
   transition-duration: .3s;
   color: #555;
  }
  .switch input:checked[type=checkbox]{
    background-color:rgb(221, 224, 228);
  }
  .switch input:checked[type=checkbox]:before{
    content: url(../../../../assets/images/tick-move.svg);
  
     position: absolute;
    height: 16px;
    width: 16px;
    line-height: -8px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(27, 132, 133);
    left: 15px;
    top: 0px;
    transition-duration: .3s;
  }
  .image-padding{
    padding: 30px;
  }

  .e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
    align-items: center;
    border: 0 solid;
    border-width: 0;
    box-sizing: content-box;
    cursor: pointer;
    flex-direction: column;
    font-size: 9px !important;
    justify-content: center;
    line-height: 1;
    min-height: 25px !important;
    min-width: 32px;
    padding: 0;
    text-align: center;
    border: none !important;
    border-bottom: 0;
    border-collapse: collapse;
    border-top: 0;
    height: 25px !important;
    /* / height: 25px !important; / */
}

  .e-multi-select-wrapper {
    box-sizing: border-box;
    cursor: text;
    min-height: 25px;
    padding: 0 32px 0 2px;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 25px;
    /* / padding: 0px !important; / */
  }
  input.e-input, textarea.e-input, .e-input-group, .e-input-group.e-control-wrapper {
    font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
    font-size: 12px !important;
    font-weight: 400;
  }
  .e-multi-select-wrapper .e-delim-values {
    font-family: inherit;
    font-size: 12px;
    line-height: 25px;
    max-width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: middle;
  }
  .e-multiselect .e-down-icon .e-chips-close.e-close-hooker {
    right: 32px;
  }
  .e-multi-select-wrapper .e-chips-close.e-close-hooker {
    cursor: default;
    font-size: 9px;
    height: 25px;
    margin-top: -4em;
    position: absolute;
    right: 0;
    top: 100%;
    width: 40px;
  }
  .e-multi-select-wrapper input[type='text'] {
    background: none;
    border: 0;
    font-family: inherit;
    font-weight: 400;
    min-height: 25px;
    outline: none;
    padding: 0;
    text-indent: 6px;
    height: 25px !important;
  }
  .e-dropdownbase .e-list-item.e-active {
    background: transparent !important;
    /* / background: linear-gradient(to bottom,#219b9c,#219b9c) !important; / */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#219b9c',endColorstr='#219b9c',GradientType=0);
    box-shadow: none !important;
  }
  .e-popup.e-multi-select-list-wrapper .e-list-item.e-active.e-item-focus {
      background-color: #317ab9;
      /* / border: 1px solid #66afe9; / */
      border: none;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
      color: #515961;
  }
  .e-dropdownbase .e-list-item {
    /* background-color: #fff;
    border-bottom: 1px;
    border-color: #fcfcfc,#e0e0e0; */
    color: #515961;
    font-family: Open Sans,Segoe UI,Helvetica Neue,Ubuntu,Arial;
    font-size: 12px;
    line-height: 2.4em;
    text-indent: 1.067em;
  }
  .e-multi-select-list-wrapper .e-selectall-parent .e-all-text {
    color: #515961;
    font-family: inherit;
    font-size: 12px;
  }

