<!--<div id="Navigation" style="position: fixed; width: 100%; z-index: 1; margin-top:1px; background: #fff;">
    <div class="css-w6a9it col-md-12" style="border-bottom: 1px solid rgb(221, 224, 228); z-index: 0;">
        <div class="css-ovfwuf">
            <div class="css-1mnuzev">
                <div class="css-18c72y3">
                    <button class="css-1u5hfa" type="button" onclick="hideshowbtn()">
                           <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                              <path d="M5 15V6h14v8.996L18 16h2v1.5H4V16h2l-1-1zm12.5-7.5h-11v7h11v-7z"></path>
                           </svg>
                        </button>
                </div>
                <div class="css-18c72y3">
                    <button class="css-1u5hfa" type="button">
                           <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                              <path d="M18.996 8.117l.004.005v.002a8 8 0 11-13.993 7.765 8 8 0 0113.99-7.772zm-5.74.843a11.487 11.487 0 00-.54-2.09c-.213-.57-.45-.997-.67-1.246-.104-.117-.117-.124-.046-.124.07 0 .058.007-.045.124-.22.249-.458.676-.672 1.246a11.487 11.487 0 00-.54 2.09 19.744 19.744 0 002.514 0zm3.996-.79a6.512 6.512 0 00-3.366-2.392c.372.803.67 1.839.865 3.025.897-.135 1.708-.334 2.38-.586l.121-.047zm-10.504 0l.122.047c.671.252 1.482.451 2.38.586.193-1.186.492-2.222.864-3.025A6.512 6.512 0 006.748 8.17zm6.473 7.07a27.927 27.927 0 01-2.442 0c.128.703.299 1.343.504 1.89.214.57.451.997.672 1.246.103.117.116.124.045.124-.07 0-.058-.007.045-.124.22-.249.458-.676.672-1.246a11.18 11.18 0 00.504-1.89zm.203-1.513a19.483 19.483 0 00.015-3.275 21.2 21.2 0 01-2.878 0 19.59 19.59 0 00.015 3.275 25.784 25.784 0 002.848 0zm4.564.806c-.93.264-2.024.469-3.226.593-.193 1.216-.497 2.277-.876 3.096a6.518 6.518 0 004.102-3.69zm.467-1.766a6.48 6.48 0 00-.46-3.281c-.83.352-1.877.63-3.064.806a21.048 21.048 0 01.01 3.302c1.106-.134 2.104-.343 2.922-.612.203-.066.403-.139.592-.215zM6.012 14.533a6.518 6.518 0 004.102 3.69c-.38-.82-.683-1.881-.876-3.097-1.202-.124-2.296-.329-3.226-.593zm-.468-1.77c.179.075.377.149.593.22.818.268 1.816.477 2.923.611a21.114 21.114 0 01.009-3.302c-1.187-.175-2.235-.454-3.065-.806a6.48 6.48 0 00-.46 3.278z"></path>
                           </svg>
                        </button>
                </div>
                <div style="position: relative;">
                    <div class="css-u41myu">
                        <button class="css-1u5hfa" type="button">
                              <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                 <path d="M15.633 12.6c2.613 0 4.774 1.912 5.134 4.4H15.5a6.955 6.955 0 00-1.998-3.948 5.205 5.205 0 012.131-.452zm-7 0c2.613 0 4.774 1.912 5.134 4.4H3.5c.36-2.488 2.52-4.4 5.133-4.4zm7-6.6a2.566 2.566 0 11.002 5.132A2.566 2.566 0 0115.633 6zm-7 0a2.566 2.566 0 11.002 5.132A2.566 2.566 0 018.633 6z"></path>
                              </svg>
                           </button>
                        <span class="css-m7d6nz">1</span>
                    </div>
                </div>
            </div>
            <div class="css-ovfwuf"></div>
        </div>
        <div class="css-1ya2rv9">
            <div class="css-1d0wvxm">
                <div class="css-1blp0lg">
                    <span class="css-x5dnxc">Page</span>
                    <div>
                        <div class="css-fpw7b0">
                            <button class="css-1wgfxl8" disabled="" aria-disabled="true" type="button" style="pointer-events: none;">
                                 <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                    <path d="M9.828 12l5.657 5.657-1.414 1.414L7 12l7.071-7.071 1.414 1.414z"></path>
                                 </svg>
                              </button>
                        </div>
                    </div>
                </div>
                <span class="css-x5dnxc">1</span>
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-l0vk5f" aria-haspopup="menu" tabindex="0" role="button">
                    <div class="css-1ya2rv9">
                        <div>
                            <button class="css-1u5hfa" onclick=" exploredropdown()" type="button">
                                 <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                    <path d="M12 14.172l5.657-5.657 1.414 1.414L12 17 4.929 9.929l1.414-1.414z"></path>
                                 </svg>
                              </button>
                        </div>
                    </div>
                </div>
                <div class="css-m0pid7 explore-drop-btn" id="explore-nav-drop-btn" hidden="" role="menu" tabindex="-1" data-dialog="true" aria-orientation="vertical">
                    <div class="css-1lzrm4o">
                        <button class="css-1r8gvqa" tabindex="0" role="menuitem">
                              <svg class="css-12237yf" fill="currentcolor" viewBox="0 0 24 24">
                                 <path d="M6 15.468V18h2.532L16 10.532 13.468 8 6 15.468zm13-8.083L16.611 5 15 6.615 17.389 9 19 7.385z"></path>
                              </svg>
                              Edit Dashboard Pages
                           </button>
                        <hr class="css-1sn6gx" mx="zero" role="separator" aria-orientation="horizontal">
                        <button class="css-upx6k5" tabindex="-1" role="menuitem">1. New Page (3 widgets)</button>
                        <button class="css-1r8gvqa" tabindex="-1" role="menuitem">2. New Page (1 widget)</button>
                    </div>
                </div>
                <div class="css-1blp0lg">
                    <span class="css-15gtzcy"> of 2</span>
                    <div>
                        <button class="css-1u5hfa" type="button">
                              <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                 <path d="M13.314 12L7.657 6.343 9.07 4.93 16.142 12l-7.07 7.071-1.415-1.414z"></path>
                              </svg>
                           </button>
                    </div>
                </div>

            </div>
            <hr class="css-169ucwy" mx="zero" role="separator" aria-orientation="vertical">
            <div class="css-1ya2rv9">
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-j7r8qm" aria-haspopup="menu" tabindex="0" role="button">
                    <button class="css-1u5hfa" type="button">
                           <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                              <path d="M13 5v6h6v2h-6v6h-2v-6H5v-2h6V5h2z"></path>
                           </svg>
                        </button>
                </div>
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-na4s9l" aria-haspopup="menu" tabindex="0" role="button">
                    <button class="css-1u5hfa" type="button">
                           <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                              <path d="M9.22 13.814a2.5 2.5 0 110-3.628l4.83-2.683a2.5 2.5 0 11.729 1.311l-4.83 2.683a2.511 2.511 0 010 1.006l4.83 2.683a2.5 2.5 0 11-.729 1.311l-4.83-2.683z"></path>
                           </svg>
                        </button>
                </div>
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-61feoe" aria-haspopup="menu" tabindex="0" role="button">
                    <button class="css-1u5hfa" type="button">
                           <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                              <path d="M11.962 7.016a3.504 3.504 0 00-4-.664l2.333 2.326-1.613 1.608L6.35 7.96a3.478 3.478 0 00.672 3.983c1 .997 2.462 1.26 3.704.793L16.005 18 18 16.011l-5.258-5.248a3.48 3.48 0 00-.78-3.747z"></path>
                           </svg>
                        </button>
                </div>
            </div>
            <hr class="css-169ucwy" mx="zero" role="separator" aria-orientation="vertical">
            <button class="css-1n3jfi4" type="button" aria-expanded="false" aria-controls="id-hlc2cg" aria-haspopup="dialog">
                     <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                        <path d="M11.992 4C16.416 4 20 7.584 20 12s-3.584 8-8.008 8C7.576 20 4 16.416 4 12s3.576-8 7.992-8zM12 5.25c-3.73 0-6.75 3.02-6.75 6.75s3.02 6.75 6.75 6.75 6.75-3.02 6.75-6.75S15.73 5.25 12 5.25zM12.4 8v4.2l3.6 2.136-.6.984-4.2-2.52V8h1.2z"></path>
                     </svg>
                  </button>
        </div>
    </div>
</div>-->
<!--<div class="dashboards-container">
    <div class="css-m2nu48" style="margin-top: 34px;">
        <div style="width: 226px;"></div>
        <div class="side-content">
            <div class="css-1he1u4o">
                <div class="css-lve0xm">
                    <div class="css-ml06wx">
                        <div class="css-wjumb2">
                            <span class="css-1qsrl3t">Find</span>
                            <button class="css-1ehcagi" type="button">
                         <svg class="css-1xurosb" fill="currentcolor" viewBox="0 0 24 24">
                            <path d="M6 15.468V18h2.532L16 10.532 13.468 8 6 15.468zm13-8.083L16.611 5 15 6.615 17.389 9 19 7.385z"></path>
                         </svg>
                      </button>
                        </div>
                        <div class="css-nss5cx">
                            <input class="css-1kk73xg" type="search" placeholder="Filter labels" value="">
                            <svg class="css-8e1dh6" fill="currentcolor" viewBox="0 0 24 24">
                         <path d="M15.435 14.063h-.723l-.256-.247a5.92 5.92 0 001.437-3.87 5.946 5.946 0 10-5.947 5.947 5.92 5.92 0 003.87-1.437l.247.256v.723L18.637 20 20 18.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 015.83 9.946 4.111 4.111 0 019.946 5.83a4.111 4.111 0 014.117 4.116 4.111 4.111 0 01-4.117 4.117z"></path>
                      </svg>
                        </div>
                        <span class="css-x5dnxc">No labels found</span>
                        <div class="css-bk42y6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
<div class="dashboards-column-right" style="border-width: 0px 0px 0px 1px; border-color: rgb(221, 224, 228); border-style: solid;">
    <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" >
                    <div style="margin-top:60px;">
                        <img src="assets/images/fbcore.svg" height="80" width="130" title="Facebook Public Page" alt="Facebook Public Page">
                    </div>
                    <div>
                        <a href=""> Analyze more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" >
                    <h3>Clicks</h3>
                    <fusioncharts width="150" height="200" type="area2d" [dataFormat]="dataFormat" [dataSource]="ClicksdataSource">
                    </fusioncharts>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="margin-top:68px ;">
                        <h3>
                            6.5M
                        </h3>
                        <p> Impressions</p>
                    </div>
                    <hr>
                    <div>
                        <h3>
                            0.6M
                        </h3>
                        <p>Clicks</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="channels-small-box"  style="padding-left: 2px;">
                    <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
                    </fusioncharts>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="margin-top:60px;">
                        <img src="../../../assets/images/sheets.svg" height="80" width="130" title="Google Sheets" alt="Google Sheets">
                    </div>
                    <div style="padding-top:24px">
                        <a href=""> Analyze more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <h3>Clicks</h3>
                    <fusioncharts width="150" height="200" type="area2d" [dataFormat]="dataFormat" [dataSource]="ssClicksdataSource">
                    </fusioncharts>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="margin-top:68px;">
                        <h3>
                            6.5M
                        </h3>
                        <p> Impressions</p>
                    </div>
                    <hr>
                    <div>
                        <h3>
                            0.6M
                        </h3>
                        <p>Clicks</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="channels-small-box" style="padding-left: 2px;">
                    <div>
                        <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="ssdataSource">
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="margin-top:60px;">
                        <img src="../../../assets/images/add-stream-imgs/mysql.svg" height="80" width="130" title="My SQL" alt="My SQL">
                    </div>
                    <div style="padding-top:24px">
                        <a href=""> Analyze more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <h3>Clicks</h3>
                    <fusioncharts width="150" height="200" type="area2d" [dataFormat]="dataFormat" [dataSource]="msClicksdataSource">
                    </fusioncharts>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="margin-top:68px ;">
                        <h3>
                            6.5M
                        </h3>
                        <p> Impressions</p>
                    </div>
                    <hr>
                    <div>
                        <h3>
                            0.6M
                        </h3>
                        <p>Clicks</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6" >
                <div class="channels-small-box" style="padding-left: 2px;">
                    <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="msdataSource">
                    </fusioncharts>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->