   <div class="row">
    <div class="col-md-12" style="padding: 0px;" >
        <div class="col-md-4"  >
          <div class="main-section">
              <h3 style="margin-bottom: 17.5px;">
                Table Values
              </h3>
          </div>   
      </div>
      <div class="col-md-4 col-md-offset-4"  >
          <div class="main-section  pull-right"  style="padding: 0px;">
              <div class="input-bar-item">
                  <input class="css-xpr64j" id="savebtn"  type="button"  value="+ Add New">
                   
                </div>
          </div>   
      </div>
      
    </div>
    </div>
      
   
    
  <div id="content-main" class="contentMain">
       <div id="changelist">
          <form id="changelist-form" method="post" novalidate="">
              <input type="hidden" name="csrfmiddlewaretoken" value="BzJ7MpE5jnM2lyqnbJrbEVtNiZc8GLk8udbCXR4ixTJfrCjd1V5zy452hpZwSEiq">
              <input type="hidden" name="action" value="">
              <input name="index" value="0" type="hidden">
              <input class="select-across" name="select_across" value="0" type="hidden">
              <div class="results">
                  <table id="result_list" class="table table-hover">
                      <thead>
                          <tr>
                              <th scope="col" class="action-checkbox-column">
                                  <!-- <input type="checkbox" name="all" /> -->
                                  Sr
                              </th>
  
                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('displayName')">
                                        Display Name
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="displayName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="displayName_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>

                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('objectName')">
                                        Object Name
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="objectName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="objectName_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>

                             <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('userName')">
                                        Username
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="userName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="userName_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>

                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('createdOn')">
                                        Created on
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="createdOn_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="createdOn_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>

                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                       Enabled
                                     
                                    </a>
                                    <!-- <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting"  ></a>
                                    </div> -->
                                </div>
                            </th>
                            
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of _valueTableList;let i=index">
                            <!-- <td>
                                <input type="checkbox" [(ngModel)]="item.state" name="something" (change)="findCount($event)" />
                            </td> -->
                            <td> {{i+1}} </td>
                            <td class="field-type_logo">{{item.displayName}}</td>
                            <td class="field-type_logo"><a (click)="getObjectName(item.objectName)">{{item.objectName}}</a></td>
                            <td class="field-stack nowrap">{{item.userName}}</td>
                            <td class="field-name">{{item.createdOn | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="field-auth_status" > <div class="switch" style="display: flex;">
                                <input id="enable{{i}}" name="enable{{i}}" [(ngModel)]="item.enable" type="checkbox" id="SavePreviousChanges">
                                <!-- <label style="padding:2px 0 0 12px;" class=" " for="SavePreviousChanges">Save privious changes</label> -->
                            </div></td>

                        </tr>
        
                    </tbody>
                  </table>
              </div>
              <!-- <div class="pull-left changelist-botton-row changelist-pagination ">
                  &nbsp;
                  <span class="pagination-element-counter ">{{lookuplistrecord}} Connections</span>
              </div> -->
          </form>
      </div>
  </div>
  

