    <!-- Html File Uploder Working Fine but Change it into Syncfusion Multiple File upload  -->
<!-- <form #fileupload="ngForm"   novalidate>
   <div class="">
      <div class="main-section">
      </div>
      <div class="tool-section">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="FileEmptyMessageError">
        {{FileEmptyMsg}} 
      </div>
     <fieldset class="module aligned">
        <div class="row">
         <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-row field-stack">
              <label class="label-text" for="id_stack">Upload File</label>
               <div class="related-widget-wrapper" >
                   <div class="input-group">
                     <input type="file" #file  name="file"  style="outline: 0px auto -webkit-focus-ring-color;"  class="form-control" maxlength="200" [accept]="FileType"  (change)="filesName($event,file.files)"  required> 
                      
                   </div>
                </div>
              </div>
         </div>
         <div class="col-md-2" style="padding:28px 0 0 0">
          <div class="input-group-append">
            <button type="button"  class="btn upload-color" (click)="uploadFile(file.files)">Upload</button>
          </div>
         </div>
         <div class="col-md-2" style="padding:27px 0 0 0">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>
        <div class="col-md-3">
          <div>
               <div class="related-widget-wrapper">
                  <img  src="../../../assets/images/{{imgname}}" style="height: 60px;" width="100" >
               </div>
               
             </div>
         </div>
         </div>
           
         </div>
    </fieldset>
 </div>
 <div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
  </form>          -->

  
  <!-- Suncfusion Files uploader Single and Multiple Files  -->

  <form #fileupload="ngForm"   novalidate>
    <div class="">
       <div class="main-section">
       </div>
       <div class="tool-section">
       </div>
   <fieldset class="module aligned">
         <div class="row">
          <div class="col-md-12">
           <div class="col-md-4">
             <div class="form-row field-stack">
               <label class="label-text" for="id_stack">Upload File</label>
                <div class="related-widget-wrapper" >
                  <div class="control_wrapper">
                    <ejs-uploader #UploadFiles id='UploadFiles'  
                     [asyncSettings]='path'  [maxFileSize]=104857600   [autoUpload]='false' [dropArea]='dropElement' [allowedExtensions]='allowExtensions' (selected)='onSelected($event)' (removing)='onFileRemove($event)' (success)='onUploadStatus($event)' (uploading)='onUploadBegin($event)'></ejs-uploader>
                </div> 
                 </div>
               </div>
          </div>
           <div class="col-md-3 col-md-offset-4">
           <div style="padding: 30px 0 0 0;">
                <div class="related-widget-wrapper">
                   <img  src="../../../assets/images/{{imgname}}" style="min-height: 60px;"   width="100" >
                </div>
                
              </div>
          </div>
          </div>
            
          </div>
     </fieldset>
  </div>
  <div class="row">
   <div class="col-md-12">
     <hr>
   </div>
 </div>
   </form>  
  


