<div style="min-height:600px;">
    <div>
        <div class="main-section ">
           <!-- <div   class="header" style="cursor:pointer;"   > 
              <img src=' '   >
           </div> -->
           <div>
            <h3>STEP 1:</h3> 
            <h3>Choose File</h3>
           </div>
        </div>
         <div class="tool-section">
        </div>
         <div class="row">
            <div class="col-md-12"> 
              <fieldset class="module aligned " >
                 <div class="row">
                    <div class="col-md-5">
                       <div class="form-row field-stack" style="padding: 28px 47px 12px 5px;">
                        
                          <label class="label-text" for="id_stack">Skip rows from file</label>
                          <div class="related-widget-wrapper">
                               <input type="number"   name="SkipsRowsNumber"   [(ngModel)]="SkipsRowsNumber"  class="form-control" maxlength="200"   required> 
                                
                           </div>
                           <div id="hint_id_email" class="help-block">
                              
                             <span>e.g only numeric value </span> 
                          </div>
                           
                      </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-5">
                       <div class="form-row field-stack">
                        
                          <label class="label-text" for="id_stack"></label>
                          <div class="related-widget-wrapper">
                            <div class="switch" style="display: flex;" >
                               <input type="checkbox"  name="SkipsRowsfromtheheadertoggle"  id="EnableConnectoins"  [(ngModel)]="SkipsRowsfromtheheadertoggle"  (change)="chnageheaderstate($event)">
                               <label style="padding:2px 0 0 12px;" class=" " for="EnableConnectoins" >Column names in the first data row</label>
                           </div>                     
                         </div>
                   </div>   
                     </div>
                 </div>
                 <div class="row"   *ngIf="SkpiRowsfromabovethe">
                  <div class="col-md-5">
                     <div class="form-row field-stack" style="padding: 28px 47px 12px 5px;">
                      
                        <label class="label-text" for="id_stack">Remove row above the hearder</label>
                        <div class="related-widget-wrapper">
                             <input type="number"   name="SkipsRowsfromtheheader" [(ngModel)]="SkipsRowsfromtheheader"  class="form-control" maxlength="200"    required> 
                        </div>
                        
                    </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5">
                     <div class="form-row field-stack">
                      
                        <label class="label-text" for="id_stack"></label>
                        <div class="related-widget-wrapper">
                          <div class="switch" style="display: flex;" >
                             <input type="checkbox"  name="LoadDatatoggle"  id="DestinationOptions"  [(ngModel)]="LoadDatatoggle"  (change)="chnageDestinationForLoadData($event)">
                             <label style="padding:2px 0 0 12px;" class=" "     for="DestinationOptions" >Load Data In Existing Table</label>
                         </div>                     
                       </div>
                 </div>   
                   </div>
               </div>
               <div class="row" *ngIf="SetExistingTableName">
                  <div class="col-md-5">
                     <div class="form-row field-stack" style="padding: 28px 47px 12px 5px;" >
                      <label class="label-text" for="id_stack">Destination Table</label>
                       <div class="related-widget-wrapper">
                          <select type="text"  required name="workspace" style="height: 31px;width: -webkit-fill-available;" [(ngModel)]="Existingtablename"   required="required" class="form-control" maxlength="200"> 
                             <option  value="test">No table Exist</option>      
                             <!-- *ngFor="let SourceObjectworkspace of workspacedropdownlist" -->
                           </select>                  
                           </div>
                           
                        <div id="hint_id_email" class="help-block">
                         Existing Table For Load Data
                     </div>
                  </div>
               </div>
            </div>
           
               <div class="row"   *ngIf="SetCustomTableName">
                  <div class="col-md-5">
                     <div class="form-row field-stack" style="padding: 28px 47px 12px 5px;">
                      
                        <label class="label-text" for="id_stack">Enter Table Name</label>
                        <div class="related-widget-wrapper">
                             <input type="text"   name="customTableName" [(ngModel)]="customTableName"  class="form-control" maxlength="200"    required> 
                        </div>
                        <div id="hint_id_email" class="help-block">
                              
                           <span>Custom Table For Load Data</span> 
                        </div>
                        
                    </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5" style="padding: 0px 45px 16px 22px;">
                   <div class="form-row field-stack"  >
                      <label  class="label-text" for="id_stack"> Select Data Insertion option</label>
                       <div class="related-widget-wrapper" style="display:flex;">
                        <div class="col-md-6" style="padding: 17px 0px 0px 18px;">
                           <input type="radio" class="form-check-input" id="Append" [(ngModel)]="loadoption" (click)="GetValue($event)"     name="loadoption" value="append" checked><label for="Append">Append</label>  
                        </div>
                       <div class="col-md-6" style="padding: 17px 0px 0px 18px;">
                        <input class="form-check-input" type="radio" name="loadoption" [(ngModel)]="loadoption"   id="TrancateandLoad" value="replace"><label  for="TrancateandLoad">Truncate and Load</label>
                     </div>
                    </div>
                 </div>
                  </div>
                </div>
               <div class="row">
                  <div class="col-md-5">
                     <div class="form-row field-stack" style="padding: 28px 47px 12px 5px;">
                      
                        <label class="label-text" for="id_stack">Sheet Name</label>
                        <div class="related-widget-wrapper">
                             <input type="text"   name="SheetName"   [(ngModel)]="SheetName"  class="form-control" maxlength="200"   required> 
                              
                         </div>
                         <div id="hint_id_email" class="help-block">
                            
                           <span>Enter sheet name for column maping if file contain multiples sheets </span> 
                        </div>
                         
                    </div>
                  </div>
               </div>

               </fieldset> 
           </div>
          </div>
        </div>
        <div class="row">
           <div class="col-md-12">
              <hr>
          </div>
        </div> 

        <div class="main-section">
            <h3> </h3>
           </div>
           <div class="tool-section">
           </div>
        <div class="row">
            <div class="col-md-5">
               <div class="form-row field-stack" style="padding: 28px 47px 12px 5px;"> 
                
                  <label class="label-text" for="id_stack"></label>
                  <div class="related-widget-wrapper">
                    <div class="control_wrapper">
                        <ejs-uploader #UploadFiles id='UploadFiles'  
                         [asyncSettings]='path'  [maxFileSize]=50000000   [autoUpload]='false' [dropArea]='dropElement' [allowedExtensions]='allowExtensions' (selected)='onSelected($event)' (removing)='onFileRemove($event)' (success)='onUploadStatus($event)' (uploading)='onUploadBegin($event)'></ejs-uploader>
                    </div>                    
                 </div>
           </div>   
             </div>
         </div>
      
         <div class="row">
            <div class="col-md-12">
               <hr>
           </div>
         </div>

         <div class="main-section  pull-right" style="padding-top: 14px ;" *ngIf="HidetheNextButton">
            <div class="input-bar-item">
                <button class="css-xpr64j"   (click)="next()">
                    Next
                 </button>
            </div>
           
         </div>

</div>




