<div class="alert alert-danger" role="alert" *ngIf="MessageStatusForSHowHide">
    {{Message}} 
</div>
<div class="row">
    <div class="col-md-12" style="padding: 0px;" >
        <div class="col-md-8"  >
          <div class="main-section">
              <h3 style="margin-bottom: 17.5px;">
                Available Functions
              </h3>
          </div>   
      </div>
      <div class="col-md-4">
        <div class="main-section  pull-right" style="padding-top: 14px ;padding-right: 5px;">
            <div class="input-bar-item">
                <input class="css-xpr64j" id="savebtn" type="submit"  (click)="GetscriptJson()" value="Apply Transform">
            </div>
           
        </div>
          <div class="main-section  pull-right" style="padding-top: 14px ;padding-right: 5px;">
                  <div class="input-bar-item">
                      <input class="css-xpr64j" id="savebtn" type="submit"  (click)="Addnew()" value="+ Add New">
                  </div>
                 
        </div>
        </div>
     
      </div>
</div>
<div class="generic-django-admin-header" style="padding-top: 20px;">
    <div class="main-section">
        <div id="toolbar" class="filter-toolbar" role="toolbar">
            <div class="actions btn-group btn-group-sm">
                <button type="button" class="select-button-secondary" data-toggle="dropdown" style="min-width: 80px;">
                {{_tablecounter}} of {{totalLenght}}
       
            </button>
            </div>


        </div>
    </div>

</div>
<div id="content-main" class="contentMain">
    <!-- Feedback -->
    <div id="feedback-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×
                </button>
                    <h4 class="modal-title">Submit Error Classification Feedback</h4>
                </div>
                <div class="modal-body">
                    <form id="feedback-modal-form" class="form-horizontal">
                        <div class="form-group">
                            <label for="feedback-text" class="col-sm-2 control-label">
                      Your Feedback Message
                      </label>
                            <textarea rows="10" cols="50" id="feedback-text" required="">Please review this classification.</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
                </button>
                    <button id="feedback-modal-submit" class="btn btn-primary">Submit
                </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Feedback -->
    <div id="changelist">
        <form id="changelist-form" method="post" novalidate="">
            <input type="hidden" name="csrfmiddlewaretoken" value="BzJ7MpE5jnM2lyqnbJrbEVtNiZc8GLk8udbCXR4ixTJfrCjd1V5zy452hpZwSEiq">
            <input type="hidden" name="action" value="">
            <input name="index" value="0" type="hidden">
            <input class="select-across" name="select_across" value="0" type="hidden">
            <div class="results">
                <table id="result_list" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="action-checkbox-column">
                                <input type="checkbox" name="all" [checked]="allcheckbox" (change)="checkAll($event)" (click)="functionCount($event)" />
                            </th>

                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                        <!-- (click)="applySort('connectorName')" -->
                                        Script Name
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" >
                                                <!-- [ngClass]="appearanceLogo_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="appearanceLogo_arrow" -->
                                            </span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" >
                                            <!-- (click)="reloadPage()" -->
                                        </a>
                                    </div>
                                </div>
                            </th>
                            
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                        <!-- (click)="applySort('account_Display_Name')" -->
                                        Create Date
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" >
                                                <!-- [ngClass]="connectorName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="connectorName_arrow" -->
                                            </span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" >
                                            <!-- (click)="reloadPage()" -->
                                        </a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                        <!-- (click)="applySort('accessgranted')" -->
                                        Update Date
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" >
                                                <!-- [ngClass]="bstatus_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="bstatus_arrow" -->
                                            </span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" >
                                            <!-- (click)="reloadPage()" -->
                                        </a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                        <!-- (click)="applySort('accessgranted')" -->
                                        Action
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" >
                                                <!-- [ngClass]="bstatus_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="bstatus_arrow" -->
                                            </span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" >
                                            <!-- (click)="reloadPage()" -->
                                        </a>
                                    </div>
                                </div>
                            </th>
                            
                             
                        </tr>
                    </thead>
                    <tbody>
                        <!-- *ngFor="let connection of allConService._connectionData;let i = index" -->
                        <tr *ngFor="let functionlist of GetScriptList;let i = index" >
                            <td>
                                <input id="check{{i+1}}" type="checkbox"   [(ngModel)]="functionlist.state" name="something{{i}}" (change)="findCount($event,functionlist._id,functionlist.scriptname)"/>
                            </td>
                            <td class="field-stack nowrap"><a (click)="GetFunctionId(functionlist._id)">{{functionlist.scriptname}}</a></td>
                            <td class="field-stack nowrap">{{functionlist.UpdatedOn | date:'yyyy-MM-dd  h:mm a'}}</td>
                            <td class="field-stack nowrap">{{functionlist.CreatedOn | date:'yyyy-MM-dd  h:mm a'}}</td>
                            <td><span class="e-icons e-trash"   (click)="DeleteScript(functionlist._id)"></span></td>
                            <!-- (click)="DeleteScript(functionlist._id)" -->
                            <!-- (click)="onOpenDialog(functionlist._id)" -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-left changelist-botton-row changelist-pagination ">
                &nbsp;
                <!-- <span class="pagination-element-counter ">{{allConService._recordLength}} Connections</span> -->
            </div>
        </form>
    </div>
</div>
<ejs-toast #defaulttoast [position]="position" >                
</ejs-toast>
 
 
 