<!-- <div class="main-section ">
</div>
<div class="tool-section">
</div> -->
<!-- itemTemplate= '<div class="list-wrapper">
  <span class="${pic} e-avatar e-avatar-xlarge e-avatar-circle">
  </span><span class="text">${text}</span>
  <span class="description">${description}</span>
</div>' -->
<div class="col-md-12">
<div class="row">
    <div class="col-md-6  control-section" style="padding: 0px 80px 0px 14px"> 
      <fieldset class="module aligned " >
        <div class="form-row field-stack" style="padding: 28px 4px 8px 2px">
                
            <label class="label-text" for="id_stack" style="padding-bottom: 10px;">Pipeline Name *</label>
            <span></span>
            <div class="related-widget-wrapper">
                 <input type="text" name="accountName" [(ngModel)]="accountName"  class="form-control" maxlength="200"     required> 
              </div>
               
          </div>
          
      </fieldset> 
    </div>
  </div>
<div class="row">
    <div class="col-md-12" style="padding: 0px">
        <div class="control-section"  >
            <div class="dual-list-wrapper">
                <div class="col-md-3" >
                    <div class="dual-list-groupa">
                        <h4>Connector List A</h4>
                        <ejs-listbox  #listbox1 [dataSource]='dataA' [toolbarSettings]='toolbarSettings'  height='330px' scope='#connected-list' [fields]='fields'  (actionBegin)="onDropGroupA($event)"  
                        itemTemplate= '<div class="list-wrapper" >
                            <span class="${pic} e-avatar image-sizing">
                            </span><span class="text">${Name}</span>
                          </div>'
                          >
                        
                        
                         
                    </ejs-listbox>
                    </div>
                </div>
              
                   <div class="col-md-3" style="padding-right:83px;">
                    <div class="dual-list-groupb" style="margin-left:-15px;">
                        <h4>Connector List B</h4>
                        <ejs-listbox   #listbox2 id='connected-list' [dataSource]='dataB' min-height='330px' [fields]='fields' (actionBegin)="onDropGroupB($event)"
                        
                        itemTemplate= '<div class="list-wrapper" (click)="getvalue($event)" >
                            <span class="${pic} e-avatar image-sizing">
                            </span><span class="text">${Name}</span>
                         </div>'
                        >
                        
                        </ejs-listbox>
                    </div>
                   </div>
               
               
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6" style="padding: 0px 80px 0px 0px">
     <div class="form-group pull-right" style="padding: 0px;">
         <button class="css-xpr64j" style="height: 30px; width: 65px;margin-top: 30px;" (click)='saveChanges()'>{{SavebtnValue}}</button>
 
      </div>
    </div>
  </div>

</div>
  <!-- <div class="col-lg-8 control-section" style="min-height: 450px">
    <div id="drag-drop-wrapper">
        <div class="listbox-control">
            <h4>Group A</h4>
            <ejs-listbox #listbox1 [dataSource]='data' [allowDragAndDrop]='true' height='330px' scope='combined-list'  (drop)='onDropGroupA($event)'
            itemTemplate= '<div class="list-wrapper">
                <span class="${pic} e-avatar e-avatar-xlarge e-avatar-circle">
                </span><span class="text">${text}</span>
                <span class="description">${description}</span>
             </div>'>
        </ejs-listbox>
        </div>
        <span class="e-swap-icon"></span>
        <div class="listbox-control">
            <h4>Group B</h4>
            <ejs-listbox #listbox2 [dataSource]='dataB' [allowDragAndDrop]='true' height='330px' scope='combined-list'  (drop)='onDropGroupB($event)'></ejs-listbox>
            <button class="e-btn" (click)='saveChanges()'>Update</button>
        </div>
    </div>
</div> -->

   
