
  #loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
  }
/*   
  #container {
  width: 72%;
  margin: 0 auto;
  } */
  
  .e-listbox-wrapper {
  margin: auto;
  max-width: 400px;
  box-sizing: border-box;
  height: 330px;
  }
  
  /* #container {
  box-sizing: border-box;
  } */
  
  .image-sizing{
width: 40px;
height: 40px;
margin: 15px;
/* border-radius: 27px; */
  }
  #container .e-listbox-wrapper:not(.e-list-template) .e-list-item {
  padding: 0;
  position: unset;
  cursor: pointer;
  /* height: 76px; */
  line-height: normal;
   
  }
  
  .list-wrapper {
    height: inherit;
    position: relative;
    padding: 14px 12px 14px 78px;
    /* padding: 14px 12px 14px 78px; */
  }
  
  .list-wrapper .text,
  .list-wrapper .description {
  display: block;
  margin: 0;
  /* padding-bottom: 3px;  */
  white-space: normal;
  }
  
  .list-wrapper .description {
  font-size: 12px;
  font-weight:200;
  }
  
  #container .e-listbox-wrapper .list-wrapper .text {
  font-weight: bold;
  font-size: 12px;
  }
  
  .list-wrapper .e-avatar {
    position: absolute;
    left: 5px;
    background-color: transparent;
    font-size: 12px;
    top: calc(50% - 36px);
  }
  .MicrosoftSQLServer {
    background-image: url('../../../../assets/images/mssql_shared.svg');
  }
  .MySQL {
    background-image: url('../../../../assets/images/mysql.svg');
  }
  .MongoDB {
  background-image: url('../../../../assets/images/mongo-db.svg');
  }
  .Excel {
  background-image: url('../../../../assets/images/microsoft-excel.svg');
  }
  .GoogleDriveDownload {
    background-image: url('../../../../assets/images/google-drive.svg');
  }
  .Csv {
      background-image: url('../../../../assets/images/csv-file.svg');
  }