<form #Myform="ngForm"    (ngSubmit)="Myform.form.valid && SaveDescription(Myform.value);"  novalidate>
    
<div>
    <div class="main-section ">
       <div   class="header" style="cursor:pointer;" (click)="ReversClass()" > 
          <img src='../../../../assets/arrow-left-64.png'   >
       </div>
       <div>
        <h3>STEP 2:</h3> 
        <h3>Source Description</h3>
       </div>
    </div>
     <div class="tool-section">
    </div>
    <div class="row">
        <div class="col-md-8"> 
          <fieldset class="module aligned " >
             <div class="row">
                <div class="col-md-7">
                   <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                    
                    <label class="label-text" for="id_stack">Account Display Name *</label>
                    <div class="related-widget-wrapper">
                         <input type="text"   name="accountName"  [(ngModel)]="DescriptionModel.accountName"  #accountName="ngModel"   class="form-control" maxlength="200"     required> 
                         <!-- <span class="error" id="AccountName_span" style="margin-top:4px;padding:5px;" *ngIf="establishConnectorServic.AccountName_span">Account Display Name is Required</span> -->
                     </div>
                       <div id="hint_id_email" class="help-block">
                           <!-- A human readable name. Numbers and special characters are supported. -->
                          <span>Field account display name</span> 
                       </div>
                        <!-- <span class="text-danger"
                        *ngIf="(AccountName.touched || Myform.submitted) && AccountName.errors?.required">
                         account display name is required
                         
                    </span> -->
                  </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-7">
                   <div class="form-row field-stack" >
                    <label class="label-text" for="id_stack">Workspace to use *</label>
                     <div class="related-widget-wrapper">
                        <select type="text"  required name="workspace" style="height: 31px;width: -webkit-fill-available;" [(ngModel)]="DescriptionModel.workspace"  #workspace="ngModel"    required="required" class="form-control" maxlength="200"> 
                           <option *ngFor="let SourceObjectworkspace of workspacedropdownlist" value="{{SourceObjectworkspace.dropdownText }}">{{SourceObjectworkspace.dropdownText}}</option>      
                           <!-- *ngFor="let SourceObjectworkspace of workspacedropdownlist" -->
                         </select>                  
                         </div>
                         
                      <div id="hint_id_email" class="help-block">
                        Field workspace
                         <!-- <span class="text-danger"
                         *ngIf="(SourceDisplayName.touched || SourceForm.submitted) && SourceDisplayName.errors?.required">
                         Display Name for Source object
                     </span> -->
                      </div>
                </div>
               

                </div>
              </div>
             <div class="row">
                <div class="col-md-7">
                    <div class="form-row field-stack">
                     
                       <label class="label-text" for="id_stack"> </label>
                       <div class="related-widget-wrapper">
                          
                         <div class="switch" style="display: flex;" >
                            <input type="checkbox"  name="EnableConnectoins"  id="EnableConnectoins" [(ngModel)]="DescriptionModel.enableConnectoin" #enableConnectoin="ngModel" >
                            <label style="padding:2px 0 0 12px;" class=" " for="EnableConnectoins">Enable connection</label>
                        </div>  
                           </div>
                        <div id="hint_id_email" class="help-block">
                             Enable connection  
                        </div>
                   </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-md-7">
                    <div class="form-row field-stack">
                     
                       <label class="label-text" for="id_stack"> </label>
                       <div class="related-widget-wrapper">
                          
                         <div class="switch" style="display: flex;" >
                            <input type="checkbox"  name="visibilityMode" #visibilitymode="ngModel"  id="visibilityMode" [(ngModel)]="DescriptionModel.visibilitymode" >
                            <label style="padding:2px 0 0 12px;" class=" " for="visibilityMode">Visibility</label>
                        </div>  
                           </div>
                        <div id="hint_id_email" class="help-block">
                             Visibility  mode 
                        </div>
                   </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-md-7">
                    <div class="form-row field-stack">
                     
                       <label class="label-text" for="id_stack">Comments</label>
                       
                          
                        <div class="related-widget-wrapper">
                            <textarea class="form-control" cols="3" rows="3" name="commentsection"  #commentsection="ngModel" [(ngModel)]="DescriptionModel.commentsection" placeholder="Type comments" required></textarea>
                            <!-- <span class="error" id="AccountName_span" style="margin-top:4px;padding:5px;" *ngIf="establishConnectorServic.AccountName_span">Account Display Name is Required</span> -->
                        </div>
                           
                        <div id="hint_id_email" class="help-block">
                         Field  comments section
                        </div>
                   </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-md-7">
                    <div class="form-row field-stack">
                     
                       <label class="label-text" for="id_stack">Special Comment</label>
                       <div class="related-widget-wrapper">
                        <textarea class="form-control" cols="3" rows="3" #specialcomments="ngModel" name="specialcomments"  [(ngModel)]="DescriptionModel.specialcomments" placeholder="Type comments" required></textarea>
                        <!-- <span class="error" id="AccountName_span" style="margin-top:4px;padding:5px;" *ngIf="establishConnectorServic.AccountName_span">Account Display Name is Required</span> -->
                        </div>
                           
                        <div id="hint_id_email" class="help-block">
                            Field special comments
                        </div>
                   </div>
                 </div>
              </div>
          </fieldset> 
        </div>
       <div class="col-md-3 col-md-offset-1">
        <div>
            
            <div class="related-widget-wrapper">
               <img  src="../../../assets/images/{{imgname}}" style="min-height: 60px;"   width="100" >
             </div>
           </div>
       </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12">
          <hr>
      </div>
    </div>

    <div class="form-group pull-right" style="padding: 14px;">
         <div class="input-bar-item">
            <!-- <button class="css-xpr64j" type="submit" >Save</button> -->
            <button class="css-xpr64j" type="submit" style="margin-right: -14px;" (click)="nextmove(Myform.value)"> {{AccountSourceButtom}}</button>
            <!-- (click)="nextmove(Myform.value)" -->
         </div>
    </div>
</form>

<ejs-toast #defaulttoast [position]="position" >                
</ejs-toast>