<div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Workspace Usage Summary</h3>
    </div>
    <div class="tool-section">
    </div>
</div>
<div id="content-main" class="contentMain">

    <div style="min-height: 519px;margin-top: 30px;">
        <label class="label-text" style="margin-bottom: 15px;" for="id_stack">Workspace summary, used across application</label>
        <app-workspace-setup-grid></app-workspace-setup-grid>
    </div>
    <div>
        <div class="css-1qbrnrg">
            <hr class="css-1c3fhlt" mx="zero" role="separator" aria-orientation="horizontal">
            <div class="css-1x62jim">
                <div class="css-p84alj">
                    <div class="css-rvqhyx"><a class="css-ebx8b0" href="/instagram_business/instagrambusinessdatastream/27/delete/">Delete</a><a class="css-b2qa21" href="/core/apidatastream/clone?pk=27">Clone</a></div>
                </div>
                <div class="css-1w7dt24">
                    <div class="css-rvqhyx"><button class="css-b2qa21" type="button" name="_continue">Save and continue editing</button><button class="css-xpr64j" type="submit" name="_save">Save</button></div>
                </div>
            </div>
        </div>
    </div>
</div>