
.dropdown-Padding
{
    padding: 1px 3px !important;
}
.e-ddl.e-input-group, .e-ddl.e-input-group.e-input-focus:focus {
    border-radius: 2px;
}
.e-input-group.e-ddl {
    height: 25px !important;
}
input.e-input, textarea.e-input, .e-input-group, .e-input-group.e-control-wrapper {
    font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
    font-size: 12px;
    font-weight: 400;
    color: #999;
}
input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
    box-sizing: border-box;
    height: 25px;
}
select, textarea {
    padding: 2px 0px;
}
.e-ddl.e-input-group .e-input-group-icon, .e-ddl.e-input-group .e-input-group-btn button {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 9px !important;
    padding: 0px !important;
}
.e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
    align-items: center;
    border: 0 solid;
    border-width: 0;
    box-sizing: content-box;
    cursor: pointer;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    line-height: 1;
    min-height: 23px;
    min-width: 27px;
    padding: 0;
    text-align: center;
     /* border: 1px solid;  */
    border-bottom: 0;
    border-collapse: collapse;
    border-top: 0;
}
.e-ddl.e-input-group .e-ddl-icon:before {
    width: 14px;
    height: 14px;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
}
.e-dropdownbase .e-list-item {
    background-color: #fff;
    border-bottom: 1px;
    border-color: #fcfcfc,#e0e0e0;
    color: #515961;
    font-family: Segoe UI,Helvetica Neue,Ubuntu,Arial;
    font-size: 12px;
    line-height: 2.4em;
    text-indent: 1.067em;
}
.e-dropdownbase .e-list-item.e-active {
    background: rgb(226, 242, 242); 
     background: linear-gradient(to bottom,rgb(226, 242, 242),rgb(226, 242, 242));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3277b2',endColorstr='#296293',GradientType=0);
}
.e-dropdownbase .e-list-item.e-active {
    color: #515961;
}

/* start switch  of MicroSql Route*/
.switch input[type=checkbox]{
    height: 16px;
    width: 32px;
    background-color: rgb(221, 224, 228);
    -webkit-appearance:none;
    border-radius: 30px;
    outline: none;
    position: relative;
    font-weight: bolder;
    /*  */
  }
  .switch input[type=checkbox]:before {
    content:url(../../../../../assets/images/cross-move.svg) ;
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: rgb(147, 155, 163);
   left: -1px;
   top: 0px;
   border-radius: 50%;
   transition-duration: .3s;
   color: #555;
  }
  .switch input:checked[type=checkbox]{
    background-color:rgb(221, 224, 228);
  }
  .switch input:checked[type=checkbox]:before{
    content: url(../../../../../assets/images/tick-move.svg);
  
     position: absolute;
    height: 16px;
    width: 16px;
    line-height: -8px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(27, 132, 133);
    left: 15px;
    top: 0px;
    transition-duration: .3s;
  }
  /*end switch  */