<form [formGroup]="SaveUserPermissions" (ngSubmit)="SaveConfig(SaveUserPermissions.value,input.value)" autocomplete="off">
  
<div class="row">
    <div class="col-md-12" style="padding: 0px;" >
        <div class="col-md-4"  >
          <div class="main-section">
              <h3 style="margin-bottom: 17.5px;">
                Permissions
              </h3>
          </div>   
      </div>
      <div class="col-md-7 col-md-offset-1"  >
          <div class="main-section  pull-right" style="padding-top: 14px">
              <div class="input-bar-item">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="+ Add new user">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Make a copy">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Save changes">
                
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Disable user">
                <input class="css-xpr64j" id="savebtn" type="submit"  routerLink="/govern/accessmanagement/userslist" value="Goto list page">
                  </div>
          </div>   
      </div>
      
    </div>
    </div>
<div id="content-main" class="contentMain">
        <fieldset class="module aligned">
            <div class="form-row field-stack">
                <div>
                    <!-- <label class="label-text" for="id_stack">Email Address</label> -->
                    <div class="related-widget-wrapper">
                        <div class="switch" style="display: flex;">
                            <input formControlName="Useractive" type="checkbox" id="EnableConnectoins">
                            <label style="padding:2px 0 0 12px;" class=" " for="EnableConnectoins">Active</label>
                        </div>
                    </div>
                    <!--  -->
                    <div class="help">
                        Identifies whether this user should be treated as active. Unselect this option instead of permanently deleting user accounts
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <!-- <label class="label-text" for="id_stack">Email Address</label> -->
                    <div class="related-widget-wrapper">
                        <div class="switch" style="display: flex;">
                            <input formControlName="UserLocked" type="checkbox" id="EnableConnectoins1">
                            <label style="padding:2px 0 0 12px;" class=" " for="EnableConnectoins1">Locked</label>
                        </div>
                    </div>
                    <!--  -->
                    <div class="help">
                        User access shall be locked as per Identity & Access Management (IAM) policy setup. However, access can be locked or unlocked manually from this option
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Workspace</label>
                    <div class="related-widget-wrapper">
                        
                        <input id="workspaces1" ej-dropdownlist [dataSource]="_workspaces" [fields]="fieldsvalues" showCheckbox="true" watermarkText="Select a skill" width="100%" multiSelectMode="visualmode" width="480px" />

                    </div>
                    <!--  -->
                    <div class="help">

                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Child Workspaces</label>
                    <div class="related-widget-wrapper">
                        <input id="childworkspaces1" ej-dropdownlist [dataSource]="_childWorkspaces" [fields]="fieldsvalues" showCheckbox="true" watermarkText="Select a skill" width="100%" multiSelectMode="visualmode" width="480px" />

                    </div>
                    <!--  -->
                    <div class="help">

                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Display modes</label>
                    <div class="related-widget-wrapper">
                        <input id="displayMode1" ej-dropdownlist [dataSource]="_displayMode" [fields]="fieldsvalues" showCheckbox="true" watermarkText="Select a skill" width="100%" multiSelectMode="visualmode" width="480px" />

                    </div>
                    <!--  -->
                    <div class="help">
                        Display modes allows to group module and sub-modules into different groups. Each group or display mode has its own set of menus and sub-menus
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Module allowed</label>
                    <div class="related-widget-wrapper" style="max-width:480px">
                        
                        <!-- <input id="dropdownlist4" ej-dropdownlist [dataSource]="_timezone" [fields]="fieldsvalues" showCheckbox="true" watermarkText="Select a skill" width="100%" multiSelectMode="visualmode" width="480px" /> -->
                        <ejs-dropdowntree id='ModuleAllowed' #input [fields]='fields' placeholder='Select a Item' [showCheckBox]='true' [treeSettings]='treeSettings'></ejs-dropdowntree>
                        <!-- <ejs-dropdowntree id='moduleList1' [fields]='fields' [showCheckBox]='true' [treeSettings]='treeSettings'> </ejs-dropdowntree> -->
                    </div>
                    <!--  -->
                    <div class="help">
                        Identifies what modules available to the user. By default all modules in the assigned workspaces are visible
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Data operations</label>
                    <div class="related-widget-wrapper">
                        <input id="dataOperation1"  ej-dropdownlist [dataSource]="_displayMode" [fields]="fieldsvalues" showCheckbox="true" watermarkText="Select a skill" width="100%" multiSelectMode="visualmode" width="480px" />
                    </div>
                    <!--  -->
                    <div class="help">
                        Identifies what type of data access and operation rights available to user. These options are limited to assinged workspaces only
                    </div>
                </div>
            </div>
        </fieldset>
</div>
</form>