<div class="row">
    <div class="col-md-12" style="padding: 0px;" >
        <div class="col-md-4"  >
          <div class="main-section">
              <h3 style="margin-bottom: 17.5px;">
                 Value Table Data
              </h3>
          </div>   
      </div>
      <div class="col-md-4 col-md-offset-4"  >
          <div class="main-section  pull-right"  style="padding: 0px;">
              <div class="input-bar-item">
                  <input class="css-xpr64j" id="savebtn"  type="button" (click)="Addlookupvalue()" value="+ Add New">
                   
                </div>
          </div>   
      </div>
      
    </div>
    </div>
      
   
    
  <div id="content-main" class="contentMain">
       <div id="changelist">
          <form #Myform="ngForm" (ngSubmit)="SaveConfig(Myform.value)"  novalidate >
              <input type="hidden" name="csrfmiddlewaretoken" value="BzJ7MpE5jnM2lyqnbJrbEVtNiZc8GLk8udbCXR4ixTJfrCjd1V5zy452hpZwSEiq">
              <input type="hidden" name="action" value="">
              <input name="index" value="0" type="hidden">
              <input class="select-across" name="select_across" value="0" type="hidden">
              <div class="results">
                  <table id="result_list" class="table table-hover">
                      <thead>
                          <tr>
                              <th scope="col" class="action-checkbox-column">
                                <div class="cell-wrapper" title="Toggle sorting">
                                  <!-- <input type="checkbox" name="all" /> -->
                                  Sr
                                </div>
                              </th>
  
                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('displayName')">
                                        Source Value
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="displayName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="displayName_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>

                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('objectName')">
                                        Target Value
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="objectName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="objectName_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                       Enabled
                                     
                                    </a>
                                    <!-- <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting"  ></a>
                                    </div> -->
                                </div>
                            </th>                                                         
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of valueTableDataService._valueTableData;let i=index">
                            
                            <td>{{i+1}}</td>
                            <td class="field-type_logo" name="sourceValue{{i}}" #sourceValue="ngModel" [(ngModel)]="item.sourceValue" >{{item.sourceValue}}</td>
                            <td class="field-type_logo EditableCell" contenteditable="true" ><input type="text" name="targetValue{{i}}" #targetValue="ngModel" [(ngModel)]="item.targetValue" placeholder="Enter Target Value" style="border: 0px;"></td>
                            <td class="field-auth_status" > <div class="switch" style="display: flex;">
                                <input id="enable{{i}}" name="enable{{i}}" #bStatus="ngModel" [(ngModel)]="item.bStatus" type="checkbox" >
                                </div></td>

                        </tr>
        
                    </tbody>
                  </table>
              </div>
              <!-- <div class="css-1w7dt24">
                <div class="css-rvqhyx"><button class="css-b2qa21" type="button" name="_continue">Save and continue editing</button><button class="css-xpr64j" type="submit" name="_save">Save</button><span>{{valueTableDataService.Status_message}}</span></div>
            </div> -->

            <!-- <div><button class="css-xpr64j" type="submit" name="_save">Save</button><span>{{valueTableDataService.Status_message}}</span></div> --> 
              
            <div class="css-1w7dt24 ">
                <div class="css-rvqhyx "><button class="css-b2qa21 " type="button " name="_continue ">Save and continue editing</button>
                    <button class="css-xpr64j " type="submit " name="_save ">Save</button><span>{{valueTableDataService.Status_message}}</span>
                </div>
            </div>
            
            
            <!-- <div class="col-md-4 col-md-offset-4"  >
                <div class="main-section  pull-right"  style="padding: 0px;">
                    <div class="input-bar-item">
                        <input class="css-xpr64j"   type="submit" value="Save">
                         
                      </div>
                </div>   
            </div> -->



               <!-- <div class="pull-left changelist-botton-row changelist-pagination ">
                  &nbsp;
                  <span class="pagination-element-counter ">{{lookuplistrecord}} Connections</span>
              </div> -->
          </form>
      </div>
  </div>
  


