<div style="height: 650px;">
     
    <div class="alert alert-danger" role="alert" *ngIf="Errorheading">
        {{ErrorMessage}} 
    </div>
     
        <!--New Menu-->
        <div class="row">
            <div class="col-md-12" style="padding: 0px;" >
                <div class="col-md-8"  >
                  <div class="main-section">
                      <h3 style="margin-bottom: 17.5px;">
                        Available Pipeline Connection 
                      </h3>
                  </div>   
              </div>
              <div class="col-md-4">
                <div class="main-section  pull-right" style="padding-top: 14px ;padding-right: 5px;">
                    <div class="input-bar-item">
                      <input class="css-xpr64j"    
                      (click)="RunForExtract()" type="submit" value="Extract" style="width: 62px;" >                        
                </div>
                   
                </div>
                     
                   <div class="main-section  pull-right" style="padding-top: 14px">
                    <div class="input-bar-item">
                        <input class="css-xpr64j" id="savebtn" type="submit" routerLink="/extract/extraction/pipeline" value="+ Add New" style="margin-right: 2px;">
                    </div>
                   </div>  
                  
                  
                  
              </div>
               
              </div>
        </div>



         






 
<app-connect-filters></app-connect-filters>
<div class="generic-django-admin-header" style="padding-top: 20px;">
    <div class="main-section">
        <div id="toolbar" class="filter-toolbar" role="toolbar">
            <div class="actions btn-group btn-group-sm">
                <button type="button" class="select-button-secondary" data-toggle="dropdown" style="min-width: 80px;">
                {{_tablecounter}} of {{lengthofpipeline}}
       
            </button>
            </div>


        </div>
    </div>

</div>

    
   
     <div class="row" style="padding-top: 20px;">
         <div class="col-md-12">
           <hr>
         </div>

     </div>


<div class="col-md-12" style="padding: 0px;">
    <div id="content-main" class="contentMain">
        
        <div id="feedback-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×
                    </button>
                        <h4 class="modal-title">Submit Error Classification Feedback</h4>
                    </div>
                    <div class="modal-body">
                        <form id="feedback-modal-form" class="form-horizontal">
                            <div class="form-group">
                                <label for="feedback-text" class="col-sm-2 control-label">
                          Your Feedback Message
                          </label>
                                <textarea rows="10" cols="50" id="feedback-text" required="">Please review this classification.</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                    </button>
                        <button id="feedback-modal-submit" class="btn btn-primary">Submit
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feedback -->
        <div id="changelist">
            <form id="changelist-form" method="post" novalidate="">
                <input type="hidden" name="csrfmiddlewaretoken" value="BzJ7MpE5jnM2lyqnbJrbEVtNiZc8GLk8udbCXR4ixTJfrCjd1V5zy452hpZwSEiq">
                <input type="hidden" name="action" value="">
                <input name="index" value="0" type="hidden">
                <input class="select-across" name="select_across" value="0" type="hidden">
                <div class="results">
                    <table id="result_list" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="action-checkbox-column">
                                    <input type="checkbox" name="all" [checked]="allcheckbox" (change)="checkAll($event)" (click)="functionCount($event)" />
                                </th>
                                <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                    <div class="cell-wrapper" title="Toggle sorting">
                                        <a class="toggle-link" (click)="applySort('account_Display_Name')">
                                            Name
                                        <span class="sortoptions sortdirectionn">
                                                <span class="" [ngClass]="connectorName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="connectorName_arrow"></span>
                                        </span>
                                        </a>
                                        <div class="sortoptions remove">
                                            <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                    <div class="cell-wrapper" title="Toggle sorting">
                                        <a class="toggle-link" (click)="applySort('connectorName')">
                                            Type
                                        <span class="sortoptions sortdirectionn">
                                                <span class="" [ngClass]="appearanceLogo_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="appearanceLogo_arrow"></span>
                                        </span>
                                        </a>
                                        <div class="sortoptions remove">
                                            <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                        </div>
                                    </div>
                                </th>
                                
                               
                                 
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let connection of pipelinelistarray;let i = index">
                                <td>
                                    <input id="check{{i+1}}" type="checkbox" [(ngModel)]="connection.state" name="something" (change)="findCount(i,$event,connection.connectorid,connection.connectorname,connection.accountid,connection.pipeline)" />
                                </td>
                               
                                <td class="field-stack nowrap"><a  (click)="ConnectionUpdate(connection.connectordisplayname,connection.connectorid,connection.pipeline,connection.connectorname,connection.accountid)" >{{connection.connectordisplayname}}</a> </td>
                                
                                
                                <td class="field-type_logo">
                                    <!-- <img src="assets\images\{{connection.appearanceLogo}}" class="type-logo" alt="{{connection.appearanceLogo}}"> -  -->
                                    {{connection.connectorname}}
                                    <!-- {{connection.connectorid}} -->
                                </td><!-- <td class="field-name" id="{{connection.pipeline}}"><a (click)="ConnectionUpdate(connection.sourceConnectionId,connection.connectorName,connection.sourceConnectorId,connection.appearanceLogo)"  routerLinkActive="ActiveRoute">{{connection.connectordisplayname}}</a></td> -->
                                <!-- <td class="field-auth_status"><img src="assets\images\icon-{{connection.accessgranted}}.svg" alt="error" title="{{connection.accessgranted}}"></td> -->
                                <!-- <td class="field-auth_status">
                                    {{connection.accountid}}
                                     
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-left changelist-botton-row changelist-pagination ">
                    &nbsp;
                    <span class="pagination-element-counter ">{{lengthofpipeline}} Connections</span>
                </div>
            </form>
        </div>
    </div>
</div>
    


    <div class="row" style="padding-top: 20px;">
         <div class="col-md-12">
           <hr>
         </div>
    </div>


    <div class="row">
        <div class="col-md-12" style="padding: 0px;" >
            <div class="col-md-8"  >
              <div class="main-section">
                  <h3 style="margin-bottom: 17.5px;">
                    Available Destination Connection
                  </h3>
              </div>   
          </div>
          <div class="col-md-4">
              
                <!-- <div class="main-section  pull-right" style="padding-top: 14px">
                    <div class="input-bar-item">
                       <input class="css-xpr64j" id="savebtn" type="submit" value="Load" (click)="GetDataForDestinationConnector()">
                   </div>
               </div> -->
                  <div class="main-section  pull-right" style="padding-top: 14px ;padding-right: 5px;">
                      <div class="input-bar-item">
                          <input class="css-xpr64j" id="savebtn" type="submit" routerLink="/extract/destination/Type" value="+ Add New">
                      </div>
                     
                  </div>
              
              
              
          </div>
          <!-- <div class="col-md-1"   >
            <div class="main-section  pull-right" style="padding-top: 14px">
                 <div class="input-bar-item">
                    <input class="css-xpr64j" id="savebtn" type="submit" value="Load">
                </div>
            </div>   
        </div>` -->
          </div>
    </div>
<!-- </div> -->
 
<div class="generic-django-admin-header" style="padding-top: 20px;">
    <div class="main-section">
        <div id="toolbar" class="filter-toolbar" role="toolbar">
            <div class="actions btn-group btn-group-sm">
                <button type="button" class="select-button-secondary" data-toggle="dropdown" style="min-width: 80px;">
                {{_tablecounterload}} of {{_recordLenght}}
       
            </button>
            </div>


        </div>
    </div>

</div>
<div id="content-main" class="contentMain">
    <!-- Feedback -->
    <div id="feedback-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×
                </button>
                    <h4 class="modal-title">Submit Error Classification Feedback</h4>
                </div>
                <div class="modal-body">
                    <form id="feedback-modal-form" class="form-horizontal">
                        <div class="form-group">
                            <label for="feedback-text" class="col-sm-2 control-label">
                      Your Feedback Message
                      </label>
                            <textarea rows="10" cols="50" id="feedback-text" required="">Please review this classification.</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
                </button>
                    <button id="feedback-modal-submit" class="btn btn-primary">Submit
                </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Feedback -->
    <div id="changelist">
        <form id="changelist-form" method="post" novalidate="">
            <input type="hidden" name="csrfmiddlewaretoken" value="BzJ7MpE5jnM2lyqnbJrbEVtNiZc8GLk8udbCXR4ixTJfrCjd1V5zy452hpZwSEiq">
            <input type="hidden" name="action" value="">
            <input name="index" value="0" type="hidden">
            <input class="select-across" name="select_across" value="0" type="hidden">
            <div class="results">
                <table id="result_list" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="action-checkbox-column">
                                <input type="checkbox" name="all" [checked]="allcheckboxload" (change)="checkAllload($event)" (click)="functionCountload($event)" />
                            </th>
                         <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('connectorName')">
                                        Type
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="appearanceLogo_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="appearanceLogo_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('workspaceName')">
                                        Workspace
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="workspaceName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="workspaceName_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('accountDisplayName')">
                                        Name
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="connectorName_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="connectorName_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('accessGranted ')">
                                        Access Granted
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="bstatus_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="bstatus_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link">
                                        Destination Enabled
                                    <!-- <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="bstatus_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="bstatus_arrow"></span>
                                    </span> -->
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting"></a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let connection of _connectionDestination;let i = index">
                            <td>
                                <input   type="checkbox" [(ngModel)]="connection.state" name="something" (change)="findCountload($event,connection.accountID,connection.connectorID,connection.connectorName)" />
                            </td>
                            <td class="field-type_logo"><img  src="assets\images\{{connection.appearanceLogo}}" class="type-logo" alt="{{connection.appearanceLogo}}"> - {{connection.connectorName}}</td>
                            <td class="field-stack nowrap">{{connection.workspaceName}}</td>
                            <td class="field-name" id="{{connection.sourceConnectionId}}"><a  routerLinkActive="ActiveRoute">{{connection.accountDisplayName}}</a></td>
                            <td class="field-auth_status"><img src="assets\images\icon-{{connection.accessGranted}}.svg" alt="error" title="{{connection.accessgranted}}"></td>
                            <td class="field-auth_status">
                                <div class="switch">
                                    <input type="checkbox" name="enabled{{i}}" [(ngModel)]="connection.destinationEnable ">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-left changelist-botton-row changelist-pagination ">
                &nbsp;
                <span class="pagination-element-counter ">{{_recordLenght}} Connections</span>
            </div>
        </form>
    </div>
</div>
</div>