<div id="app">
    <div class="css-1mpcogu">
        <div class="css-11hb4bh" span="9">
            <div class="css-hao5zl">
                <div class="css-1jfqp4a">
                    <div class="css-36lf05">
                        <div class="css-8v8u66">
                            <div class="css-1vkpoll">
                                <div class="css-19hnmvn" tabindex="-1"><span class="css-1atfxbq">Average Fetch time</span></div>
                                <div class="css-1hgtjlv">
                                    <div class="css-19hnmvn" tabindex="-1"><span class="css-19j9ct9">0 sec</span></div>
                                </div>
                            </div>
                            <div class="css-1w8hb3f">
                                <div class="highcharts-1vXJh fluid" data-highcharts-chart="12">
                                    <div id="highcharts-sng9p1y-48" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 219px; height: 18px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <svg version="1.1" class="highcharts-root" width="219" height="18" viewBox="0 0 219 18">
                              <desc>Created with Highcharts 6.1.0</desc>
                              <defs>
                                 <clipPath id="highcharts-sng9p1y-49">
                                    <rect x="0" y="0" width="219" height="18" fill="none"></rect>
                                 </clipPath>
                                 <linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-sng9p1y-50">
                                    <stop offset="0" stop-color="#C7E6E6" stop-opacity="1"></stop>
                                    <stop offset="1" stop-color="rgb(199,230,230)" stop-opacity="0"></stop>
                                 </linearGradient>
                              </defs>
                              <rect fill="none" class="highcharts-background" x="0" y="0" width="219" height="18" rx="0" ry="0"></rect>
                              <rect fill="none" class="highcharts-plot-background" x="0" y="0" width="219" height="18"></rect>
                              <g class="highcharts-grid highcharts-xaxis-grid "></g>
                              <g class="highcharts-grid highcharts-yaxis-grid "></g>
                              <rect fill="none" class="highcharts-plot-border" x="0" y="0" width="219" height="18"></rect>
                              <g class="highcharts-axis highcharts-xaxis ">
                                 <path fill="none" class="highcharts-axis-line" d="M 0 18 L 219 18"></path>
                              </g>
                              <g class="highcharts-axis highcharts-yaxis ">
                                 <path fill="none" class="highcharts-axis-line" d="M 0 0 L 0 18"></path>
                              </g>
                              <g class="highcharts-series-group">
                                 <g class="highcharts-series highcharts-series-0 highcharts-areaspline-series " transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-sng9p1y-49)">
                                    <path fill="url(#highcharts-sng9p1y-50)" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 18 60.048387096774 18 C 62.8741935483868 18 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 18 81.241935483871 18 C 84.06774193548381 18 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 18 102.43548387097 18 C 105.261290322582 18 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 18 166.01612903226 18 C 168.84193548387202 18 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 0.8571428571428577 215.46774193548 0.8571428571428577 L 215.46774193548 18 C 215.46774193548 18 211.22903225806198 18 208.40322580645 18 C 205.577419354838 18 204.16451612903202 18 201.33870967742 18 C 198.51290322580803 18 197.100000000002 18 194.27419354839 18 C 191.44838709677398 18 190.03548387096598 18 187.20967741935 18 C 184.383870967738 18 182.97096774193201 18 180.14516129032 18 C 177.31935483870802 18 175.906451612902 18 173.08064516129 18 C 170.254838709678 18 168.84193548387202 18 166.01612903226 18 C 163.190322580648 18 161.777419354842 18 158.95161290323 18 C 156.125806451614 18 154.712903225806 18 151.88709677419 18 C 149.061290322578 18 147.648387096772 18 144.82258064516 18 C 141.996774193548 18 140.583870967742 18 137.75806451613 18 C 134.932258064518 18 133.519354838712 18 130.6935483871 18 C 127.86774193548399 18 126.45483870967601 18 123.62903225806 18 C 120.803225806448 18 119.39032258064199 18 116.56451612903 18 C 113.738709677418 18 112.325806451612 18 109.5 18 C 106.674193548388 18 105.261290322582 18 102.43548387097 18 C 99.609677419356 18 98.196774193549 18 95.370967741935 18 C 92.5451612903222 18 91.13225806451581 18 88.306451612903 18 C 85.4806451612902 18 84.06774193548381 18 81.241935483871 18 C 78.41612903225821 18 77.00322580645181 18 74.177419354839 18 C 71.3516129032258 18 69.9387096774192 18 67.112903225806 18 C 64.2870967741932 18 62.8741935483868 18 60.048387096774 18 C 57.2225806451612 18 55.8096774193548 18 52.983870967742 18 C 50.158064516129194 18 48.7451612903228 18 45.91935483871 18 C 43.093548387096796 18 41.6806451612902 18 38.854838709677 18 C 36.0290322580642 18 34.6161290322578 18 31.790322580645 18 C 28.964516129032198 18 27.5516129032258 18 24.725806451613 18 C 21.900000000000198 18 20.487096774193798 18 17.661290322581 18 C 14.835483870967801 18 13.4225806451612 18 10.596774193548 18 C 7.77096774193524 18 3.5322580645161 18 3.5322580645161 18" class="highcharts-area"></path>
                                    <path fill="none" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 18 60.048387096774 18 C 62.8741935483868 18 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 18 81.241935483871 18 C 84.06774193548381 18 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 18 102.43548387097 18 C 105.261290322582 18 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 18 166.01612903226 18 C 168.84193548387202 18 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 0.8571428571428577 215.46774193548 0.8571428571428577" class="highcharts-graph" stroke="#219B9C" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                                    <path fill="none" d="M -6.4677419354839 18 L 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 18 60.048387096774 18 C 62.8741935483868 18 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 18 81.241935483871 18 C 84.06774193548381 18 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 18 102.43548387097 18 C 105.261290322582 18 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 18 166.01612903226 18 C 168.84193548387202 18 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 0.8571428571428577 215.46774193548 0.8571428571428577 L 225.46774193548 0.8571428571428577" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" class="highcharts-tracker"></path>
                                 </g>
                                 <g class="highcharts-markers highcharts-series-0 highcharts-areaspline-series  highcharts-tracker" transform="translate(0,0) scale(1 1)" clip-path="none"></g>
                              </g>
                              <text x="110" text-anchor="middle" class="highcharts-title" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text>
                              <text x="110" text-anchor="middle" class="highcharts-subtitle" style="color:#666666;fill:#666666;" y="24"></text>
                              <g class="highcharts-axis-labels highcharts-xaxis-labels "></g>
                              <g class="highcharts-axis-labels highcharts-yaxis-labels "></g>
                           </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-1jfqp4a">
                    <div class="css-36lf05">
                        <div class="css-8v8u66">
                            <div class="css-1vkpoll">
                                <div class="css-19hnmvn" tabindex="-1"><span class="css-1atfxbq">Rows processed in the last 30 days</span></div>
                                <div class="css-1hgtjlv">
                                    <div class="css-19hnmvn" tabindex="-1"><span class="css-19j9ct9">0</span></div>
                                </div>
                            </div>
                            <div class="css-1w8hb3f">
                                <div class="highcharts-1vXJh fluid" data-highcharts-chart="13">
                                    <div id="highcharts-sng9p1y-52" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 219px; height: 18px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <svg version="1.1" class="highcharts-root" width="219" height="18" viewBox="0 0 219 18">
                              <desc>Created with Highcharts 6.1.0</desc>
                              <defs>
                                 <clipPath id="highcharts-sng9p1y-53">
                                    <rect x="0" y="0" width="219" height="18" fill="none"></rect>
                                 </clipPath>
                                 <linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-sng9p1y-54">
                                    <stop offset="0" stop-color="#C7E6E6" stop-opacity="1"></stop>
                                    <stop offset="1" stop-color="rgb(199,230,230)" stop-opacity="0"></stop>
                                 </linearGradient>
                              </defs>
                              <rect fill="none" class="highcharts-background" x="0" y="0" width="219" height="18" rx="0" ry="0"></rect>
                              <rect fill="none" class="highcharts-plot-background" x="0" y="0" width="219" height="18"></rect>
                              <g class="highcharts-grid highcharts-xaxis-grid "></g>
                              <g class="highcharts-grid highcharts-yaxis-grid "></g>
                              <rect fill="none" class="highcharts-plot-border" x="0" y="0" width="219" height="18"></rect>
                              <g class="highcharts-axis highcharts-xaxis ">
                                 <path fill="none" class="highcharts-axis-line" d="M 0 18 L 219 18"></path>
                              </g>
                              <g class="highcharts-axis highcharts-yaxis ">
                                 <path fill="none" class="highcharts-axis-line" d="M 0 0 L 0 18"></path>
                              </g>
                              <g class="highcharts-series-group">
                                 <g class="highcharts-series highcharts-series-0 highcharts-areaspline-series " transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-sng9p1y-53)">
                                    <path fill="url(#highcharts-sng9p1y-54)" d="M 3.5322580645161 9 C 3.5322580645161 9 7.77096774193524 9 10.596774193548 9 C 13.4225806451612 9 14.835483870967801 9 17.661290322581 9 C 20.487096774193798 9 21.900000000000198 9 24.725806451613 9 C 27.5516129032258 9 28.964516129032198 9 31.790322580645 9 C 34.6161290322578 9 36.0290322580642 9 38.854838709677 9 C 41.6806451612902 9 43.093548387096796 9 45.91935483871 9 C 48.7451612903228 9 50.158064516129194 9 52.983870967742 9 C 55.8096774193548 9 57.2225806451612 9 60.048387096774 9 C 62.8741935483868 9 64.2870967741932 9 67.112903225806 9 C 69.9387096774192 9 71.3516129032258 9 74.177419354839 9 C 77.00322580645181 9 78.41612903225821 9 81.241935483871 9 C 84.06774193548381 9 85.4806451612902 9 88.306451612903 9 C 91.13225806451581 9 92.5451612903222 9 95.370967741935 9 C 98.196774193549 9 99.609677419356 9 102.43548387097 9 C 105.261290322582 9 106.674193548388 9 109.5 9 C 112.325806451612 9 113.738709677418 9 116.56451612903 9 C 119.39032258064199 9 120.803225806448 9 123.62903225806 9 C 126.45483870967601 9 127.86774193548399 9 130.6935483871 9 C 133.519354838712 9 134.932258064518 9 137.75806451613 9 C 140.583870967742 9 141.996774193548 9 144.82258064516 9 C 147.648387096772 9 149.061290322578 9 151.88709677419 9 C 154.712903225806 9 156.125806451614 9 158.95161290323 9 C 161.777419354842 9 163.190322580648 9 166.01612903226 9 C 168.84193548387202 9 170.254838709678 9 173.08064516129 9 C 175.906451612902 9 177.31935483870802 9 180.14516129032 9 C 182.97096774193201 9 184.383870967738 9 187.20967741935 9 C 190.03548387096598 9 191.44838709677398 9 194.27419354839 9 C 197.100000000002 9 198.51290322580803 9 201.33870967742 9 C 204.16451612903202 9 205.577419354838 9 208.40322580645 9 C 211.22903225806198 9 215.46774193548 9 215.46774193548 9 L 215.46774193548 9 C 215.46774193548 9 211.22903225806198 9 208.40322580645 9 C 205.577419354838 9 204.16451612903202 9 201.33870967742 9 C 198.51290322580803 9 197.100000000002 9 194.27419354839 9 C 191.44838709677398 9 190.03548387096598 9 187.20967741935 9 C 184.383870967738 9 182.97096774193201 9 180.14516129032 9 C 177.31935483870802 9 175.906451612902 9 173.08064516129 9 C 170.254838709678 9 168.84193548387202 9 166.01612903226 9 C 163.190322580648 9 161.777419354842 9 158.95161290323 9 C 156.125806451614 9 154.712903225806 9 151.88709677419 9 C 149.061290322578 9 147.648387096772 9 144.82258064516 9 C 141.996774193548 9 140.583870967742 9 137.75806451613 9 C 134.932258064518 9 133.519354838712 9 130.6935483871 9 C 127.86774193548399 9 126.45483870967601 9 123.62903225806 9 C 120.803225806448 9 119.39032258064199 9 116.56451612903 9 C 113.738709677418 9 112.325806451612 9 109.5 9 C 106.674193548388 9 105.261290322582 9 102.43548387097 9 C 99.609677419356 9 98.196774193549 9 95.370967741935 9 C 92.5451612903222 9 91.13225806451581 9 88.306451612903 9 C 85.4806451612902 9 84.06774193548381 9 81.241935483871 9 C 78.41612903225821 9 77.00322580645181 9 74.177419354839 9 C 71.3516129032258 9 69.9387096774192 9 67.112903225806 9 C 64.2870967741932 9 62.8741935483868 9 60.048387096774 9 C 57.2225806451612 9 55.8096774193548 9 52.983870967742 9 C 50.158064516129194 9 48.7451612903228 9 45.91935483871 9 C 43.093548387096796 9 41.6806451612902 9 38.854838709677 9 C 36.0290322580642 9 34.6161290322578 9 31.790322580645 9 C 28.964516129032198 9 27.5516129032258 9 24.725806451613 9 C 21.900000000000198 9 20.487096774193798 9 17.661290322581 9 C 14.835483870967801 9 13.4225806451612 9 10.596774193548 9 C 7.77096774193524 9 3.5322580645161 9 3.5322580645161 9" class="highcharts-area"></path>
                                    <path fill="none" d="M 3.5322580645161 9 C 3.5322580645161 9 7.77096774193524 9 10.596774193548 9 C 13.4225806451612 9 14.835483870967801 9 17.661290322581 9 C 20.487096774193798 9 21.900000000000198 9 24.725806451613 9 C 27.5516129032258 9 28.964516129032198 9 31.790322580645 9 C 34.6161290322578 9 36.0290322580642 9 38.854838709677 9 C 41.6806451612902 9 43.093548387096796 9 45.91935483871 9 C 48.7451612903228 9 50.158064516129194 9 52.983870967742 9 C 55.8096774193548 9 57.2225806451612 9 60.048387096774 9 C 62.8741935483868 9 64.2870967741932 9 67.112903225806 9 C 69.9387096774192 9 71.3516129032258 9 74.177419354839 9 C 77.00322580645181 9 78.41612903225821 9 81.241935483871 9 C 84.06774193548381 9 85.4806451612902 9 88.306451612903 9 C 91.13225806451581 9 92.5451612903222 9 95.370967741935 9 C 98.196774193549 9 99.609677419356 9 102.43548387097 9 C 105.261290322582 9 106.674193548388 9 109.5 9 C 112.325806451612 9 113.738709677418 9 116.56451612903 9 C 119.39032258064199 9 120.803225806448 9 123.62903225806 9 C 126.45483870967601 9 127.86774193548399 9 130.6935483871 9 C 133.519354838712 9 134.932258064518 9 137.75806451613 9 C 140.583870967742 9 141.996774193548 9 144.82258064516 9 C 147.648387096772 9 149.061290322578 9 151.88709677419 9 C 154.712903225806 9 156.125806451614 9 158.95161290323 9 C 161.777419354842 9 163.190322580648 9 166.01612903226 9 C 168.84193548387202 9 170.254838709678 9 173.08064516129 9 C 175.906451612902 9 177.31935483870802 9 180.14516129032 9 C 182.97096774193201 9 184.383870967738 9 187.20967741935 9 C 190.03548387096598 9 191.44838709677398 9 194.27419354839 9 C 197.100000000002 9 198.51290322580803 9 201.33870967742 9 C 204.16451612903202 9 205.577419354838 9 208.40322580645 9 C 211.22903225806198 9 215.46774193548 9 215.46774193548 9" class="highcharts-graph" stroke="#219B9C" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                                    <path fill="none" d="M -6.4677419354839 9 L 3.5322580645161 9 C 3.5322580645161 9 7.77096774193524 9 10.596774193548 9 C 13.4225806451612 9 14.835483870967801 9 17.661290322581 9 C 20.487096774193798 9 21.900000000000198 9 24.725806451613 9 C 27.5516129032258 9 28.964516129032198 9 31.790322580645 9 C 34.6161290322578 9 36.0290322580642 9 38.854838709677 9 C 41.6806451612902 9 43.093548387096796 9 45.91935483871 9 C 48.7451612903228 9 50.158064516129194 9 52.983870967742 9 C 55.8096774193548 9 57.2225806451612 9 60.048387096774 9 C 62.8741935483868 9 64.2870967741932 9 67.112903225806 9 C 69.9387096774192 9 71.3516129032258 9 74.177419354839 9 C 77.00322580645181 9 78.41612903225821 9 81.241935483871 9 C 84.06774193548381 9 85.4806451612902 9 88.306451612903 9 C 91.13225806451581 9 92.5451612903222 9 95.370967741935 9 C 98.196774193549 9 99.609677419356 9 102.43548387097 9 C 105.261290322582 9 106.674193548388 9 109.5 9 C 112.325806451612 9 113.738709677418 9 116.56451612903 9 C 119.39032258064199 9 120.803225806448 9 123.62903225806 9 C 126.45483870967601 9 127.86774193548399 9 130.6935483871 9 C 133.519354838712 9 134.932258064518 9 137.75806451613 9 C 140.583870967742 9 141.996774193548 9 144.82258064516 9 C 147.648387096772 9 149.061290322578 9 151.88709677419 9 C 154.712903225806 9 156.125806451614 9 158.95161290323 9 C 161.777419354842 9 163.190322580648 9 166.01612903226 9 C 168.84193548387202 9 170.254838709678 9 173.08064516129 9 C 175.906451612902 9 177.31935483870802 9 180.14516129032 9 C 182.97096774193201 9 184.383870967738 9 187.20967741935 9 C 190.03548387096598 9 191.44838709677398 9 194.27419354839 9 C 197.100000000002 9 198.51290322580803 9 201.33870967742 9 C 204.16451612903202 9 205.577419354838 9 208.40322580645 9 C 211.22903225806198 9 215.46774193548 9 215.46774193548 9 L 225.46774193548 9" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" class="highcharts-tracker"></path>
                                 </g>
                                 <g class="highcharts-markers highcharts-series-0 highcharts-areaspline-series  highcharts-tracker" transform="translate(0,0) scale(1 1)" clip-path="none"></g>
                              </g>
                              <text x="110" text-anchor="middle" class="highcharts-title" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text>
                              <text x="110" text-anchor="middle" class="highcharts-subtitle" style="color:#666666;fill:#666666;" y="24"></text>
                              <g class="highcharts-axis-labels highcharts-xaxis-labels "></g>
                              <g class="highcharts-axis-labels highcharts-yaxis-labels "></g>
                           </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-1jfqp4a">
                    <div class="css-36lf05">
                        <div class="css-8v8u66">
                            <div class="css-1vkpoll">
                                <div class="css-19hnmvn" tabindex="-1"><span class="css-1atfxbq">Extracts transferred in the last 30 days</span></div>
                                <div class="css-1hgtjlv">
                                    <div class="css-19hnmvn" tabindex="-1"><span class="css-19j9ct9">0</span></div>
                                </div>
                            </div>
                            <div class="css-1w8hb3f">
                                <div class="highcharts-1vXJh fluid" data-highcharts-chart="14">
                                    <div id="highcharts-sng9p1y-56" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 219px; height: 18px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <svg version="1.1" class="highcharts-root" width="219" height="18" viewBox="0 0 219 18">
                              <desc>Created with Highcharts 6.1.0</desc>
                              <defs>
                                 <clipPath id="highcharts-sng9p1y-57">
                                    <rect x="0" y="0" width="219" height="18" fill="none"></rect>
                                 </clipPath>
                                 <linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-sng9p1y-58">
                                    <stop offset="0" stop-color="#C7E6E6" stop-opacity="1"></stop>
                                    <stop offset="1" stop-color="rgb(199,230,230)" stop-opacity="0"></stop>
                                 </linearGradient>
                              </defs>
                              <rect fill="none" class="highcharts-background" x="0" y="0" width="219" height="18" rx="0" ry="0"></rect>
                              <rect fill="none" class="highcharts-plot-background" x="0" y="0" width="219" height="18"></rect>
                              <g class="highcharts-grid highcharts-xaxis-grid "></g>
                              <g class="highcharts-grid highcharts-yaxis-grid "></g>
                              <rect fill="none" class="highcharts-plot-border" x="0" y="0" width="219" height="18"></rect>
                              <g class="highcharts-axis highcharts-xaxis ">
                                 <path fill="none" class="highcharts-axis-line" d="M 0 18 L 219 18"></path>
                              </g>
                              <g class="highcharts-axis highcharts-yaxis ">
                                 <path fill="none" class="highcharts-axis-line" d="M 0 0 L 0 18"></path>
                              </g>
                              <g class="highcharts-series-group">
                                 <g class="highcharts-series highcharts-series-0 highcharts-areaspline-series " transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-sng9p1y-57)">
                                    <path fill="url(#highcharts-sng9p1y-58)" d="M 3.5322580645161 9 C 3.5322580645161 9 7.77096774193524 9 10.596774193548 9 C 13.4225806451612 9 14.835483870967801 9 17.661290322581 9 C 20.487096774193798 9 21.900000000000198 9 24.725806451613 9 C 27.5516129032258 9 28.964516129032198 9 31.790322580645 9 C 34.6161290322578 9 36.0290322580642 9 38.854838709677 9 C 41.6806451612902 9 43.093548387096796 9 45.91935483871 9 C 48.7451612903228 9 50.158064516129194 9 52.983870967742 9 C 55.8096774193548 9 57.2225806451612 9 60.048387096774 9 C 62.8741935483868 9 64.2870967741932 9 67.112903225806 9 C 69.9387096774192 9 71.3516129032258 9 74.177419354839 9 C 77.00322580645181 9 78.41612903225821 9 81.241935483871 9 C 84.06774193548381 9 85.4806451612902 9 88.306451612903 9 C 91.13225806451581 9 92.5451612903222 9 95.370967741935 9 C 98.196774193549 9 99.609677419356 9 102.43548387097 9 C 105.261290322582 9 106.674193548388 9 109.5 9 C 112.325806451612 9 113.738709677418 9 116.56451612903 9 C 119.39032258064199 9 120.803225806448 9 123.62903225806 9 C 126.45483870967601 9 127.86774193548399 9 130.6935483871 9 C 133.519354838712 9 134.932258064518 9 137.75806451613 9 C 140.583870967742 9 141.996774193548 9 144.82258064516 9 C 147.648387096772 9 149.061290322578 9 151.88709677419 9 C 154.712903225806 9 156.125806451614 9 158.95161290323 9 C 161.777419354842 9 163.190322580648 9 166.01612903226 9 C 168.84193548387202 9 170.254838709678 9 173.08064516129 9 C 175.906451612902 9 177.31935483870802 9 180.14516129032 9 C 182.97096774193201 9 184.383870967738 9 187.20967741935 9 C 190.03548387096598 9 191.44838709677398 9 194.27419354839 9 C 197.100000000002 9 198.51290322580803 9 201.33870967742 9 C 204.16451612903202 9 205.577419354838 9 208.40322580645 9 C 211.22903225806198 9 215.46774193548 9 215.46774193548 9 L 215.46774193548 9 C 215.46774193548 9 211.22903225806198 9 208.40322580645 9 C 205.577419354838 9 204.16451612903202 9 201.33870967742 9 C 198.51290322580803 9 197.100000000002 9 194.27419354839 9 C 191.44838709677398 9 190.03548387096598 9 187.20967741935 9 C 184.383870967738 9 182.97096774193201 9 180.14516129032 9 C 177.31935483870802 9 175.906451612902 9 173.08064516129 9 C 170.254838709678 9 168.84193548387202 9 166.01612903226 9 C 163.190322580648 9 161.777419354842 9 158.95161290323 9 C 156.125806451614 9 154.712903225806 9 151.88709677419 9 C 149.061290322578 9 147.648387096772 9 144.82258064516 9 C 141.996774193548 9 140.583870967742 9 137.75806451613 9 C 134.932258064518 9 133.519354838712 9 130.6935483871 9 C 127.86774193548399 9 126.45483870967601 9 123.62903225806 9 C 120.803225806448 9 119.39032258064199 9 116.56451612903 9 C 113.738709677418 9 112.325806451612 9 109.5 9 C 106.674193548388 9 105.261290322582 9 102.43548387097 9 C 99.609677419356 9 98.196774193549 9 95.370967741935 9 C 92.5451612903222 9 91.13225806451581 9 88.306451612903 9 C 85.4806451612902 9 84.06774193548381 9 81.241935483871 9 C 78.41612903225821 9 77.00322580645181 9 74.177419354839 9 C 71.3516129032258 9 69.9387096774192 9 67.112903225806 9 C 64.2870967741932 9 62.8741935483868 9 60.048387096774 9 C 57.2225806451612 9 55.8096774193548 9 52.983870967742 9 C 50.158064516129194 9 48.7451612903228 9 45.91935483871 9 C 43.093548387096796 9 41.6806451612902 9 38.854838709677 9 C 36.0290322580642 9 34.6161290322578 9 31.790322580645 9 C 28.964516129032198 9 27.5516129032258 9 24.725806451613 9 C 21.900000000000198 9 20.487096774193798 9 17.661290322581 9 C 14.835483870967801 9 13.4225806451612 9 10.596774193548 9 C 7.77096774193524 9 3.5322580645161 9 3.5322580645161 9" class="highcharts-area"></path>
                                    <path fill="none" d="M 3.5322580645161 9 C 3.5322580645161 9 7.77096774193524 9 10.596774193548 9 C 13.4225806451612 9 14.835483870967801 9 17.661290322581 9 C 20.487096774193798 9 21.900000000000198 9 24.725806451613 9 C 27.5516129032258 9 28.964516129032198 9 31.790322580645 9 C 34.6161290322578 9 36.0290322580642 9 38.854838709677 9 C 41.6806451612902 9 43.093548387096796 9 45.91935483871 9 C 48.7451612903228 9 50.158064516129194 9 52.983870967742 9 C 55.8096774193548 9 57.2225806451612 9 60.048387096774 9 C 62.8741935483868 9 64.2870967741932 9 67.112903225806 9 C 69.9387096774192 9 71.3516129032258 9 74.177419354839 9 C 77.00322580645181 9 78.41612903225821 9 81.241935483871 9 C 84.06774193548381 9 85.4806451612902 9 88.306451612903 9 C 91.13225806451581 9 92.5451612903222 9 95.370967741935 9 C 98.196774193549 9 99.609677419356 9 102.43548387097 9 C 105.261290322582 9 106.674193548388 9 109.5 9 C 112.325806451612 9 113.738709677418 9 116.56451612903 9 C 119.39032258064199 9 120.803225806448 9 123.62903225806 9 C 126.45483870967601 9 127.86774193548399 9 130.6935483871 9 C 133.519354838712 9 134.932258064518 9 137.75806451613 9 C 140.583870967742 9 141.996774193548 9 144.82258064516 9 C 147.648387096772 9 149.061290322578 9 151.88709677419 9 C 154.712903225806 9 156.125806451614 9 158.95161290323 9 C 161.777419354842 9 163.190322580648 9 166.01612903226 9 C 168.84193548387202 9 170.254838709678 9 173.08064516129 9 C 175.906451612902 9 177.31935483870802 9 180.14516129032 9 C 182.97096774193201 9 184.383870967738 9 187.20967741935 9 C 190.03548387096598 9 191.44838709677398 9 194.27419354839 9 C 197.100000000002 9 198.51290322580803 9 201.33870967742 9 C 204.16451612903202 9 205.577419354838 9 208.40322580645 9 C 211.22903225806198 9 215.46774193548 9 215.46774193548 9" class="highcharts-graph" stroke="#219B9C" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                                    <path fill="none" d="M -6.4677419354839 9 L 3.5322580645161 9 C 3.5322580645161 9 7.77096774193524 9 10.596774193548 9 C 13.4225806451612 9 14.835483870967801 9 17.661290322581 9 C 20.487096774193798 9 21.900000000000198 9 24.725806451613 9 C 27.5516129032258 9 28.964516129032198 9 31.790322580645 9 C 34.6161290322578 9 36.0290322580642 9 38.854838709677 9 C 41.6806451612902 9 43.093548387096796 9 45.91935483871 9 C 48.7451612903228 9 50.158064516129194 9 52.983870967742 9 C 55.8096774193548 9 57.2225806451612 9 60.048387096774 9 C 62.8741935483868 9 64.2870967741932 9 67.112903225806 9 C 69.9387096774192 9 71.3516129032258 9 74.177419354839 9 C 77.00322580645181 9 78.41612903225821 9 81.241935483871 9 C 84.06774193548381 9 85.4806451612902 9 88.306451612903 9 C 91.13225806451581 9 92.5451612903222 9 95.370967741935 9 C 98.196774193549 9 99.609677419356 9 102.43548387097 9 C 105.261290322582 9 106.674193548388 9 109.5 9 C 112.325806451612 9 113.738709677418 9 116.56451612903 9 C 119.39032258064199 9 120.803225806448 9 123.62903225806 9 C 126.45483870967601 9 127.86774193548399 9 130.6935483871 9 C 133.519354838712 9 134.932258064518 9 137.75806451613 9 C 140.583870967742 9 141.996774193548 9 144.82258064516 9 C 147.648387096772 9 149.061290322578 9 151.88709677419 9 C 154.712903225806 9 156.125806451614 9 158.95161290323 9 C 161.777419354842 9 163.190322580648 9 166.01612903226 9 C 168.84193548387202 9 170.254838709678 9 173.08064516129 9 C 175.906451612902 9 177.31935483870802 9 180.14516129032 9 C 182.97096774193201 9 184.383870967738 9 187.20967741935 9 C 190.03548387096598 9 191.44838709677398 9 194.27419354839 9 C 197.100000000002 9 198.51290322580803 9 201.33870967742 9 C 204.16451612903202 9 205.577419354838 9 208.40322580645 9 C 211.22903225806198 9 215.46774193548 9 215.46774193548 9 L 225.46774193548 9" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" class="highcharts-tracker"></path>
                                 </g>
                                 <g class="highcharts-markers highcharts-series-0 highcharts-areaspline-series  highcharts-tracker" transform="translate(0,0) scale(1 1)" clip-path="none"></g>
                              </g>
                              <text x="110" text-anchor="middle" class="highcharts-title" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text>
                              <text x="110" text-anchor="middle" class="highcharts-subtitle" style="color:#666666;fill:#666666;" y="24"></text>
                              <g class="highcharts-axis-labels highcharts-xaxis-labels "></g>
                              <g class="highcharts-axis-labels highcharts-yaxis-labels "></g>
                           </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-3k9vzf" span="3">
            <div class="css-mh5jdk"><a class="css-19vyr89"><span class="css-12idpux" style="color:white;">Fetch</span></a></div>
        </div>
    </div>
    <div class="css-qpocv">

        <div class="css-1ule69w" span="3">
            <div class="css-1qbrnrg">
                <div class="css-1by9hcn">
                    <div class="css-1c2eaib">
                        <span class="css-12idpux">Destination</span>
                        <div class="css-12tdhbf">
                            <div class="switch">
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <hr class="css-16ccpyb" mx="zero" role="separator" aria-orientation="horizontal">
                    <div class="css-1traygz">
                        <div class="css-18p0dn8"><img class="css-11mi42a" alt="Explore &amp; Present" src="../../../assets/images/ZoomLogoLogin.png" title="Explore &amp; Present"></div>
                    </div>
                </div>
                <div class="css-1by9hcn">
                    <div class="css-1c2eaib">
                        <span class="css-12idpux">Scheduling</span>
                        <div class="css-12tdhbf">
                            <div class="switch">
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <hr class="css-16ccpyb" mx="zero" role="separator" aria-orientation="horizontal">
                    <div class="css-1traygz">
                        <div class="css-6ujv13">
                            <div class="css-s66zvw"><span class="css-12mpsfm">Last Fetch</span><span class="css-1atfxbq">a month ago</span></div>
                            <div class="css-s66zvw"><span class="css-12mpsfm">Next Fetch</span><span class="css-1atfxbq">Manual</span></div>
                        </div>
                    </div>
                </div>
                <div class="css-1by9hcn">
                    <span class="css-1fk366v">Transformations</span>
                    <hr class="css-16ccpyb" mx="zero" role="separator" aria-orientation="horizontal">
                    <div class="css-bguyf2">
                        <a class="css-i0bei4" href="/transformer/transformerconfig/add/?datastream_id=46">
                            <svg class="css-1qq0zwx" fill="currentcolor" viewBox="0 0 24 24">
                     <path d="M13 5v6h6v2h-6v6h-2v-6H5v-2h6V5h2z"></path>
                  </svg> Create script
                        </a>
                        <button class="css-i0bei4" type="button">
                  <svg class="css-1qq0zwx"  fill="currentcolor" viewBox="0 0 24 24">
                     <path d="M6 15.468V18h2.532L16 10.532 13.468 8 6 15.468zm13-8.083L16.611 5 15 6.615 17.389 9 19 7.385z"></path>
                  </svg>
                  Edit scripts
               </button>
                    </div>
                    <hr class="css-16ccpyb" mx="zero" role="separator" aria-orientation="horizontal">
                    <div class="css-1ps2qh4">
                        <div class="css-1ork7c9">
                            <div class="css-2da2pf">
                                <div class="css-19hnmvn" tabindex="-1"><a class="css-10xo2v2" href="/transformer/transformerconfig/4/change/?datastream_id=46">1. ***Template: Addfieldx new metric</a></div>
                            </div>
                        </div>
                        <div class="css-1ork7c9">
                            <div class="css-2da2pf">
                                <div class="css-19hnmvn" tabindex="-1"><a class="css-10xo2v2" href="/transformer/transformerconfig/6/change/?datastream_id=46">2. ***Template: Convertx</a></div>
                            </div>
                        </div>
                        <div class="css-1ork7c9">
                            <div class="css-2da2pf">
                                <div class="css-19hnmvn" tabindex="-1"><a class="css-10xo2v2" href="/transformer/transformerconfig/3/change/?datastream_id=46">3. ***Template: Addfieldx new dimension</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-1by9hcn">
                    <div class="css-1sps544"><span class="css-12idpux">Smart Naming Conventions</span><span class="css-1h4jrd2">Beta</span></div>
                    <hr class="css-16ccpyb" mx="zero" role="separator" aria-orientation="horizontal">
                    <div class="css-1reebyc">
                        <div class="css-1jsno1q"><span class="css-12mpsfm">Proactively and intelligently monitor your naming conventions. Request access now and learn how you can increase data quality and trust.</span><button class="css-8hzys1" type="button">Request Access</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-11hb4bh" span="9">
            <div class="css-qpocv">
                <div class="css-8npdyw" span="4">
                    <app-wedget-activity-monitor></app-wedget-activity-monitor>
                </div>
                <div class="css-8npdyw" span="4">
                    <app-wedget-all-extract></app-wedget-all-extract>
                </div>
                <div class="css-8npdyw" span="4">
                    <app-wedget-allissues></app-wedget-allissues>
                </div>
            </div>
        </div>
    </div>
</div>