<div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Currency Settings</h3>
    </div>
    <div class="tool-section">
    </div>
</div>
<div id="content-main" class="contentMain">
    <form [formGroup]="CurrencySetup" (ngSubmit)="SaveConfig(CurrencySetup.value)" autocomplete="off">
        <fieldset class="module aligned ">
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Apply and enforce workspace setup </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="currencyType" value="first" style="margin-top: -1px;" (click)="showCurrencyType(false)" checked>Use default currency for currency type data
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="currencyType" value="second" style="margin-top: -1px;" (click)="showCurrencyType(true)">Do not use any default currency
                        </div>

                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="SetCurrency">
                <div>
                    <label class="required" for="id_auth">Default currency type (sign) to use in system</label>
                    <div class="related-widget-wrapper">
                        <select class="selectpicker" style="width: 478px;" formControlName="currenceyTypeSign">
                        <option *ngFor="let item of currencyService._CurrencyTypeDropdown" value="{{item.displayText}}">{{item.displayText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Default currency image to use in system</label>
                    <div class="related-widget-wrapper">
                        <input type="file" (change)="onFileChange($event)" accept="image/*" style="height: 28px; padding: 2px 8px; width: 478px;" />
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="currencyCollectedData">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Currency field is mandatory for collecting data</label>
                </div>
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="currencyPrepareData">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Currency field is mandatory for preparing data</label>
                </div>
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="currencyPresentingData">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Currency field is mandatory for presenting data</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="currencyConversion">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Currency conversion is must for mandatory data processing</label>
                </div>
            </div>
            <div class="form-check" style="padding-left: 0px;">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="exchangeRateAndDataConversion">
                <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Use currency conversion value table for exchange rates and data conversion</label>
            </div>


        </fieldset>
        <fieldset class="module aligned ">
            <h2>Currency Display</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Currency name and sign with report headers </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="currencyReportHeaders" value="Show sign" style="margin-top: -1px;">Show sign
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="currencyReportHeaders" value="Do not show" style="margin-top: -1px;">Do not show
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Currency name and sign with Visualization/Charts</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="currencyVisulization" value="Show sign" style="margin-top: -1px;">Show sign
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="currencyVisulization" value="Do not show" style="margin-top: -1px;">Do not show
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Currency name and sign with values in cells</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="currencyValue" value="Show sign" style="margin-top: -1px;">Show sign
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="currencyValue" value="Do not show" style="margin-top: -1px;">Do not show
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Setup Updating</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Apply and enforce currency setup  </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="currencyApplyAndEnforce" value="All child workspaces" style="margin-top: -1px;">All child workspaces
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="currencyApplyAndEnforce" value="Selective child workspaces" style="margin-top: -1px;">Selective child workspaces
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>

        </fieldset>
        <div>
            <div class="css-1qbrnrg">
                <hr class="css-1c3fhlt" mx="zero" role="separator" aria-orientation="horizontal">
                <div class="css-1x62jim">
                    <div class="css-p84alj">
                        <div class="css-rvqhyx"><a class="css-ebx8b0" href="/instagram_business/instagrambusinessdatastream/27/delete/">Delete</a><a class="css-b2qa21" href="/core/apidatastream/clone?pk=27">Clone</a></div>
                    </div>
                    <div class="css-1w7dt24">
                        <div class="css-rvqhyx"><button class="css-b2qa21" type="button" name="_continue">Save and continue editing</button><button class="css-xpr64j" type="submit" name="_save">Save</button><span>{{currencyService.Status_message}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>