<div style="height: 300px">
    <div class="css-1qm07br">
        <span class="css-12l7gva">File Uploader</span>
        <div class="css-1vkpoll">
         <div class="css-1vkpoll">
            <a [ngClass]="addNewConnectoinWizardStyle.ConnectionTypeWizardClass"  >Upload File</a>
           <hr class="css-1higl9s" mx="zero" role="separator" aria-orientation="vertical"></div>
           <div class="css-1vkpoll" *ngIf="addNewConnectoinWizardStyle.TempleteAccountWizard">
            <button class="AddNewConnectionTemplatewizardDisabled"  disabled>Column Mappinng</button>
           <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
        </div>
        <div class="css-1vkpoll" *ngIf="!addNewConnectoinWizardStyle.TempleteAccountWizard">
         <a [ngClass]="addNewConnectoinWizardStyle.TempleteWizardClass">Column Mappinng</a>
        <hr class="css-1higl9s" mx="zero" role="separator" aria-orientation="vertical">
       </div> 
           <div class="css-1vkpoll" *ngIf="addNewConnectoinWizardStyle.SourceAccountDisable">
            <button class="AddNewConnectionSourcewizardDisabled" disabled>Content Mappinng</button>
           <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
        </div>
        <div class="css-1vkpoll" *ngIf="!addNewConnectoinWizardStyle.SourceAccountDisable">
           <a [ngClass]="addNewConnectoinWizardStyle.SourceAccountClass" >Content Mappinng</a>
           <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
           </div>

          <div class="css-1vkpoll" *ngIf="addNewConnectoinWizardStyle.ApplyTransformationDisabled">
            <button class="applytransformationDisabled" disabled>Apply Transformation</button>
           <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
        </div>
        <div class="css-1vkpoll" *ngIf="!addNewConnectoinWizardStyle.ApplyTransformationDisabled">
           <a [ngClass]="addNewConnectoinWizardStyle.ApplyTransformationClass" >Apply Transformation</a>
           <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
           </div>


            <div class="css-1vkpoll" *ngIf="addNewConnectoinWizardStyle.FilePreviewDisabled">
               <button class="FilePreviewDisabled" disabled>Preview</button>
            </div>
           <div class="css-1vkpoll" *ngIf="!addNewConnectoinWizardStyle.FilePreviewDisabled">
              <a [ngClass]="addNewConnectoinWizardStyle.FilePreviewClass" >Preview</a>
               </div>
           </div>
     </div>
    </div>
