.header-style {
    /* height: 40px; */
    background-color: #f8f9f9;
    border-bottom: 1px solid #219b9c;
}
.scriptName{
    width: 250px;
    border: 1px solid transparent; background-color: transparent; padding-left: 4px; color: #343B40;
}
.scriptName:focus{
    /* border: 1px solid rgba(0, 0, 0, .125) !important; */
    outline: 0px auto -webkit-focus-ring-color;
    border: 1px solid rgb(27, 132, 133);
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(27 132 133 / 60%);
}
.textbox-size{
    padding: 2px 15px !important;
    width: 300px !important;
}
.toggle-margin{
    margin-bottom: 20px;
}
.form-group-margin{
    margin-bottom: 15px;
}
.input.e-input, textarea.e-input, .e-input-group, .e-input-group.e-control-wrapper {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
    font-size: 12px !important;
    font-weight: 400 !important;
}
input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
    outline: none !important;
    outline-offset: -2px;
}
.close-button{font-size: 28px;
    line-height: 0.8;
    margin-left: 18px;
}
/* sync fusion */
.e-multi-select-wrapper .e-delim-values {
    font-family: inherit;
    font-size: 12px;
    line-height: 32px;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 6px;
    vertical-align: middle;
}
.control-group-mar-pad{
    margin-bottom: 0px;
    padding: 2px 12px 2px 0
}
.control-pad-left{
    padding-left: 0px;
}
/* Tooltip */
.wrapper {
    width: 50%;
    height: 50%;
}
.wrapper .social-links {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.wrapper .social-links li {
    display: inline-block;
    width: 0;
    text-align: center;
    float: none;
}
.wrapper .social-links li a {
    font-size: 24px;
    color: black;
}
a[data-tooltip].right:before, a[data-tooltip].right:after {
    transform: translateX(0px);
}
a[data-tooltip].right:hover:after, a[data-tooltip].right:hover:before {
    transform: translateX(10px);
}
a[data-tooltip] {
    position: relative;
}
a[data-tooltip]:after, a[data-tooltip]:before {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: transform 200ms ease, opacity 200ms;
    z-index: 99;
}
a[data-tooltip]:before {
    content: attr(data-tooltip);
    background: #e0e0e0;
    color: #343b40;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
a[data-tooltip]:after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: '';
}
a[data-tooltip]:hover:after, a[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 0.85;
    transform: translateY(0px);
}
a[data-tooltip][data-position="right"]:before {
    top: -5%;
    left: 100%;
    margin-left: 10px;
}
a[data-tooltip][data-position="right"]:after {
    border-right-color: #e0e0e0;
    border-left: none;
    top: calc(50% - 6px);
    left: calc(100% + 4px);
}
.example-custom-placeholder {
    margin-top: 10px;
    background: #e0e0e0;
    border: dotted 3px #999;
    min-height: 200px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-row p, form .button, input, select, textarea {
    padding: 2px 2px;
}
.text-box-padding{
    padding-left: 10px;
}

/* End Tooltip */
.summary-show-filter{
    border-radius: 2px !important;
    background-color: rgb(33, 155, 156) !important;
    color: #FFFFFF !important;
     /* margin: 0 4px 0 4px !important; */
     padding: 0px 8px 0 8px !important;
     height: 24px !important;
    }
/* COnfirm dialog box */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.e-btn.e-icon-btn, .e-css.e-btn.e-icon-btn {
    padding: 0 0px !important;
}
/*  end confirm dialog box */