<div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Numbering System Settings</h3>
    </div>
    <div class="tool-section">
    </div>
</div>
<div id="content-main" class="contentMain">
    <form [formGroup]="numeralsSetup" (ngSubmit)="SaveConfig(numeralsSetup.value)" autocomplete="off">
        <fieldset class="module aligned ">
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Select numbering system format to use</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="numberingSystemFormat" value="1" style="margin-top: -1px;">Show American Format (1,000,000.00)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberingSystemFormat" value="2" style="margin-top: -1px;">Show European Format (1.000.000,00)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberingSystemFormat" value="3" style="margin-top: -1px;">Show Sub-continental Format (10,00,000.00)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberingSystemFormat" value="4" style="margin-top: -1px;">Show Without Format (1000000.00)
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Display Setup (Sign)</h2>

            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Select number sign type to use</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="numberSignType" value="1" style="margin-top: -1px;" (click)="showSignFormat(false)">Show Absolute/Un-Signed Number
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberSignType" value="2" style="margin-top: -1px;" (click)="showSignFormat(true)">Show Signed Number
                        </div>

                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="numberingSystemFormatToggle">
                <div>
                    <label class="required" for="id_auth">Select sign format to use</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="signFormat" value="Default sign: 100 / -100" style="margin-top: -1px;">Default sign: 100 / -100
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="signFormat" value="Accountant sign: 100 / (100)" style="margin-top: -1px;">Accountant sign: 100 / (100)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="signFormat" value="Leading sign: +100 / -100" style="margin-top: -1px;">Leading sign: +100 / -100
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="signFormat" value="Trailing sign: 100+ / 100-" style="margin-top: -1px;">Trailing sign: 100+ / 100-
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="signFormat" value="Leading sign with short text: (+ve)100 / (-ve)100" style="margin-top: -1px;">Leading sign with short text: (+ve)100 / (-ve)100
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="signFormat" value="Trailing sign with short text: 100(+ve) / 100(-ve)" style="margin-top: -1px;">Trailing sign with short text: 100(+ve) / 100(-ve)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="signFormat" value="Leading with full text: (positive)100 / (negative)100" style="margin-top: -1px;">Leading with full text: (positive)100 / (negative)100
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="signFormat" value="Trailing with full text: 100(positive) / 100(negative)" style="margin-top: -1px;">Trailing with full text: 100(positive) / 100(negative)
                        </div>
                    </div>
                    <div class="help "></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Show positive number color code</label>
                    <div class="related-widget-wrapper">
                        <input type="color" formControlName="PositiveNumbeColorCode" id="favcolor" name="favcolor" style="height: 28px; padding: 2px;">
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Show negative number color code</label>
                    <div class="related-widget-wrapper">
                        <input type="color" formControlName="negitiveNumberColorCode" id="favcolor" name="favcolor" style="height: 28px; padding: 2px;">
                    </div>
                    <div class="help"></div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Show Number after Converting Values</h2>

            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Number conversion required by default?</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="numberConversion" value="1" style="margin-top: -1px;" (click)="shownumberValueConversion(false)">Do not convert, use actual values
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberConversion" value="2" style="margin-top: -1px;" (click)="shownumberValueConversion(true)">Convert values before show
                        </div>

                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="numberValueConversionToggle">
                <div>
                    <label class="required" for="id_auth">Convert number values in one of below</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="numberValueConversion" value="1" style="margin-top: -1px;">Convert to Show (Value in Thousand)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberValueConversion" value="2" style="margin-top: -1px;">Convert to Show (Value in Million)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberValueConversion" value="3" style="margin-top: -1px;">Convert to Show (Value in Billion)
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberValueConversion" value="4" style="margin-top: -1px;">Convert to Show (Value in Trillion)
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>

        </fieldset>
        <fieldset class="module aligned ">
            <h2>Use Number Values</h2>

            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Numeric part to be used</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="numberValue" value="Use Actual number value" style="margin-top: -1px;">Use Actual number value
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberValue" value="Use Whole number only" style="margin-top: -1px;">Use Whole number only
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberValue" value="Use Decimal part only" style="margin-top: -1px;">Use Decimal part only
                        </div>

                    </div>
                    <div class="help"></div>
                </div>
            </div>

            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Select decimal places to show</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="selectiveDecimalPlaces" name="retention_number" id="id_retention_number" class="numberinput form-control" min="0">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="fullDecimalPlaces" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Always show full decimal places</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Use Round off Numbers</h2>

            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Default use round off on number values</label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="roundOffNumbers" value="1" style="margin-top: -1px;" (click)="showselectiveRoundOffPlace(false)">Do not round off values
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="roundOffNumbers" value="2" style="margin-top: -1px;" (click)="showselectiveRoundOffPlace(true)">Apply default round off values
                        </div>

                    </div>
                    <div class="help"></div>
                </div>
            </div>

            <div class="form-row field-stack" *ngIf="selectiveRoundOffPlaceToggle">
                <div>
                    <label class="label-text" for="id_stack">Select round off places to use</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="selectiveRoundOffPlace" name="retention_number" id="id_retention_number" class="numberinput form-control" min="0">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>

        </fieldset>
        <fieldset class="module aligned ">
            <h2>Setup Enforcement</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Apply and enforce number setup </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="numberApplyAndEnforce" value="1" style="margin-top: -1px;">All child workspaces
                        </div>
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="numberApplyAndEnforce" value="2" style="margin-top: -1px;">Selective child workspaces
                        </div>

                    </div>
                    <div class="help"></div>
                </div>
            </div>
        </fieldset>
        <div>
            <div class="css-1qbrnrg ">
                <hr class="css-1c3fhlt " mx="zero " role="separator " aria-orientation="horizontal ">
                <div class="css-1x62jim ">
                    <div class="css-p84alj ">
                        <div class="css-rvqhyx "><a class="css-ebx8b0 " href="/instagram_business/instagrambusinessdatastream/27/delete/ ">Delete</a><a class="css-b2qa21 " href="/core/apidatastream/clone?pk=27 ">Clone</a></div>
                    </div>
                    <div class="css-1w7dt24 ">
                        <div class="css-rvqhyx "><button class="css-b2qa21 " type="button " name="_continue ">Save and continue editing</button>
                            <button class="css-xpr64j " type="submit " name="_save ">Save</button><span>{{numeralsService.Status_message}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>