<div class="container-fluid">
   
    <div class="row">
       <div class="col-md-12" style="padding: 0px;" >
           <div class="col-md-8" >
             <div class="main-section">
                <h3> </h3> 
                <h3>Data Preview</h3>
                
             </div>   
         </div>
         
          
         </div>
   </div>
<div class="row" >
 
   <div class="col col-sm-12 col-md-12" style="min-height: 600px;">
       <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-alpine" [statusBar]="statusBar" [enableRangeSelection]="true" [animateRows]="false" [rowClassRules]="rowClassRules" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
       [rowData]="rowData" [rowHeight]="rowHeight" [headerHeight]="headerHeight" [sideBar]="sideBar" [rowSelection]="rowSelection" [chartThemeOverrides]="chartThemeOverrides" [enableCharts]="true" [rowGroupPanelShow]="rowGroupPanelShow" [skipHeaderOnAutoSize]="skipHeaderOnAutoSize"
       [pivotPanelShow]="pivotPanelShow" [rowDragManaged]="true" (gridReady)="onGridReady($event)"></ag-grid-angular>
   </div>
</div>
</div>

 
