<div *ngIf="_AddNewConnectoinWizardStyleservice.hide_the_main_menu_when_user_authorized" >
    <div id="navbar" style="margin-bottom: 1px;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- <a class="navbar-brand" href="#">
            </a> -->

            <div class="css-18qe4ku">
                <div class="separator-p">
                    <div class="css-u41myu">
                        <a routerLink="/home" style="text-decoration:none; color:#515961;">
                            <img class="css-1uqv71b css-176l2l7" src="../../assets/images/Profileimages/ClientImages/{{this.clientLogo}}" title="{{this.clientName}}">
                            <span style="padding: 3px 6px 0 12px; font-family: 'Open Sans'; font-size: 17px; cursor: pointer;">{{this.clientName}}</span>
                            <!-- <span style="padding: 0 6px 0 12px;font-size: 16px; cursor: pointer;">Zoom 360</span> -->
                        </a>
                    </div>
                    <hr class="separator" mx="zero" role="separator" aria-orientation="vertical">
                    <!-- <div class="css-1mnuzev"> -->
                   <!-- <span style=" padding: 0 12px 0 6px; font-family: 'Open Sans'; font-size: 16px;">Marketing dept.</span> -->
                   <!-- <span style=" padding: 0 12px 0 6px; font-family: 'Open Sans'; font-size: 17px;">{{userName}}</span> -->
                   <span style=" padding: 0 12px 0 6px; font-family: 'Open Sans'; font-size: 17px;" >{{this.companyName}}</span>
                    <!-- <span style="padding: 0 6px 0 12px;font-size: 16px; cursor: pointer;">Marketing dept.</span> -->
                    <!-- 
                  </div> -->

                    <hr class="separator" style="margin: 0% !important;" mx="zero" role="separator" aria-orientation="vertical">
                </div>
            </div>
            <button class="css-1u2frpk navbar-toggler" type="button" data-target="#MyMenubar" data-toggle="collapse" aria-expanded="false" aria-controls="navbarSupportedContent" aria-haspopup="dialog" aria-label="Toggle navigation">
                <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                   <path d="M4 16h16v2H4v-2zm12-5v2H4v-2h12zm4-5v2H4V6h16z"></path>
                </svg>
             </button>
            <div class="collapse navbar-collapse" id="MyMenubar">
                <div class="navbar-nav mr-auto ml-right" id="TopnavbarMenuLink">
                    <div class="nav-list">
                        <ul class="navbar-nav mr-auto ml-auto" id="TopnavbarMenuLink">

                            <li class="nav-item" *ngFor="let item of _mainMenu">
                                <div class=""><a id="{{item.mainManuId}}" class="css-1olq135 nav-list-s main-menu" [routerLink]="'/'+item.url" routerLinkActive="main-menu-active" >{{item.mainMenuName}}</a></div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div>
                    <ul class="navbar-nav">
                        <div class="css-18qe4ku">
                            <div class="css-1dfzm3s" role="menubar" aria-orientation="horizontal">
                                <div class="css-teyu7s">
                                    <div class="css-1mnuzev">
                                        <div class="css-18qe4ku">
                                            <div class="css-u41myu" tabindex="0" aria-describedby="id-9jv11u">
                                                <a class="css-1lf83w2" type="button" aria-expanded="false" aria-controls="id-to0r5h" aria-haspopup="menu" routerLink="/help/helpHome" routerLinkActive="css-1lf83w2">
                                                <svg class="css-1l7xwpx"  fill="currentcolor" viewBox="0 0 24 24">
                                                    <path d="M13 14.328v-.666c0-1.076.369-1.65 1.67-2.418 1.312-.79 2.141-1.926 2.141-3.535C16.811 5.599 15.05 4 12.467 4 9.588 4 8.113 5.773 8 7.975h1.752c.113-1.465 1.096-2.377 2.643-2.377 1.527 0 2.51.933 2.51 2.203 0 1.097-.46 1.742-1.649 2.47-1.404.84-2.06 1.762-2.049 3.114v.943H13zM12.109 19c.666 0 1.168-.512 1.168-1.168 0-.666-.502-1.168-1.168-1.168-.656 0-1.168.502-1.168 1.168 0 .656.512 1.168 1.168 1.168z"></path>
                                                </svg>
                                            </a>
                                            </div>
                                            <div class="css-qowjcb css-m0pid7" id="id-to0r5h" hidden="" role="menu" tabindex="-1" data-dialog="true" aria-orientation="vertical" style="display: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; transform: translate(1160px, 46px);">
                                                <div class="css-1i6yrak"><a class="css-1m7bmg5" id="id-to0r5h-1" tabindex="0" role="menuitem" target="_blank" style="text-decoration: none;">Documentation</a></div>
                                                <div class="css-1i6yrak"><button class="css-1m7bmg5" id="id-to0r5h-2" tabindex="-1" role="menuitem">Contact support</button></div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <img class="css-1uqv71b css-176l2l7" src="assets/images/profilelogo.png" alt="Insights"> -->
                                    <img class="css-1uqv71b css-176l2l7" style="border-radius: 50%;" src="{{this.userProfileImage!=null? '../../assets/images/Profileimages/ClientImages/UserImage/'+this.userProfileImage:'../../assets/images/profilelogo.png'}}" title="{{this.userName}}" alt="Insights"/>
                                    <div class="dropdown">
                                        <button class="dropdown-nav-btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                    <path d="M12 14.172l5.657-5.657 1.414 1.414L12 17 4.929 9.929l1.414-1.414z"></path>
                                    </svg></button>
                                        <div id="myDropdown2" class="dropdown-menu dropdown-content" style="left: -124px;" aria-labelledby="dropdownMenuButton">
                                            <ul class="css-ctqjzd" style="list-style-type: none; margin-bottom: 0px;">
                                                    <!-- <li *ngFor="let item of _modelist">
                                                    <a id="Menu{{item.dropdownValue}}" class="css-1wfdhj main-nav-dropdown-a" (click)="changeMode(item.dropdownValue)">
                                                    {{item.dropdownText}}
                                                    </a>
                                                </li> -->
                                                <li>
                                                    <a id="1" routerLink="/extract/extraction/summary" routerLinkActive="ActiveRoute" class="css-1wfdhj main-nav-dropdown-a" [ngClass]="{'main-nav-dropdown-selected' : applicationMode}" (click)="changeMode(1)">
                                                    Application Mode
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="2" routerLink="/presentationMode/PresentMain/kpi/achivements/digitalsalesdashboard" routerLinkActive="ActiveRoute" class="css-1wfdhj main-nav-dropdown-a" [ngClass]="{'main-nav-dropdown-selected' : presentationMode}" (click)="changeMode(2)">
                                                    Presentation Mode
                                                </a>
                                                </li>
                                                <li>
                                                    <a id="3" routerLink="/timeline/main" routerLinkActive="ActiveRoute" class="css-1wfdhj main-nav-dropdown-a">
                                                    My page
                                                </a>
                                                </li>
                                                <li>
                                                    <a id="4" routerLink="/kpiachivements/achivements" routerLinkActive="ActiveRoute" class="css-1wfdhj main-nav-dropdown-a" (click)="logout()">
                                                    Log out
                                                </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div style="padding-top: 46px;">
    <router-outlet></router-outlet>
</div>
<footer id="footer" class="footer sidebar">
    <p class="footer__version">
        Zoom360 version 0.12.2 | <a target="_blank" href="#">Changelog</a>
    </p>
    <p class="footer__copyright">
        © 2020
        <a href="#" title="Adverity GmbH">Zoom360 Inc</a>. All rights reserved.
        <a href="#">Terms of Service.</a>
    </p>
</footer>