<div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Identity Creation</h3>
    </div>
    <div class="tool-section">
    </div>
</div>
<div id="content-main" class="contentMain">
    <form [formGroup]="IdentityControl" (ngSubmit)="SaveConfig(IdentityControl.value)" autocomplete="off">
        <fieldset class="module aligned ">
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="loginidFormatType" value="1" style="margin-top: -1px;">Login ID requires defined format
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="loginidFormatType" value="2" style="margin-top: -1px;">Not required
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="true">
                <div>
                    <label class="required" for="id_auth">Login ID available formats</label>
                    <div class="related-widget-wrapper">
                        <select formControlName="AvailableFormats" class="selectpicker" style="width: 478px;">
       a                 <option *ngFor="let item of _availableFormats" value="{{item.dropdownValue}}">{{item.dropdownText}}</option>
                        
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Mandatory fields required for Login ID creation</label>
                    <div class="related-widget-wrapper">
                        <select formControlName="MandtoryField" class="selectpicker" style="width: 478px;">
                        <option *ngFor="let item of _mandatoryFields" value="{{item.dropdownValue}}">{{item.dropdownText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="UniqueMandtoryField" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Mandatory fields required for Login ID creation, must be unique</label>
                </div>
            </div>

        </fieldset>
        <fieldset class="module aligned ">
            <h2>Identity Activation</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="LoginActivation" value="1" style="margin-top: -1px;" >Login ID requires activation before use
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="LoginActivation" value="2" style="margin-top: -1px;">Not required
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="ApprovalSuperVisor" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Requires Login ID activation approval by supervisor user</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="ApprovalEmail" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Requires Login ID activation by user through Email</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="ApprovalQRCode" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Requires Login ID activation by user through on-screen QR Code scan</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Identity Verification</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="LoginCaseSensitive" value="1" style="margin-top: -1px;">Login ID must be case sensitive
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio"  formControlName="LoginCaseSensitive" value="2" style="margin-top: -1px;">Not required
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="LoginAuthentication" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Login requires application provided Login ID only</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="SSOAuthentication" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Login requires Single Sign-on (SSO) authentication</label>
                </div>
                <div class="help">Contact application support to activate this option</div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="SSLCertificate" value="1" style="margin-top: -1px;" checked>SSL certificate requires always for login
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="SSLCertificate" value="2" style="margin-top: -1px;">Not required
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
        </fieldset>
        <div>
            <div class="css-1qbrnrg">
                <hr class="css-1c3fhlt" mx="zero" role="separator" aria-orientation="horizontal">
                <div class="css-1x62jim">
                    <div class="css-p84alj">
                        <div class="css-rvqhyx"><a class="css-ebx8b0" href="/instagram_business/instagrambusinessdatastream/27/delete/">Delete</a><a class="css-b2qa21" href="/core/apidatastream/clone?pk=27">Clone</a></div>
                    </div>
                    <div class="css-1w7dt24">
                        <div class="css-rvqhyx"><button class="css-b2qa21" type="button" name="_continue">Save and continue editing</button><button class="css-xpr64j" type="submit" name="_save">Save</button><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>