<div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Date Settings</h3>
    </div>
    <div class="tool-section">
    </div>
</div>
<div id="content-main" class="contentMain">
    <form [formGroup]="TimezoneSetup" (ngSubmit)="SaveConfig(TimezoneSetup.value)" autocomplete="off">
        <fieldset class="module aligned ">
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Apply and enforce workspace setup </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="dataFormatType" value="1" style="margin-top: -1px;" (click)="setdateFormatVisible(false)">Use default date format for date type data
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="dataFormatType" value="2" style="margin-top: -1px;" (click)="setdateFormatVisible(true)">Do not use any default date format
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="dataFormatTypeToggle">
                <div>
                    <label class="required" for="id_auth">Default date format to use in system</label>
                    <div class="related-widget-wrapper">
                        <select class="selectpicker" style="width: 478px;" formControlName="dateFormat">
                        <option *ngFor="let item of timeZoneService._DateFormatDropdown">{{item.displayText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Default clock image to use in system</label>
                    <div class="related-widget-wrapper">
                        <div class="form-row field-stack">
                            <input type="file" (change)="onFileChange($event)" accept="image/*" style="height: 28px; padding: 2px 8px; width: 478px;" />
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="dateCollectedData">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Date field is mandatory for collecting data</label>
                </div>
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="datePreparingData">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Date field is mandatory for preparing data</label>
                </div>
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="datePresentingData">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Date field is mandatory for presenting data</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="dateConversion">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Date conversion is must for mandatory data processing</label>
                </div>
            </div>
            <div class="form-check" style="padding-left: 0px;">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="dateConversionValue">
                <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Use Date conversion value table for date type data conversion</label>
            </div>


        </fieldset>
        <fieldset class="module aligned ">
            <h2>Time Zone Setup</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Apply and enforce workspace setup </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="timeZone" value="1" style="margin-top: -1px;" (click)="setTimeZoneVisible(false)">Use Default time zone
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="timeZone" value="2" style="margin-top: -1px;" (click)="setTimeZoneVisible(true)">Do not use default time zone
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="timeZoneToggle">
                <div>
                    <label class="required" for="id_auth">Default time zone to use in system</label>
                    <div class="related-widget-wrapper">
                        <select class="selectpicker" style="width: 478px;" formControlName="timeZoneType">
                            <option *ngFor="let item of timeZoneService._TimeFormatDropdown">{{item.displayText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Date Display</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Use default date formats in Reports </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="dateFormatReports" value="1" style="margin-top: -1px;" (click)="setdateFormatReports(false)">Do not show date formats
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="dateFormatReports" value="2" style="margin-top: -1px;" (click)="setdateFormatReports(true)">Show date formats
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="dateFormatReportsToggle">
                <div>
                    <label class="required" for="id_auth">Default date format to use in system</label>
                    <div class="related-widget-wrapper">
                        <select class="selectpicker" style="width: 478px;" formControlName="reportsDate">
                            <option *ngFor="let item of timeZoneService._DateFormatDropdown">{{item.displayText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Use default date formats in Visualization and Charts </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="dateFormatVisulization" value="1" style="margin-top: -1px;" (click)="setdateFormatVisulization(false)">Do not show date formats
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="dateFormatVisulization" value="2" style="margin-top: -1px;" (click)="setdateFormatVisulization(true)">Show date formats
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="dateFormatVisulizationToggle">
                <div>
                    <label class="required" for="id_auth">Default date format to use in system</label>
                    <div class="related-widget-wrapper">
                        <select class="selectpicker" style="width: 478px;" formControlName="visulizationDate">
                            <option *ngFor="let item of timeZoneService._DateFormatDropdown">{{item.displayText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Time Display</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Use default time formats in Reports </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="timeFormatReports" value="1" style="margin-top: -1px;" (click)="setTimeFormatReports(false)">Do not show time formats
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="timeFormatReports" value="2" style="margin-top: -1px;" (click)="setTimeFormatReports(true)">Show time formats
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="timeFormatReportsToggle">
                <div>
                    <label class="required" for="id_auth">Default time format to use in system</label>
                    <div class="related-widget-wrapper">
                        <select class="selectpicker" style="width: 478px;" formControlName="reportTime">
                            <option *ngFor="let item of timeZoneService._TimeFormatDropdown">{{item.displayText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Use default time formats in Visualization and Charts </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="timeFormatVisualization" value="1" style="margin-top: -1px;" (click)="setTimeFormatVisualization(false)">Do not show time formats
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="timeFormatVisualization" value="2" style="margin-top: -1px;" (click)="setTimeFormatVisualization(true)">Show time formats
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack" *ngIf="timeFormatVisualizationToggle">
                <div>
                    <label class="required" for="id_auth">Default time format to use in system</label>
                    <div class="related-widget-wrapper">
                        <select class="selectpicker" style="width: 478px;" formControlName="visualizationTime">
                            <option *ngFor="let item of timeZoneService._TimeFormatDropdown">{{item.displayText}}</option>
                      </select>
                    </div>
                    <div class="help"></div>
                </div>
            </div>

        </fieldset>
        <fieldset class="module aligned ">
            <h2>Setup Updating</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Apply and enforce date time setup  </label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="applyAndEnforceDatetime" value="1" style="margin-top: -1px;">All child workspaces
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="applyAndEnforceDatetime" value="2" style="margin-top: -1px;">Selective child workspaces
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>

        </fieldset>
        <div>
            <div class="css-1qbrnrg">
                <hr class="css-1c3fhlt" mx="zero" role="separator" aria-orientation="horizontal">
                <div class="css-1x62jim">
                    <div class="css-p84alj">
                        <div class="css-rvqhyx"><a class="css-ebx8b0" href="/instagram_business/instagrambusinessdatastream/27/delete/">Delete</a><a class="css-b2qa21" href="/core/apidatastream/clone?pk=27">Clone</a></div>
                    </div>
                    <div class="css-1w7dt24">
                        <div class="css-rvqhyx"><button class="css-b2qa21" type="button" name="_continue">Save and continue editing</button><button class="css-xpr64j" type="submit" name="_save">Save</button><span>{{timeZoneService.Status_message}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>