<div class="row" style="padding:20px 10px 20px 10px;">
    <div class="col-sm-12 col-md-10 col-xl-10 col-lg-10 left "style="padding-left: 4px;"  >
        <!-- <div id="text" class="e-btn-group">
       *ngFor="let btn of _buttongroupList;let i=index; "
                <input type="radio" [id]="btn.inputId" [ngClass]="btn.ngClass" [name]="btn.inputName+i" [(click)]="btn.click" [value]="btn.value" [(ngModel)]="btn.ngModel"/>
                <label [id]="btn.labelId"  [for]="btn.htmlAttribute" >{{btn.buttonDisplayName}}</label>
                <input type="radio" id="Today" name="align" value="today" [(ngModel)]="_Filter.lastAccessed"/>
                <label id="Today" [ngClass]="Today"     for="Today" (click)="selected('Today')" (change)="SelectedPeriod('Today')">Today</label>
                <label id="Today" [ngClass]="Today" for="Today" (click)="selected('Today')">Today</label>
                <input type="radio" id="yesterday" name="align" value="Yesterday" [(ngModel)]="_Filter.lastAccessed" />
                <label id="Yesterday" [ngClass]="Yesterday" for="Yesterday" (click)="selected('Yesterday')">Yesterday</label>
                <input type="radio" id="This_Week" name="align" value="This_Week" [(ngModel)]="_Filter.lastAccessed" />
                <label id="This_Week" [ngClass]="This_Week" for="This_Week" (click)="selected('This_Week')" >This week</label> 
                <input type="radio" id="This_Month" name="align" value="This_Month"  [(ngModel)]="_Filter.lastAccessed"/>
                <label id="This_Month" [ngClass]="This_Month" for="This_Month" (click)="selected('This_Month')">This month</label>
                <input type="radio" id="This_Quarter" name="align" value="This_Quarter" [(ngModel)]="_Filter.lastAccessed"  />
                <label id="This_Quarter" [ngClass]="This_Quarter" for="This_Quarter" (click)="selected('This_Quarter')">This quarter</label>
            </div>
        </div> -->
        <div class='e-btn-group' role='group'>
            <input type="radio" id="Today" name="align" value="Today"  [checked]="this.filtersValues.TimeFilter==='Today'" (click)="selected('Today')"/>
            <label class="e-btn myclass" for="Today">Today</label>
            <input type="radio" id="Yesterday" name="align" value="Yesterday"  [checked]="this.filtersValues.TimeFilter==='Yesterday'" (click)="selected('Yesterday')"/>
            <label class="e-btn myclass" for="Yesterday">Yesterday</label>
            <input type="radio" id="This_Week" name="align" value="This_Week"  [checked]="this.filtersValues.TimeFilter ==='This_Week'" (click)="selected('This_Week')"/>
            <label class="e-btn myclass" for="This_Week">This Week</label>
            <input type="radio" id="This_Month" name="align" value="Today"  [checked]="this.filtersValues.TimeFilter ==='This_Month'" (click)="selected('This_Month')"/>
            <label class="e-btn myclass" for="This_Month">This Month</label>
            <input type="radio" id="This_Quarter" name="align" value="Today"  [checked]="this.filtersValues.TimeFilter ==='This_Quarter'" (click)="selected('This_Quarter')"/>
            <label class="e-btn myclass" for="All">This Quarter</label>
            <input type="radio" id="All" name="align" value="All"  [checked]="this.filtersValues.TimeFilter ===null" (click)="selected(null)"/>
            <label class="e-btn myclass" for="This_Quarter">All</label>
        </div>
    </div>
        <!-- <div class='e-btn-group'>
            <button ejs-button cssClass="myclass" *ngFor="let item of buttonlist" [value]="item.dropdownValue">{{item.dropdownText}}</button>
            <button ejs-button>CSS</button>
            <button ejs-button>Javascript</button>
        </div> -->
    <div class="col col-sm-12  col-md-2 col-xl-2 col-lg-2" style="text-align: right; padding:0;">
        
     <button class="summary-show-filter css-showfilterbutton" ejs-dropdownbutton [items]='items' content="{{ButtonGroupFilterContent}}"  (select)="showFilters($event)"></button>

    </div>

</div>
 
<div class="row" *ngIf="_Filter.BasicFilterToggle" >

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0;" >
        
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 1px 3px;">
        <ejs-multiselect id='local' #checkbox [dataSource]='_connectortype'  [allowFiltering]='true' placeholder='Connector Type:All' [fields]='fieldsvalues'
        [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'connectionName')"></ejs-multiselect>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 1px 3px;">
        <ejs-multiselect id='local' #checkbox [dataSource]='_workspace' [allowFiltering]='true'  placeholder='Workspace:All' [fields]='fieldsvalues'
        [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'workspacesName')"></ejs-multiselect>
    </div>
    
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2" style="padding: 1px 3px;">
        
            <button class="search-button button-secondary" type="submit" style="width: 76px; font:bold" (click)="applyFilter()">Find</button>
             
        </div>
</div>
</div>

    <div class="row"  *ngIf="_Filter.AdvanceFilterToggle" style="margin-top:22px; ">
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"  style=" padding: 0 10px 0 0;">

        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 dropdown-Padding">
           
            
            <ejs-multiselect id='local' #checkbox [dataSource]='_DataSources' [allowFiltering]='true' placeholder='Datasources:All' [fields]='fieldsvalues'
        [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'datasource')"></ejs-multiselect>
        </div>
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 dropdown-Padding">
                <ejs-multiselect id='local' #checkbox [dataSource]='_AccessGranted' [allowFiltering]='true' placeholder='Access Granted:All' [fields]='fieldsvalues2'
                [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'accessgranted')"></ejs-multiselect>
           
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 dropdown-Padding ">
            
            <ejs-multiselect id='local' #checkbox [dataSource]='_Enabled' [allowFiltering]='true'  placeholder='Enabled:All' [fields]='fieldsvalues2'
            [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'Isactive')"></ejs-multiselect>
    </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 dropdown-Padding">
   
    <ejs-multiselect id='local' #checkbox [dataSource]='_destinationEnabled' [allowFiltering]='true'  placeholder='Destination Enabled:All' [fields]='fieldsvalues2'
    [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'destinationenable')"></ejs-multiselect>
    </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 dropdown-Padding">
         
        <ejs-multiselect id='local' #checkbox [dataSource]='_lastAccessed' [allowFiltering]='true' placeholder='last Accessed:All' [fields]='fieldsvalues'
        [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'Lastaccessd')"></ejs-multiselect>
    </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 dropdown-Padding">
         
        <ejs-multiselect id='local' #checkbox [dataSource]='_CreatedBy' [allowFiltering]='true'  placeholder='Created By:All' [fields]='fieldsvalues2'
        [mode]='mode' [showDropDownIcon]='true' showSelectAll='true' filterBarPlaceholder='test' (change)="Makelist($event,'createdBy')"></ejs-multiselect>
    </div>
         </div>
  

</div>

<div class="generic-django-admin-header" style="padding-top: 20px;" *ngIf="false">
<div class="main-section">
    <div id="toolbar" class="filter-toolbar" role="toolbar">
        <div class="actions btn-group btn-group-sm">
            <button type="button" class="select-button-secondary" data-toggle="dropdown" style="min-width: 80px;">
            {{_Filter._tablecounter}} of {{_Filter._recordLength}}
   
        </button>
        </div>


    </div>
</div>

</div>

