.e-grid {
    border-radius: 4px;
    border-style: none;
    border-bottom: 1px solid rgba(196,196,196,.5);
    border-width: 1px;
    display: block;
    font-family:"Open Sans" "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
    font-size: 12px;
    height: auto;
    position: relative;
}
.e-grid .e-gridheader {
    border-top: none !important;
    /* height: 40px; */
    background-color: #f8f9f9;
    border-bottom: 1px solid #219b9c;
}
.e-grid .e-headercell {
    color: #343b40;
    font-size: 12px;
    font-weight: 400;
 }

 .e-grid .e-headertext {
    font-weight: 400 !important;
    font-size: 12px !important;
    display: block;
    border: 0 none;
    height: 29px;
    line-height: 30px;
    margin: -7px;
    padding: 0 .7em;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
    box-sizing: border-box;
    height: 25px;
}
input.e-input, .e-input-group input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input.e-input, .e-input-group.e-control-wrapper input, .e-float-input input, .e-float-input.e-input-group input, .e-float-input.e-control-wrapper input, .e-float-input.e-control-wrapper.e-input-group input, .e-input-group, .e-input-group.e-control-wrapper, .e-float-input, .e-float-input.e-control-wrapper {
    border-radius: 2px;
}
input.e-input, .e-input-group input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input.e-input,
 .e-input-group.e-control-wrapper input, .e-float-input input.e-input, .e-float-input input, 
 .e-float-input.e-control-wrapper input.e-input, .e-float-input.e-control-wrapper input, 
 .e-input-group input.e-input:focus, .e-input-group.e-control-wrapper input.e-input:focus, 
 .e-float-input.e-control-wrapper input:focus, .e-float-input input:focus, .e-input-group.e-input-focus input.e-input, .e-input-group.e-control-wrapper.e-input-focus input.e-input, .e-float-input.e-control-wrapper.e-input-focus input, .e-float-input.e-input-focus input {
    padding-left: 4px;
    text-indent: 0;
}
input{
    font-size: 12px;
    font-family:"Open Sans";
    font-weight: 400;

}
.e-grid td.e-active, .e-grid .e-form-titlebar {
    background: linear-gradient(to bottom, rgb(226, 242, 242),rgb(226, 242, 242));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3277b2',endColorstr='#296293',GradientType=0);
    color: rgb(33, 155, 156);
    background-color: rgb(244, 250, 250);
}
.bgColor-test{
background-color: tomato;
}
