
<div class="row" style="margin-bottom:20px">
    <div class="col offset-md-10 offset-lg-10 offset-xl-10 col-sm-12 col-md-2 col-lg-2 col-xl-2">
     <button class="css-xpr64j Right" style="margin-right: 5px;"type="submit" name="_save" (click)="getData()">Load</button>   <button class="css-xpr64j Right" type="submit" name="_save" (click)="save()">Save</button>
    </div>
</div>
<div class="row" style="margin-bottom:20px">
    <div class="col col-sm-12,col-md-12">
        <!-- (rowDataBound)= "rows($event)"         [toolbar]='toolbarOptions' -->
<!-- <ejs-grid #grid [dataSource]="data" [allowSorting]="true" rowHeight="40" [filterSettings]="filterSettings"
gridLines="Horizontal" [editSettings]="editOptions" height='600' [enableInfiniteScrolling]="true"
 [toolbar]="toolbarOptions"> -->
    <!-- <e-columns> -->
        <!-- <e-column *ngFor="let item of columnNameList" field="{{item.columnName}}" headerText='{{item.columnName}}' textAlign='Left' width=90></e-column> -->
        <!-- <e-column field='SourceColumn' headerText='SourceColumn' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='TargetColumn' headerText='TargetColumn' width=120>
               <ng-template #template>
                <ejs-dropdownlist id='_workspace' Name="workspaceDropDown" [dataSource]="_workspaces" [(value)]='workspaceName' [fields]='fieldsvalues' placeholder='Select Model' ></ejs-dropdownlist>
                </ng-template>
        </e-column> -->
          <!--<e-column field='Freight' headerText='Freight' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='OrderDate' headerText='Order Date' textAlign='Right' format='yMd' width=120></e-column> -->
    <!-- </e-columns>      -->
<!-- </ejs-grid> -->

    </div>
</div>
    