<div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Access Locking</h3>
    </div>
    <div class="tool-section">
    </div>
</div>
<div id="content-main" class="contentMain">
    <form [formGroup]="accesslockingSetup" (ngSubmit)="SaveConfig(accesslockingSetup.value)" autocomplete="off">
        <fieldset class="module aligned ">
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="UserLocked" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Lock when password expires</label>
                </div>
                <div class="help">It can only be unlocked, if password reset</div>
            </div>
            <div class="form-row field-stack" style="display: flex;flex-direction: column;">
                <div>
                    <label class="label-text" for="id_stack">Lock when continuous failed attempts (in number)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="FailedAttempt" value="Default" class="vTextField" maxlength="60">
                    </div>
                    <!--  -->
                    <div class="help">
                    </div>
                </div>
                <div>
                    <label class="label-text" for="id_stack">Lock when failed attempts during time interval (in seconds)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="FailedTimeInterval" value="Default" class="vTextField" maxlength="60">
                    </div>
                    <!--  -->
                    <div class="help">

                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Access Unlocking</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="UnlockOption" value="1" style="margin-top: -1px;" checked>Unlock automatically
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="UnlockOption" value="2" style="margin-top: -1px;">Unlock manually
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>

            <div class="form-row field-stack" style="padding-top: 30px;">
                <div>
                    <label class="label-text" for="id_stack">After first successful login (in number of days, include day login)</label>
                    <div class="related-widget-wrapper">
                        <input type="text" formControlName="UnlockTimeInterval" id="id_name" required="" class="vTextField" maxlength="60">
                    </div>
                    <div class="help">
                    </div>
                </div>

            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="UnlockAdministrator" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Unlock manually by administrator user</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="form-check" style="padding-left: 0px;">
                    <input type="checkbox" formControlName="UnlockSupervisor" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Unlock manually by supervisor user</label>
                </div>
            </div>
        </fieldset>
        <div>
            <div class="css-1qbrnrg">
                <hr class="css-1c3fhlt" mx="zero" role="separator" aria-orientation="horizontal">
                <div class="css-1x62jim">
                    <div class="css-p84alj">
                        <div class="css-rvqhyx"><a class="css-ebx8b0" href="/instagram_business/instagrambusinessdatastream/27/delete/">Delete</a><a class="css-b2qa21" href="/core/apidatastream/clone?pk=27">Clone</a></div>
                    </div>
                    <div class="css-1w7dt24">
                        <div class="css-rvqhyx"><button class="css-b2qa21" type="button" name="_continue">Save and continue editing</button><button class="css-xpr64j" type="submit" name="_save">Save</button><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>