<div id="container" class="container-fluid">
    <!--start side bar content-->
    <div class="sidebar-border">
     <div style="width: 224px;"></div>
     <div class="css-1j7c4l9" >
        <div class="css-4468y5">
           <app-left-status-bar></app-left-status-bar>
           
        </div>
     </div>
  </div>
  <!--end side bar content-->
    <!-- Content -->
    <div id="content" >
      <div class="main-content">
        
     <router-outlet></router-outlet>
     </div>
   
     </div>
     <!-- END Content -->
  </div>
  <!-- END Container -->
  <!-- CSRF Logout -->
   <!-- END CSRF Logout -->
