// li>div>a {
//     text-decoration: none;
// }

// .main-nav-dropdown-a {
//     height: 30px !important;
//     padding: 7px 16px 7px 28px !important;
// }

// .main-nav-dropdown-selected {
//     color: rgb(33, 155, 156);
//     background-color: rgb(244, 250, 250);
//     /* border-right-style: solid;
//     border-right-width: 1px;
//     border-right-color: rgb(33, 155, 156); */
// }

// .main-nav-dropdown-selected::before {
//     position: absolute;
//     left: 1.2rem;
//     content: '✓';
//     font-weight: 600;
//     color: rgb(33, 155, 156)
// }