<!-- <div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Password</h3>
    </div>
    <div class="tool-section">
    </div>
</div> -->
<form [formGroup]="SaveUserPassword" (ngSubmit)="SaveConfig(SaveUserPassword.value)" autocomplete="off">
     
<div class="row">
    <div class="col-md-12" style="padding: 0px;" >
        <div class="col-md-4"  >
          <div class="main-section">
              <h3 style="margin-bottom: 17.5px;">
                Password
              </h3>
          </div>   
      </div>
      <div class="col-md-7 col-md-offset-1"  >
          <div class="main-section  pull-right" style="padding-top: 14px">
              <div class="input-bar-item">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="+ Add new user">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Make a copy">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Save changes">
                
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Disable user">
                <input class="css-xpr64j" id="savebtn" type="submit"  routerLink="/govern/accessmanagement/userslist" value="Goto list page">
                   </div>
          </div>   
      </div>
      
    </div>
    </div>
<div id="content-main" class="contentMain">
     <fieldset class="module aligned ">
            <div class="form-row field-stack">
                <div>
                    <!-- <label class="label-text" for="id_stack">Email Address</label> -->
                    <div class="related-widget-wrapper">
                        <input type="password" formControlName="OldPassword" class="vTextField" maxlength="60"><label class="label-text" for="id_stack" style="margin-left: 5px;">Old Password</label><br>
                        <input type="password" formControlName="NewPassword" style="margin-top: 5px;" class="vTextField" maxlength="60"><label class="label-text" for="id_stack" style="margin-left: 5px;">Password</label><br>
                        <input type="password" formControlName="NewPassword" style="margin-top: 5px;" class=" vTextField " maxlength="60 "><label class="label-text " for="id_stack" style="margin-left: 5px;">Retype Password</label>
                        <div class="form-check" style="padding-left: 0px; margin-top: 5px;">
                            <input type="checkbox" formControlName="OverwriteExisting" class="form-check-input " id="exampleCheck1 ">
                            <label class="form-check-label " for="exampleCheck1 " style="margin-left: 20px; ">IP verification required to access</label>
                        </div>
                    </div>
                    <!--  -->
                    <div class="help ">
                        NOTE: Setting up password manually is a risky activity. Try to follow application's password update mechanism
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <!-- <label class="label-text" for="id_stack">Email Address</label> -->
                    <div class="related-widget-wrapper">
                        <button class="css-xpr64j " type="submit " name="_save ">Retrieve recent</button>
                    </div>
                    <!--  -->
                    <div class="help ">
                        It will apply recently used password. Only applicable if user locked due to password expiry
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned " style="height: 205px;">
        </fieldset>   
</div>
</form>