<div style="min-height: 600px;">
    <form #Myform="ngForm">
     
        <div class="main-section ">
          <div   class="header" style="cursor:pointer;" > 
              
          </div>
               <div>
                
                <h3>Account Detail</h3>
               </div>
            </div>
             <div class="tool-section">
            </div>
            <div class="row">
                <div class="col-md-8"> 
                  <fieldset class="module aligned ">
                     <div class="row">
                        <div class="col-md-12">
                         <div class="col-md-9">
                                <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                    <label class="label-text" for="id_stack">Account Display Name : </label><span>{{account_display_name}}</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                    <label class="label-text" for="id_stack">Workspace To Use: </label><span>{{workspace_to_use}}</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                    <label class="label-text" for="id_stack">Enable Connection : </label><span>{{enable_connection}}</span>
                                </div>
                            </div>
                             
                        </div>
                     </div>
                    
                  </fieldset> 
                </div>
               <div class="col-md-3 col-md-offset-1">
                <div>
                    
                    <div class="related-widget-wrapper">
                       <img  src="../../../assets/images/{{src}}" style="min-height: 60px;"   width="100" >
                     </div>
                   </div>
               </div>
              </div>
             <div class="row">
                 <div class="col-md-12">
                 <hr>
                 </div>
             </div>
             <div *ngIf="DBInfo">   
             <div class="main-section ">
                <div   class="header" style="cursor:pointer;" > 
                </div>
                     <div>
                      <h3>Source Detail</h3>
                     </div>
                  </div>
                   <div class="tool-section">
                  </div>
                  <div class="row">
                      <div class="col-md-8"> 
                        <fieldset class="module aligned ">
                           <div class="row">
                              <div class="col-md-12">
                                <div class="col-md-9">
                                    <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                        <label class="label-text" for="id_stack">Source Title: </label><span>{{source_name}}</span>
                                    </div>
                                </div>
                               <div class="col-md-9">
                                      <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                          <label class="label-text" for="id_stack">Host Name: </label><span>{{source_hostname}}</span>
                                      </div>
                                  </div>
                                  <div class="col-md-9">
                                    <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                        <label class="label-text" for="id_stack">Port number: </label><span>{{portnumber}}</span>
                                    </div>
                                </div>
                                  <div class="col-md-9">
                                      <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                          <label class="label-text" for="id_stack">Database Name: </label><span>{{source_DBname}}</span>
                                      </div>
                                  </div>
                                  <div class="col-md-9">
                                      <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                          <label class="label-text" for="id_stack">Username: </label><span>{{source_username}}</span>
                                      </div>
                                  </div>
                                  <div class="col-md-9">
                                    <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                        <label class="label-text" for="id_stack">Password: </label><span>{{source_password}}</span>
                                    </div>
                                </div>
                              </div>
                           </div>
                          
                        </fieldset> 
                      </div>
                     
                    </div>
                </div>
        <div  *ngIf="FileInfo">     

      
                    <div class="row">
                        <div class="col-md-12">
                        <hr>
                        </div>
                    </div>
                    <div class="main-section ">
                       <div   class="header" style="cursor:pointer;" > 
                           
                       </div>
                            <div>
                             
                             <h3>Source Detail</h3>
                            </div>
                         </div>
                          <div class="tool-section">
                         </div>
                         <div class="row">
                             <div class="col-md-8"> 
                               <fieldset class="module aligned ">
                                  <div class="row">
                                     <div class="col-md-12">
                                        <div class="col-md-9">
                                            <div class="form-row field-stack" style="padding: 14px 12px 12px 5px;">
                                                <label class="label-text" for="id_stack">Source Title:  </label><span>{{source_name}}</span>
                                            </div>
                                        </div>
                                      <div class="col-md-9">
                                             <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                                 <label class="label-text" for="id_stack">Filename : </label><span>{{FileName}}</span>
                                             </div>
                                         </div>
                                        
                                       </div>
                                  </div>
                                 
                               </fieldset> 
                             </div>
                            
                           </div>
                        </div>
     
    
             
            </form>
    </div>
    
