<!--start side content-->
<!----------------------->
<!-- <side-bar class="sidebar-border"> -->

<section>
    <div id="container" class="container-fluid">
        <div class="sidebar-border">
            <div style="width: 224px;"></div>
            <div class="css-g4ubxk" style="height: auto;z-index: 0;">
                <div class="css-1he1u4o">
                    <div class="css-lve0xm">
                        <nav class="css-yti68a">

                            <ul class="css-ctqjzd" *ngFor="let item of MenuService.subMenuSection">
                                <li class="css-ucma6b"> {{item.sectionName}} </li>
                                <li *ngFor="let itemsubMenu of item.submenuSectionitems" class="css-15rwz9m">
                                    <a class="css-1wfdhj" routerLink="/govern/users/{{itemsubMenu.url}}" routerLinkActive="ActiveRoute">
                                                {{itemsubMenu.subMenuName}}
                                                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- </side-bar> -->
        <!--end side content-->
        <!----------------------->

        <!--start main content-->
        <!----------------------->
        <div id="content" style="min-height: 665px;">
            <!-- <div class="main-content" style="min-height: 600px;"> -->
            <router-outlet></router-outlet>
            <!-- </div> -->
        </div>
    </div>
</section>