<div class="generic-django-admin-header">

    <div class="main-section">
        <h3 style="margin-bottom: 17.5px;">
            Available Source Accounts
        </h3>
    </div>
</div>
<app-connect-filters (filterValuesOutput)='this.getdata($event)'></app-connect-filters>
 
<div id="content-main" class="contentMain">
    <!-- Feedback -->

    <!-- Feedback -->
    <div id="changelist">
        <form id="changelist-form" method="post" novalidate="">
            <input type="hidden" name="csrfmiddlewaretoken" value="1VtkpwNsgu081yE7r4uFmsvdLFuIL378UzVPAYdFu0Xl7CxXhg83gB7sK5h6XW5q">
            <input type="hidden" name="action" value="">
            <input name="index" value="0" type="hidden">
            <input class="select-across" name="select_across" value="0" type="hidden">
            <div class="results">
                <table id="result_list" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="action-checkbox-column">
                                <div class="cell-wrapper" title="Select all rows">
                                    <div class="text">
                                        <!-- <adverity-checkbox data-id="action-toggle" toggle="adverity-checkbox[name=&quot;_selected_action&quot;]">
                                       </adverity-checkbox> -->
                                        <!-- <div><span class="css-kpk1s7"><input class="css-10d97nj" type="checkbox"><span class="css-jlzago"></span></span>
                                        </div>
                                        <input hidden="" id="action-toggle" class="" data-type="checkbox" style="display: block;"> -->
                                        <input type="checkbox" name="all" [checked]="allcheckbox" (change)="checkAll($event)" (click)="functionCount($event)" />
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('appearanceLogo')">
                                    Type
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]=" sourceType_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="sourceType_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <!-- <th>
                            <div class="cell-wrapper" title="Toggle sorting">
                                <div class="text">
                                    <a (click)="applySort('sourceType')">Type</a>
                                </div>
                            </div>
                            </th> -->
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('workspaceName')">
                                    Workspace
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]="workSpace_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="workSpace_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <!-- <th>
                            <div class="cell-wrapper" title="Sort by Work Space">
                                <div class="text">
                                    <a (click)="applySort('workSpace')">Workspace</a>
                                </div>
                            </div>
                            </th> -->
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('sourceName')">
                                   Display Name
                                    <span class="sortoptions sortdirection">
                                            <span class="" [ngClass]=" sname_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="sname_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('sourceName')">
                                   File Name
                                    <span class="sortoptions sortdirection">
                                            <span class="" [ngClass]=" sname_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="sname_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('destinationEnabled')">
                                    Destination Enabled
                                    <span class="sortoptions sortdirection">
                                            <span class="" [ngClass]=" destination_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="destination_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('nextRun')">
                                        Next Run
                                    <span class="sortoptions sortdirectionn">
                                            <span class="" [ngClass]=" snext_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="snext_arrow"></span>
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" (click)="applySort('serverInsertDate')">
                                        Updated
                                    <span class="sortoptions sortdirectionn">
                                        <span class="" [ngClass]=" supdate_toggle ? 'toggle ascending' : 'toggle descending'" *ngIf="supdate_arrow"></span>
                                            <!-- <span class="toggle ascending"></span> -->
                                    </span>
                                    </a>
                                    <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting" (click)="reloadPage()"></a>
                                    </div>
                                </div>
                            </th>

                            <!-- <th scope="col" class="sortable column-updated" style="display: none;">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <div class="text">
                                        <a href="?o=6.3">UserName</a>
                                    </div>
                                </div>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row1" *ngFor="let item of _gridDataService._StreamData;let i = index">
                            <td>
                                <input class="css-10d97nj" type="checkbox" [(ngModel)]="item.state" name="something" (change)="findCount($event)" />
                            </td>
                            <td class="field-type_logo">
                                <a >
                                    <img src="assets\images\{{item.appearanceLogo}}" class="type-logo" alt="{{item.appearanceLogo}}" title="{{item.appearanceLogo}}"> - {{item.sourceName}}
                                </a>
                            </td>
                            <td class="field-stack nowrap">
                                {{item.workspaceName}}</td>
                            <td class="field-dashboard_link">
                                 
                                    <!-- href="datastreamoverview"  -->
                                    {{item.connectionName}}

                                
                            </td>
                            <td class="field-dashboard_link">
                                <a   routerLinkActive="ActiveRoute" (click)="sourceEdit(item.sourceAccountId,item.filename,item.appearanceLogo,item.sourceName)" >
                                    <!-- href="datastreamoverview"  -->
                                    {{item.filename}}

                                </a>
                            </td>
                            <td class="field-destination_enabled">
                                <div class="switch">
                                    <input type="checkbox" name="toggle{{i}}" [(ngModel)]="item.destinationEnabled" [checked]="item.destinationEnabled">
                                </div>
                                <!-- <img src="assets\images\icon-{{item.destinationEnabled}}.svg " alt="False "> -->
                            </td>
                            <td class="field-local_next_run ">
                                {{item.nextRun}}
                            </td>
                            <td class="field-updated nowrap ">
                                <!-- July 13, 2020, 3:39 a.m. -->
                                {{item.serverInsertDate}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-left changelist-botton-row changelist-pagination">
                &nbsp;
                <span class="pagination-element-counter">{{_gridDataService._recordLength}} Sources  | {{_tablecounter}} Selected</span>
            </div>
        </form>
    </div>
</div>