<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2 left-sidebar">
            <div class="faq">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                    <div class="panel panel-default columnGroup-accordian">
                        <div class="panel-heading-accordian " role="tab" id="headingone">
                            <h3 class="panel-title-gt">
                                <a data-toggle="collapse" data-target="#collapseone" aria-expanded="false" aria-controls="collapseone">Data </a>
                            </h3>
                        </div>
                        <div id="collapseone" class="panel-collapse collapse " aria-labelledby="headingone" data-parent="#accordion">
                            <div style="padding: 5px;">
                                <div role="navigation" class="list-group">
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Account Id
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Account Name
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Identifier
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Media Permalink
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Media Timestamp
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Media Type
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Media Url
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Name
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Post Message
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Text
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Thumbnail Url
                                  </span>
                                  <span class="badge badgeSize-gt">1</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Timestamp
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-dimension">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     User Name
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Comments
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Impressions
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Is Hidden
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Likes
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span></span></div>
                                     Reach
                                  </span>
                                  <span class="badge badgeSize-gt">1</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     CPM (€)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     CTR (%)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     Unique CTR (%)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     VTR (%)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     Video played to 100 (%)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     Video played to 25 (%)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     Video played to 50 (%)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                    <button type="button" class="columnItem-gt list-group-item-metric">
                               <div class="flexbox-gt basisauto-gt shrink1-gt grow0-gt badgeFlexbox-gt">
                                  <span>
                                     <div class="iconThreshold-gt"><span><span><i class="fa"></i> </span></span></div>
                                     Video played to 75 (%)
                                  </span>
                                  <span class="badge badgeSize-gt">0</span>
                               </div>
                            </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="panel panel-default columnGroup-accordian">
                        <div class="panel-heading-accordian " role="tab" id="headingtwo">
                            <h3 class="panel-title-gt">
                                <a data-toggle="collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">Properties</a>
                            </h3>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse " aria-labelledby="headingtwo" data-parent="#accordion">
                            <div>
                                <br>
                                <div id="div_id_retention_number" style="padding: 0 5px 5px 5px;">
                                    <div class="controls form-display">
                                        <div class="from-sidecontent-p ">
                                            <label for="id_retention_number" class="control-label-z ">
                                  Decimal Places:
                                  </label>
                                        </div>
                                    </div>
                                    <input type="number" name="retention_number" id="id_retention_number" class="numberinput form-control-z" min="0">
                                </div>
                                <div id="div_id_retention_number" style="padding: 10px 5px 5px 5px;">
                                    <div class="controls form-display">
                                        <div class="from-sidecontent-p ">
                                            <label for="id_retention_number" class="control-label-z ">
                                  Separator:
                                  </label>
                                        </div>
                                    </div>
                                    <input type="number" name="retention_number" id="id_retention_number" class="numberinput form-control-z" min="0">
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Prefix:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-z" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Sufix:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-z" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Axis:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-z" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Origin:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">use custom origin</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Origin Line:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show origin line</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick label</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Label Align:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <button class="btn-z  btn-primary active ">
                               <i class="fa fa-align-justify" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-left" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-center" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-right" aria-hidden="true"></i>
                               </button>
                                    </div>
                                </div>
                                <div>
                                    <div style="padding: 30px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick label</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick mark on</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;;">
                                        <input type="checkbox">
                                        <label for="scales">show axis title</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="" style="padding: 10px 0 0 0px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;;">
                                        <button class="btn-z  btn-primary active ">
                               <i class="fa fa-align-justify" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-left" aria-hidden="true"></i>
                               </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-md-8 col-lg-8" style=" padding-bottom:24px; border-left:1px solid rgb(221, 224, 228);border-right:1px solid rgb(221, 224, 228);">
            <div class="row">
                <div class=" col-md-6 col-lg-6" style="padding-top:24px;">
                    <div style=" padding:8px;border: 1px solid rgb(221, 224, 228);">
                        <div class="row">
                            <div class="col-md-9">
                                <div style="display: flex;">
                                    <div>
                                        <span style="padding-right: 5px;">Outlier for account</span>
                                    </div>
                                    <div>
                                        <span style="padding-right: 5px;" class="red-label">High</span>
                                    </div>
                                    <div>
                                        <span class="green-label">Conversion</span>
                                    </div>
                                </div>
                                <div style="">
                                    <p style="font-weight: 600;font-size: 12px; margin-top: 0;margin-bottom: 4px;">GDN Advertising</p>
                                </div>
                                <div><span>2349725442</span></div>
                            </div>
                            <div class="col-md-3" style="display: inline-block; text-align: center;">
                                <div>
                                    <img src="assets/images/tbbtyr_nqf.svg" style="width:36%" alt="Google Drive">
                                </div>
                                <div>
                                    <span>
                            Aug 20,2020
                            </span>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top: 24px;">
                            <p style="font-weight: 600; font-size:16px;">
                                Return on Investment
                            </p>
                            <p>We detect an anomaly for your <b>Return on Investment</b> for Aug 19.</p>
                        </div>
                        <div>
                            <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
                            </fusioncharts>
                        </div>
                        <div style="display: flex; justify-content: space-between;     padding: 12px 0 0 0;">
                            <div>
                                <span style="padding-right:24px;"><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-up-solid.svg" alt=""> <label>0</label></span>
                                <span><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-down-solid.svg" alt=""> <label>0</label></span>
                            </div>
                            <div>
                                <button class="btn-light-green">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-6" style="padding-top:24px;">
                    <div style=" padding:8px;border: 1px solid rgb(221, 224, 228);">
                        <div class="row">
                            <div class="col-md-9">
                                <div style="display: flex;">
                                    <div>
                                        <span style="padding-right: 5px;">Outlier for account</span>
                                    </div>
                                    <div>
                                        <span style="padding-right: 5px;" class="red-label">High</span>
                                    </div>
                                    <div>
                                        <span class="green-label">Conversion</span>
                                    </div>
                                </div>
                                <div style=" ">
                                    <p style="font-weight: 600;font-size: 12px; margin-top: 0;margin-bottom: 4px;">US_GC_RTB_Acoount_Gym</p>
                                </div>
                                <div><span>234725824</span></div>
                            </div>
                            <div class="col-md-3" style="display: inline-block; text-align: center;">
                                <div>
                                    <img src="assets/images/instagram_business.svg" style="width:65%" alt="Google Drive">
                                </div>
                                <div>
                                    <span>
                            Aug 20,2020
                            </span>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top: 24px;">
                            <p style="font-weight: 600; font-size:16px;">
                                Cost per Mile
                            </p>
                            <p>We detect an anomaly for your <b>Cost per Mile</b> for August 19.</p>
                        </div>
                        <div>
                            <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource2">
                            </fusioncharts>
                        </div>
                        <div style="display: flex; justify-content: space-between;     padding: 12px 0 0 0;">
                            <div>
                                <span style="padding-right:24px;"><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-up-solid.svg" alt=""> <label>0</label></span>
                                <span><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-down-solid.svg" alt=""> <label>0</label></span>
                            </div>
                            <div>
                                <button class="btn-light-green">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-6" style="padding-top:24px;">
                    <div style=" padding:8px;border: 1px solid rgb(221, 224, 228);">
                        <div class="row">
                            <div class="col-md-9">
                                <div style="display: flex;">
                                    <div>
                                        <span style="padding-right: 5px;">Shift budget to Campaign</span>
                                    </div>
                                    <div>
                                        <span style="padding-right: 5px;" class="red-label">medium</span>
                                    </div>
                                    <div>
                                        <span class="green-label">Conversion</span>
                                    </div>
                                </div>
                                <div style=" ">
                                    <p style="font-weight: 600;font-size: 12px; margin-top: 0;margin-bottom: 4px;">UK_BR_TROAS_Sunglasses</p>
                                </div>
                                <div><span>Fashion Club UK - Microsoft Ads</span></div>
                            </div>
                            <div class="col-md-3" style="display: inline-block; text-align: center;">
                                <div>
                                    <img src="assets/images/linkedin.svg" style="width:65%" alt="Google Drive">
                                </div>
                                <div>
                                    <span>
                            Aug 20,2020
                            </span>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top: 24px;">
                            <p style="font-weight: 600; font-size:16px;">
                                Increase Return on Investment
                            </p>
                            <p>One campaign was identified which is limited in budget.</p>
                            <p>You can schive a higer overall <b>Return on Investment</b>by shifiting budget to this campaign.</p>
                        </div>
                        <div>
                            <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource3">
                            </fusioncharts>
                        </div>
                        <div style="display: flex; justify-content: space-between;     padding: 12px 0 0 0;">
                            <div>
                                <span style="padding-right:24px;"><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-up-solid.svg" alt=""> <label>0</label></span>
                                <span><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-down-solid.svg" alt=""> <label>0</label></span>
                            </div>
                            <div>
                                <button class="btn-light-green">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-6" style="padding-top:24px;">
                    <div style=" padding:8px;border: 1px solid rgb(221, 224, 228);">
                        <div class="row">
                            <div class="col-md-9">
                                <div style="display: flex;">
                                    <div>
                                        <span style="padding-right: 5px;">Outlier for Campaign group</span>
                                    </div>
                                    <div>
                                        <span style="padding-right: 5px;" class="red-label">High</span>
                                    </div>
                                    <div>
                                        <span class="green-label">Consideration</span>
                                    </div>
                                </div>
                                <div style=" ">
                                    <p style="font-weight: 600;font-size: 12px; margin-top: 0;margin-bottom: 4px;">US - Engagment - New</p>
                                </div>
                                <div><span>US - LinkedIn(32422325322)</span></div>
                            </div>
                            <div class="col-md-3" style="display: inline-block; text-align: center;">
                                <div>
                                    <img src="assets/images/g-trends.svg" style="width:65%" alt="Google Drive">
                                </div>
                                <div>
                                    <span>
                            Aug 20,2020
                            </span>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top: 24px;">
                            <p style="font-weight: 600; font-size:16px;">
                                Engagement Rate
                            </p>
                            <p>We detect an anomaly for your <b>Engagement Rate</b> for Aug 19. This campaign group accounts for <b>100.00%</b> of overall volume (Costs) in this account for the last <b>30 days.</b></p>
                        </div>
                        <div>
                            <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource4">
                            </fusioncharts>
                        </div>
                        <div style="display: flex; justify-content: space-between;     padding: 12px 0 0 0;">
                            <div>
                                <span style="padding-right:24px;"><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-up-solid.svg" alt=""> <label>0</label></span>
                                <span><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-down-solid.svg" alt=""> <label>0</label></span>
                            </div>
                            <div>
                                <button class="btn-light-green">Details</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12   col-md-2 col-lg-2 right-sidebar">
            <div class="faq">
                <div class="panel-group" id="accordionEx" role="tablist" aria-multiselectable="false">
                    <div class="panel panel-default columnGroup-accordian">
                        <div class="panel-heading-accordian " role="tab" id="headingthree">
                            <h3 class="panel-title-gt">
                                <a data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">Data </a>
                            </h3>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse " aria-labelledby="headingthree" data-parent="#accordionEx">
                            <div class="side-menu-right-g">
                                <div>
                                    <label for="daterange">Date range</label>
                                    <input type="text">
                                </div>
                                <br>
                                <div>
                                    <label for="">widget types</label>
                                </div>
                                <div>
                                    <span><input type="checkbox" style="margin:0 5px 0 0;">
                            Anomalies
                            </span>
                                </div>
                                <div>
                                    <span><input type="checkbox" style="margin:0 5px 0 0;">
                            Trends
                            </span>
                                </div>
                                <div>
                                    <span><input type="checkbox" style="margin:0 5px 0 0;">
                            Segment Analyses
                            </span>
                                </div>
                                <div>
                                    <span><input type="checkbox" style="margin:0 5px 0 0;">
                            Budget Suggestion
                            </span>
                                </div>
                                <br>
                                <div>
                                    <label for="">Impact</label>
                                </div>
                                <div>
                                    <span><input type="checkbox" style="margin:0 5px 0 0;">
                            High
                            </span>
                                </div>
                                <div>
                                    <span><input type="checkbox" style="margin:0 5px 0 0;">
                            Medium
                            </span>
                                </div>
                                <div>
                                    <span><input type="checkbox" style="margin:0 5px 0 0;">
                            Low
                            </span>
                                </div>
                                <div class="dropdown css-rvqhyx">
                                    <button class="css-fw9vt9" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Schema Actions
                               <svg class="css-15lu7l8" fill="currentcolor" viewBox="0 0 24 24">
                                  <path d="M12 14.172l5.657-5.657 1.414 1.414L12 17 4.929 9.929l1.414-1.414z"></path>
                               </svg>
                            </button>
                                    <div class="dropdown-menu css-1z0bvi8 css-1v6oy02" aria-labelledby="dropdownMenuLink">
                                        <a class="css-sye81a" href="#">Action</a>
                                        <hr class="css-jpogr2" mx="zero" role="separator" aria-orientation="horizontal">
                                        <a class="css-sye81a" href="#">Another action</a>
                                        <hr class="css-jpogr2" mx="zero" role="separator" aria-orientation="horizontal">
                                        <a class="css-sye81a" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="panel panel-default columnGroup-accordian" id="show-pw">
                        <div class="panel-heading-accordian " role="tab" id="headingfour">
                            <h3 class="panel-title-gt">
                                <a data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">Properties</a>
                            </h3>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse " aria-labelledby="headingfour" data-parent="#accordionEx">
                            <div>
                                <br>
                                <div id="div_id_retention_number" style="padding: 0 5px 5px 5px;">
                                    <div class="controls form-display">
                                        <div class="from-sidecontent-p ">
                                            <label for="id_retention_number" class="control-label-z ">
                                  Decimal Places:
                                  </label>
                                        </div>
                                    </div>
                                    <input type="number" name="retention_number" id="id_retention_number" class="numberinput form-control-z" min="0">
                                </div>
                                <div id="div_id_retention_number" style="padding: 10px 5px 5px 5px;">
                                    <div class="controls form-display">
                                        <div class="from-sidecontent-p ">
                                            <label for="id_retention_number" class="control-label-z ">
                                  Separator:
                                  </label>
                                        </div>
                                    </div>
                                    <input type="number" name="retention_number" id="id_retention_number" class="numberinput form-control-z" min="0">
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Prefix:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-z" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Sufix:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-z" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Axis:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-z" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Origin:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">use custom origin</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Origin Line:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show origin line</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick label</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Label Align:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <button class="btn-z  btn-primary active ">
                               <i class="fa fa-align-justify" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-left" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-center" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-right" aria-hidden="true"></i>
                               </button>
                                    </div>
                                </div>
                                <div>
                                    <div style="padding: 30px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick label</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick mark on</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;;">
                                        <input type="checkbox">
                                        <label for="scales">show axis title</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="" style="padding: 10px 0 0 0px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;;">
                                        <button class="btn-z  btn-primary active ">
                               <i class="fa fa-align-justify" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-left" aria-hidden="true"></i>
                               </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>