.for-hover:hover {
    text-decoration: none;
    color: #555;
    background-color: #f5f5f5;
}
.extractlogo 
{
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: 3px;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    max-height: 37px;
    max-width: 100px;
    vertical-align: top;
    overflow: hidden;
    border-width: 0px;
    border-color: rgb(147, 155, 163);
    border-style: solid;
    border-radius: 2px;
}
.arrow_dot{
margin-top: 12px;
margin-right: unset;
margin-bottom: unset;
margin-left: unset;
padding-top: unset;
padding-right: unset;
padding-bottom: unset;
padding-left: unset;
font-family: inherit;
box-sizing: border-box;
height: 24px;
max-width: 100px;
vertical-align: top;
overflow: hidden;
border-width: 0px;
border-color: rgb(147, 155, 163);
border-style: solid;
border-radius: 2px;
}