<!-- <div class="css-7eznv6" style="z-index: 0;">
    <div class="css-8pd3g8" style="z-index: 0;">
        <div class="css-19eq8b8"> <span class="css-1v8nodn">Connection Logs <span class="css-1x48jmz" style="margin-top: 4px;">{{_recordLength}}</span></span>
            <div class="css-f128gq"><span class="css-79bu3q"><a class="css-db069s" role="tab" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" (click)="buttonText()">{{widgetAccorButtonText}}</a></span>
            </div>
        </div>
        <hr class="css-rni0qy" mx="zero" role="separator" aria-orientation="horizontal">
    </div>
    <div id="collapse5" class="panel-collapse collapse" aria-labelledby="heading5" data-parent="#accordion5">
        <div class="for-hover" *ngFor="let recent of ResentModules">
            <div class="" style="min-height: 120px; padding-top: 15px; padding-bottom: 15px;">

                <div class="col-md-3">
                    <span class="add-box-recent">
                  <img src="../../../assets//images/{{recent.appearanceLogo}}" height="40px" width="80px" title="Oracle DBMS" alt="{{recent.connectiontype}}">
                  <span class="box-label-recent " style="white-space:pre-wrap; display: inline-block; margin-bottom: 0px; ">{{recent.connectiontype}}</span>
                    </span>
                </div>
                <div class="col-md-9" style="opacity: 0.8;">
                    <div>
                        <label>
                     Connection Type:<span> {{recent.connectiontype}}</span>
                     </label>
                        <br>
                        <label>
                     Configured Account:<span> {{recent.configuredAccounts}}</span>
                     </label>
                        <br>
                        <label>
                     First Created On:<span> {{recent.firstcreated}}</span>
                     </label>
                        <br>
                        <label>
                     Last Accessed at:<span> {{recent.lastAccessed}}</span>
                     </label>
                        <br>
                        <label>
                     Total Extracts:<span> {{recent.totalextract}}</span>
                     </label>
                    </div>
                </div>


            </div>
            <hr class="css-1mn79hm" mx="zero" role="separator" aria-orientation="horizontal">
        </div>
        <hr class="css-1mn79hm" mx="zero" role="separator" aria-orientation="horizontal">
    </div>
</div> -->
<div class="css-7eznv6" style="z-index: 0;">
    <div class="css-8pd3g8" style="z-index: 0;">
        <div class="css-19eq8b8"> <span class="css-1v8nodn">Connection Logs<span class="css-1x48jmz" style="margin-top: 4px;">{{_recordLength}}</span></span>
            <div class="css-f128gq"><span class="css-79bu3q"><a class="css-db069s" role="tab" id="heading8" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" (click)="buttonText()">{{widgetAccorButtonText}}</a></span>
            </div>
        </div>
        <hr class="css-rni0qy" mx="zero" role="separator" aria-orientation="horizontal">
    </div>
    <div id="collapse8" class="panel-collapse collapse" aria-labelledby="heading8" data-parent="#accordion8"> 
        <div class="for-hover" *ngFor="let recent of ResentModules">
            <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12" style="min-height: 120px;padding:15px 0 15px 0;">
               
                <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2" >
                    <div  style="text-align:center;">
                    <span>
                  <img src="../../../assets//images/{{recent.appearanceLogo}}" style="min-height:47px; max-height: 47px; width: 100%;" title="" alt="{{recent.connectiontype}}">
                  <span class="box-label-recent " style=" font-family: 'Open Sans'; font-size: 11px; white-space:pre-wrap; display: inline-block; margin-bottom: 0px; ">{{recent.connectiontype}}</span>
                    </span>
                </div>
                </div>
                <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1">
                    <div  style="text-align:center;">
                    <span >
                        <img class="css-1uqv71b arrow_dot" src="../assets/images/dot_arrow.svg" alt="Insights"> 
                        
                </span>
            </div>
                </div>
                <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2" >
                    <div  style="text-align:center;">
                    <span>
                  <img src="../../../assets//images/{{recent.destinationLogo}}" style="min-height:47px; max-height: 47px; width: 100%;" title="" alt="{{recent.desConnectorName}}">
                  <span class="box-label-recent " style=" font-family: 'Open Sans'; font-size: 11px; white-space:pre-wrap; display: inline-block; margin-bottom: 0px; ">{{recent.desConnectorName}}</span>
                    </span>
                </div>
                </div>

                <!-- <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2"  >
                    <div style="text-align:center;">
                    <span class="">  -->
                        <!-- <label>Destination:&nbsp;&nbsp;&nbsp;</label> -->
                        <!-- <img class="" src="../assets/images/zoomSmallLogo.png"  style="max-height: 47px; max-width: 47px;" alt="Insights"><br>
                        <span style=" font-family: 'Open Sans'; font-size: 11px; cursor: pointer; padding-top: 8px; white-space: pre-wrap;display: inline-block; margin-bottom: 0px; text-align: center;">ZOOM360</span>
                </span>
            </div>
                </div> -->
                <div class="col-sm-7 col-md-7 col-xl-7 col-lg-7" style="opacity: 0.8;">
                    <div style="padding-bottom: 5px;">
                        <label>
                     Connection Type:<span> {{recent.connectiontype}}</span>
                     </label>
                        <br>
                        <label>
                     Configured Account:<span> {{recent.configuredAccounts}}</span>
                     </label>
                        <br>
                        <label>
                     First Created On:<span> {{recent.firstcreated}}</span>
                     </label>
                        <br>
                        <label>
                     Last Accessed at:<span> {{recent.lastAccessed}}</span>
                     </label>
                        <br>
                        <label>
                     Total Extracts:<span> {{recent.totalextract}}</span>
                     </label>
                   <br>
<!--                     
                    <label>Destination:&nbsp;&nbsp;&nbsp;</label>
                    <img class="css-1uqv71b extractlogo" src="../assets/images/zoomSmallLogo.png" alt="Insights">
                    <span style="padding: 3px 6px 0 6px; font-family: 'Open Sans'; font-size: 12px; cursor: pointer;">ZOOM360</span> -->
            
                </div>
                </div>
            </div>
            <hr class="css-1mn79hm" mx="zero" role="separator" aria-orientation="horizontal">
        </div>
        <hr class="css-1mn79hm" mx="zero" role="separator" aria-orientation="horizontal">
    </div>
</div>