<div style="height:600px;">
    <form>
         
         <div>
         <div class="main-section " >
          <div class="header" style="cursor:pointer;" (click)="ReverseClass()" > 
             <img src='../../../../assets/arrow-left-64.png'   >
          </div>
          <div>
           <h3>STEP 3:</h3> 
           <h3>Select a Template (Optional)</h3>
          </div>
       </div>
       <div class="tool-section">
       </div>
       <div class="row" style="padding: 0px 0 0 0;">
          <div class="col-md-8" > 
        <fieldset class="module aligned" >
         <div class="row">
            <div class="col-md-7">
             <div class="form-row field-stack">
             <div class="list-group">
                <a class="list-group-item"  (click)="NextSourceObject()">
                   <h4 class="list-group-item-heading">Do not need a Template, you will select your own details</h4>
                   <p class="list-group-item-text">
                     Selecting a template is OPTIONAL step.
                     This option will skip this step, 
                   </p>
                </a>
                <br>
                <a class="list-group-item" >
                   <h4 class="list-group-item-heading">Select Template(s) from below list and apply</h4>
                   <p class="list-group-item-text">
                     Template allow to configure all important use case requirements with a single click.
                     This option allows to auto-select objects,
                   </p>
                </a>
             </div>
            </div>
            </div>
         </div>
        </fieldset>
       </div>
       <div class="col-md-3 col-md-offset-1">
         <div>
                     
             
             <div class="related-widget-wrapper">
                 <img  src="../../../assets/images/{{imgname}}" style="min-height: 60px;"   width="100">
              </div>
              
            </div>
        </div>
       </div>
       
    </div>
    <div class="row">
       <div class="col-md-12" >
          <hr>
      </div>
    </div>
    <div class="col-md-12" style="padding: 0px;">
         <div class="main-section">
          <h3>Templates available against the selected connector type</h3>
         </div>
         <div class="tool-section">
         </div>
         <fieldset class="module aligned ">
             <div class="row" style="padding: 0px 0 0 0">
              <div class="col-md-12  col-sm-12">
                 <div id="changelist">
                    <form id="changelist-form" method="post" novalidate="">
                       <input type="hidden" name="csrfmiddlewaretoken" value="BzJ7MpE5jnM2lyqnbJrbEVtNiZc8GLk8udbCXR4ixTJfrCjd1V5zy452hpZwSEiq">
                       <input type="hidden" name="action" value="">
                       <input name="index" value="0" type="hidden">
                       <input class="select-across" name="select_across" value="0" type="hidden">
                       <div class="results">
                          <table id="result_list" class="table table-hover">
                             <thead>
                                <tr>
                                   <th scope="col" class="action-checkbox-column">
                                      <div class="cell-wrapper" title="Select all rows">
                                         <div class="text">
                                            <div data-id="action-toggle" toggle="adverity-checkbox[name=&quot;_selected_action&quot;]">
                                               <div><span class="css-kpk1s7"><input class="css-10d97nj" type="checkbox"><span class="css-jlzago"></span></span></div>
                                               <input hidden="" id="action-toggle" class="" data-type="checkbox" style="display: block;">
                                            </div>
                                         </div>
                                      </div>
                                   </th>
                                   <th scope="col" class="sortable column-type_logo">
                                      <div class="cell-wrapper" title="Toggle sorting">
                                         <div class="text">
                                            <a>Type</a>
                                         </div>
                                      </div>
                                   </th>
                                   <th scope="col" class="sortable column-stack">
                                      <div class="cell-wrapper" title="Toggle sorting">
                                         <div class="text">
                                            <a>Group Name</a>
                                         </div>
                                      </div>
                                   </th>
                                   <th scope="col" class="sortable column-name sorted ascending">
                                      <div class="cell-wrapper" title="Toggle sorting">
                                         <a href="#" class="toggle-link"> 
                                         Connector Name
                                         <span class="sortoptions sortdirectionn">
                                         <span class="toggle ascending"></span>
                                         </span>
                                         </a>
                                         <div class="sortoptions remove">
                                            <a class="sortremove" href="# title = "Remove from sorting></a>
                                         </div>
                                      </div>
                                   </th>
                                   <th scope="col" class="column-auth_status">
                                      <div class="cell-wrapper">
                                         <div class="text">
                                            <span>Account Name</span>
                                         </div>
                                      </div>
                                   </th>
                                   <th scope="col" class="column-auth_status">
                                      <div class="cell-wrapper">
                                         <div class="text">
                                            <span>Date</span>
                                         </div>
                                      </div>
                                   </th>
                                   <th scope="col" class="column-auth_status">
                                      <div class="cell-wrapper">
                                         <div class="text">
                                            <span>Status</span>
                                         </div>
                                      </div>
                                   </th>
                                </tr>
                             </thead>
                             <tbody>
                              <tr class="row1">
                                  <td class="action-checkbox">
                                     <div name="_selected_action" value="26">
                                        <div><span class="css-kpk1s7"><input class="css-10d97nj" type="checkbox"><span class="css-jlzago"></span></span></div>
                                        <input hidden="" name="_selected_action" class="action-select" data-type="checkbox" disabled="">
                                     </div>
                                  </td>
                                  <td class="field-type_logo"><img src="../../../../assets/images/fbcore.svg" class="type-logo" alt="Facebook Authorization"></td>
                                  <td class="field-stack nowrap">Default</td>
                                  <th class="field-name"><a href="#">Facebook Authorization</a></th>
                                  <td class="field-auth_status"><img src="../../../../assets/images/icon-yes.svg" alt="True"></td>
                                  <th class="field-stack nowrap">May 19,2020</th>
                                  <td class="field-auth_status"><img src="../../../../assets/images/icon-yes.svg" alt="True"></td>
    
                               </tr>
                             </tbody>
                          </table>
                       </div>
                       <div class="pull-left changelist-botton-row changelist-pagination">
                          &nbsp;
                          <span class="pagination-element-counter">1 Connections</span>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
       </fieldset>
    </div>
    <div class="row">
       <div class="col-md-12" >
          <hr>
      </div>
    </div>
          
         <div class="form-group pull-right" style="padding: 14px;">
            <div class="input-bar-item">
               <!-- <button class="css-xpr64j" type="submit">Save</button> -->
               <button class="css-xpr64j" type="submit" style="margin-right: -14px;" (click)="NextSourceObject()">{{Templetebutton}}</button>
            </div>
         </div>
        
    </form>
    
    </div>
    
