 
    .e-progressbar,
    #lineardeterminate,
    #linearindeterminate,
    #linearbuffer,
    #linearsegment {
        display: block;
    }

    #control-container {
        padding: 0px !important;
    }

    .replay-progressbar {
        right: 100px;
    }

    .linear-parent {
        text-align: center;
    }

    .progressbar-label {
        text-align: left;
        font-family: Roboto-Regular;
        font-size: 14px;
        color: #3D3E3C;
        letter-spacing: 0;
        margin-top: -2%;
        top: 20px;
        margin-left: 10%;
    }

    .linear-progress {
        width: 80%;
        margin: auto;
    }

    .lineartxt {
        color: black;
        top: 20px;
        left: 10%;
    }

    #successtext {
        color: black;
        top: 20px;
        right: 245px;
    }

    #warningtext {
        color: black;
        top: 20px;
        right: 268px;
    }

    #errortext {
        color: black;
        top: 20px;
        right: 260px;
    }


    .reload-btn {
        text-align: center;
    }

    #reLoad {
        border-radius: 4px;
        text-transform: capitalize;
    }
 