<div class="col-lg-12 col-md-12" style="margin-top:2.5%">
    <div class="col-lg-12 col-md-12 progressbar-label">
        <div class="row">
            <div class="col-lg-8 col-md-8">Buffer</div>
        </div>
    </div>
    <div class="linear-progress">
        <div id="linearbuffer">
            <ejs-progressbar #linear2 id='linear2' [type]='type2' [maximum]='max2' [minimum]='min2'
                [value]='value2' [width]='width' [height]='height2'
                [animation]='animation'
                [secondaryProgress]='secondaryProgress2' (load)='load($event)'>
            </ejs-progressbar>
        </div>
    </div>
</div>
