<!-- <div>
    
    <div class="main-section">
        <div   class="header" style="cursor:pointer;" (click)="Columnmapping()"> 
              <img src='../../../../assets/arrow-left-64.png'>
           </div>
           <div>
            <h3>STEP 3:</h3> 
            <h3>Content Mapping</h3>
           </div>
         
     </div>  
   
 
 <div class="tool-section">
</div>
 <div class="row">
    <div class="col-md-12"> 
      <fieldset class="module aligned " >
         <div class="row">
            <div class="col-md-5">
               <div class="form-row field-stack" style="padding: 28px 47px 12px 5px;">
                  <label class="label-text" for="id_stack">Select Files</label>
                  <div class="related-widget-wrapper">
                    <ejs-dropdownlist id='_workspace'   Name="workspaceDropDown" [dataSource]="_filesnameList" [(value)]='filename' [fields]='fieldsvalues' (change)='changefilename($event)'   placeholder='Select File Name' ></ejs-dropdownlist>
                    </div>
                   <div class="help">
                    <span>
                     file name
                   </span>
                  </div>
                   
              </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-5">
               <div class="form-row field-stack" style="padding: 0px 47px 12px 5px;">
                  <label class="label-text" for="id_stack">Select Models</label>
                  <div class="related-widget-wrapper">
                    <ejs-dropdownlist id='_workspace' Name="workspaceDropDown"  [dataSource]="_modelList" [(value)]='ModelName' [fields]='fieldsvalues'  placeholder='Select Model' ></ejs-dropdownlist>
                    </div>
                   <div class="help">
                    <span>
                     model name
                   </span>
                  </div>
              </div>
            </div>
         </div>
          
       </fieldset> 
   </div>
  </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-12">
       <hr>
   </div>
 </div> -->
 <div class="main-section">
    <h3> </h3>
   </div>
   <div class="tool-section">
   </div>
<div class="row">
<div class="col-md-12  col-sm-12 " >
    <div class="css-gpglrx">
        <div class="css-rvqhyx">
             <div class="css-ha9xgj" role="group">
                <button class="ads_GROUP_ITEM" [ngClass]="FiltersClassessChangeOnselectedAll" type="button" value="all"  (click)="mappingFilter('all')">All</button>
                <button class="ads_GROUP_ITEM"[ngClass]="Mapped" type="button" value="used" (click)="mappingFilter('Mapped')">Mapped</button>
                <button class="ads_GROUP_ITEM" type="button" [ngClass]="upmapped" value="unused" (click)="mappingFilter('unmapped')">Unmapped</button>
            </div>
        </div>
        <div class="css-rvqhyx">
            <button class="css-xpr64j ads_GROUP_ITEM"  type="button" value="used" (click)="CleanMapping()">Clean All Mapping</button>
            <button class="css-xpr64j ads_GROUP_ITEM" type="button"   value="unused" (click)="RestoreDefaultMapping()">Restore Default Mapping</button>
        </div>
    </div>


</div>
<div class="col-md-12  col-sm-12" style="margin-top: 25px;" *ngIf="templateTextbox">
    <div class="css-gpglrx" style="float: right;">
        <div class="css-rvqhyx">
            <input type="text" name="templateName" [(ngModel)]="mappingNewTemplateName" style="width: 285px;" placeholder="Template Name..." class="vTextField" maxlength="60" required>
            <button class="css-fw9vt9" style="color: white;cursor: pointer;width: 64px;" (click)="saveMappingTemplate()">Save</button>
        </div>
    </div>


</div>
<div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 28px 14px 0px 14px;">
    <table id="result_list" class="table table-hover" >
        <thead>
            <tr>
                <th scope="col" class="sortable column-type_logo">
                    <div class="cell-wrapper" title="Toggle sorting">
                        <div class="text">
                            <a>Sr#</a>
                        </div>
                    </div>
                </th>
                <th scope="col" class="sortable column-dashboard_link sorted ascending">
                    <div class="cell-wrapper" title="Toggle sorting">
                        <a class="toggle-link">
                            Source Column
                        </a>
                         
                    </div>
                </th>
                <th scope="col" class="sortable column-dashboard_link sorted ascending">
                    <div class="cell-wrapper" title="Toggle sorting">
                        <a class="toggle-link" >
                           Lookup Table
                        </a>
                    </div>
                </th>
                <th scope="col" class="sortable column-dashboard_link sorted ascending">
                    <div class="cell-wrapper" title="Toggle sorting">
                        <a class="toggle-link" >
                           Lookup Field
                        </a>
                    </div>
                </th>
                <!-- <th scope="col" class="column-auth_status">
                    <div class="cell-wrapper">
                        <div class="text">
                            <span>Key Column</span>
                        </div>
                    </div>
                </th> -->

                <th scope="col" class="column-auth_status">
                    <div class="cell-wrapper">
                        <div class="text">
                            <span>Visible</span>
                        </div>
                    </div>
                </th> 
                 <th scope="col" class="column-auth_status">
                    <div class="cell-wrapper">
                        <div class="text">
                            <span>Image</span>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
             
            <tr  *ngFor="let item of headerList;let i = index">
                
                <td class="field-stack">{{i+1}}</td>
                <td class="field-stack">{{item.SourceColumn}}</td>
               <td class="field-name nowrap" style="width: 400px;" >
                   <ejs-dropdownlist id='_targetcolumn{{i}}' Name="workspaceDropDown" [(ngModel)]="lookuptableselectedvalue[i]" [dataSource]="_gridmodeldata" [fields]='fieldsvalues' placeholder='Select column name' (change)='OnChangeTargetColumnName($event,i,item.SourceColumn)' ></ejs-dropdownlist>
                </td>
                <td class="field-name nowrap" style="width: 400px;" >
                   <ejs-dropdownlist id='_fieldname{{i}}' Name="workspaceDropDownf" [(ngModel)]="fieldColumnselectedvalue[i]" [dataSource]="customAndexistingTable[i]" [fields]='fieldsvalues' placeholder='Select Field name'></ejs-dropdownlist>
                </td>
                <!-- <td>
                    <div class="switch">
                        <input type="checkbox"    name="keycolumn+{{i}}"  [(ngModel)]="item.keycolumn" >
                    </div>
                </td> -->
                <td class="field-stack nowrap">
                    
                        <div class="switch">
                            <input type="checkbox"  name="visibility+{{i}}"  [(ngModel)]="item.visibilty">
                        </div>
                    </td>
                <td class="field-type_logo">
                    None
                </td>

            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="row">
<div class="col-md-12">
   <hr>
</div>
</div>

<div class="main-section  pull-right" style="padding-top: 14px ;">
<div class="input-bar-item">
    <button class="css-xpr64j" (click)="Contentmapping()">
        Save
     </button>
</div>

</div>
<ejs-toast #defaulttoast [position]="position" >                
</ejs-toast>
