#control-container {
    padding: 0px !important;
}
#linear1_Lineartrack, #linear2_Lineartrack, #linear3_Lineartrack, #linear4_Lineartrack {
    opacity: 1 !important;
}
.linear-parent {
    text-align: center;
    /* margin-top: 2%; */
}

.linear-button {
    text-align: center;
}

.linear-progress {
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
}

#reLoad {
    border-radius: 4px;
    text-transform: capitalize;
}
 
/* .e-progressbar{
    min-height: 50px !important;

}
.demo svg{
    position: absolute !important;
    left: 0 !important;

} */
 