<!-- ----------------------------------------------------------------------------------- -->

<!-- <div id="app">
    <div class="row" style="padding:24px 0 24px 0;">
        
        <div class="col col-sm-10 offset-md-2 offset-xl-2 offset-lg-2  col-md-4 col-xl-4 col-lg-4 right" style="text-align: right;">
             
            
                <button class="css-2klymb" routerLink="/extract//AddNewConnection/ConnectorType" >
                    <svg class="css-1w7p77e" fill="currentcolor" viewBox="0 0 24 24" style="height:16px;width:18px; padding-right: 0px;">
                   <path d="M13 5v6h6v2h-6v6h-2v-6H5v-2h6V5h2z"></path>
                </svg>
                    <span class="css-1qsrl3t" style="font-size: 12px;line-height: 13px;">Add New Datastream</span>
                </button>
                
        </div>
  
    </div>
    </div> -->
 
    <div id="app">
        <div class="row">
              <div class="col-md-12" style="padding: 0px;" >
                  <div class="col-md-8"  >
                    <div class="main-section">
                        <h3 style="margin-bottom: 17.5px;">
                          
                        </h3>
                    </div>   
                </div>
                <div class="col-md-4" style="padding: 0px;">
                    
                      <div class="main-section  pull-right" style="padding-top: 14px">
                          
                     </div>
                     <div class="main-section  pull-right" style="padding-top: 14px ;padding-right: 5px;">
                            <div class="input-bar-item">
                                <input class="css-xpr64j" id="savebtn" type="submit" (click)="AddnewConnector()"    value="+ Add New Datastream">
                            </div>
                           
                        </div>
                        <div class="main-section  pull-right" style="padding-top: 14px ;padding-right: 5px;">
                          <div class="input-bar-item">
                              <!-- <input class="css-xpr64j" id="savebtn" type="submit" routerLink="/extract/Uploader/FileUpload" value="+ Import File"> -->
                              <input class="css-xpr64j" id="savebtn" type="submit" (click)="ImportFile()" value="+ Import File">

                              <!-- (click)="nextmove(Myform.value)" -->
                          </div>
                         
                      </div>
                       
                    
                    
                    
                </div>
               
                </div>
          </div>
      
      
          </div>
    
    <div>
            <app-connect-filters (filterValuesOutput)='this.getData($event)' ></app-connect-filters>
        </div>
     
    
    


    <div class="row" *ngIf="false" style="margin-top: 31px;margin-left: 15px;">
        <app-connect-filters></app-connect-filters>
    </div>
    <div class="css-1csdgii">
        <div class="css-svi781" style="padding-left:0; padding-right:0;" span="9">
            <div class="css-1lw09vn">
                <div class="css-m15uzv">
                    <div class="css-1dq8531">
                        <div class="css-1etgkeo">
                            <div class="css-18qe4ku">
                                <div class="css-1m45hbv" tabindex="-1"><span class="css-1fsjk6l">Data Extraction</span>
                                </div>
                                <div class="css-1h000ye">
                                    <div class="css-1m45hbv" tabindex="-1"><span class="css-qzqued">{{_SummaryCounter.extractCountModel.extractionCompleteCount}} out of {{_SummaryCounter.extractCountModel.extractionTotalCount}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="css-43pdm1">
                                <div class="" data-highcharts-chart="0">
                                    <div id="highcharts-g21tqr6-0" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 219px; height: 18px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <svg version="1.1" class="highcharts-root" width="219" height="18" viewBox="0 0 219 18">
                                        <desc>Created with Highcharts 6.1.0</desc>
                                        <defs>
                                            <clipPath id="highcharts-g21tqr6-1">
                                                <rect x="0" y="0" width="219" height="18" fill="none"></rect>
                                            </clipPath>
                                            <linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-g21tqr6-2">
                                                <stop offset="0" stop-color="#C7E6E6" stop-opacity="1"></stop>
                                                <stop offset="1" stop-color="rgb(199,230,230)" stop-opacity="0"></stop>
                                            </linearGradient>
                                        </defs>
                                        <rect fill="none" class="highcharts-background" x="0" y="0" width="219" height="18" rx="0" ry="0"></rect>
                                        <rect fill="none" class="highcharts-plot-background" x="0" y="0" width="219" height="18"></rect>
                                        <g class="highcharts-grid highcharts-xaxis-grid "></g>
                                        <g class="highcharts-grid highcharts-yaxis-grid "></g>
                                        <rect fill="none" class="highcharts-plot-border" x="0" y="0" width="219" height="18"></rect>
                                        <g class="highcharts-axis highcharts-xaxis ">
                                            <path fill="none" class="highcharts-axis-line" d="M 0 18 L 219 18"></path>
                                        </g>
                                        <g class="highcharts-axis highcharts-yaxis ">
                                            <path fill="none" class="highcharts-axis-line" d="M 0 0 L 0 18"></path>
                                        </g>
                                        <g class="highcharts-series-group">
                                            <g class="highcharts-series highcharts-series-0 highcharts-areaspline-series " transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-g21tqr6-1)">
                                                <path fill="url(#highcharts-g21tqr6-2)" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 17.048312182452673 60.048387096774 17.048312182452673 C 62.8741935483868 17.048312182452673 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 0.8571428571428577 74.177419354839 0.8571428571428577 C 77.00322580645181 0.8571428571428577 78.41612903225821 10.896564482587047 81.241935483871 14.325135911158466 C 84.06774193548381 17.753707339729903 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 15.347697282283756 102.43548387097 15.347697282283756 C 105.261290322582 15.347697282283756 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 17.116771197873785 116.56451612903 17.116771197873785 C 119.39032258064199 17.116771197873785 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 15.110248884948053 166.01612903226 15.110248884948053 C 168.84193548387202 15.110248884948053 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 15.014860815473945 201.33870967742 15.014860815473945 C 204.16451612903202 15.014860815473945 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18 L 215.46774193548 18 C 215.46774193548 18 211.22903225806198 18 208.40322580645 18 C 205.577419354838 18 204.16451612903202 18 201.33870967742 18 C 198.51290322580803 18 197.100000000002 18 194.27419354839 18 C 191.44838709677398 18 190.03548387096598 18 187.20967741935 18 C 184.383870967738 18 182.97096774193201 18 180.14516129032 18 C 177.31935483870802 18 175.906451612902 18 173.08064516129 18 C 170.254838709678 18 168.84193548387202 18 166.01612903226 18 C 163.190322580648 18 161.777419354842 18 158.95161290323 18 C 156.125806451614 18 154.712903225806 18 151.88709677419 18 C 149.061290322578 18 147.648387096772 18 144.82258064516 18 C 141.996774193548 18 140.583870967742 18 137.75806451613 18 C 134.932258064518 18 133.519354838712 18 130.6935483871 18 C 127.86774193548399 18 126.45483870967601 18 123.62903225806 18 C 120.803225806448 18 119.39032258064199 18 116.56451612903 18 C 113.738709677418 18 112.325806451612 18 109.5 18 C 106.674193548388 18 105.261290322582 18 102.43548387097 18 C 99.609677419356 18 98.196774193549 18 95.370967741935 18 C 92.5451612903222 18 91.13225806451581 18 88.306451612903 18 C 85.4806451612902 18 84.06774193548381 18 81.241935483871 18 C 78.41612903225821 18 77.00322580645181 18 74.177419354839 18 C 71.3516129032258 18 69.9387096774192 18 67.112903225806 18 C 64.2870967741932 18 62.8741935483868 18 60.048387096774 18 C 57.2225806451612 18 55.8096774193548 18 52.983870967742 18 C 50.158064516129194 18 48.7451612903228 18 45.91935483871 18 C 43.093548387096796 18 41.6806451612902 18 38.854838709677 18 C 36.0290322580642 18 34.6161290322578 18 31.790322580645 18 C 28.964516129032198 18 27.5516129032258 18 24.725806451613 18 C 21.900000000000198 18 20.487096774193798 18 17.661290322581 18 C 14.835483870967801 18 13.4225806451612 18 10.596774193548 18 C 7.77096774193524 18 3.5322580645161 18 3.5322580645161 18" class="highcharts-area"></path>
                                                <path fill="none" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 17.048312182452673 60.048387096774 17.048312182452673 C 62.8741935483868 17.048312182452673 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 0.8571428571428577 74.177419354839 0.8571428571428577 C 77.00322580645181 0.8571428571428577 78.41612903225821 10.896564482587047 81.241935483871 14.325135911158466 C 84.06774193548381 17.753707339729903 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 15.347697282283756 102.43548387097 15.347697282283756 C 105.261290322582 15.347697282283756 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 17.116771197873785 116.56451612903 17.116771197873785 C 119.39032258064199 17.116771197873785 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 15.110248884948053 166.01612903226 15.110248884948053 C 168.84193548387202 15.110248884948053 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 15.014860815473945 201.33870967742 15.014860815473945 C 204.16451612903202 15.014860815473945 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18" class="highcharts-graph" stroke="#219B9C" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                                                <path fill="none" d="M -6.4677419354839 18 L 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 17.048312182452673 60.048387096774 17.048312182452673 C 62.8741935483868 17.048312182452673 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 0.8571428571428577 74.177419354839 0.8571428571428577 C 77.00322580645181 0.8571428571428577 78.41612903225821 10.896564482587047 81.241935483871 14.325135911158466 C 84.06774193548381 17.753707339729903 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 15.347697282283756 102.43548387097 15.347697282283756 C 105.261290322582 15.347697282283756 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 17.116771197873785 116.56451612903 17.116771197873785 C 119.39032258064199 17.116771197873785 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 15.110248884948053 166.01612903226 15.110248884948053 C 168.84193548387202 15.110248884948053 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 15.014860815473945 201.33870967742 15.014860815473945 C 204.16451612903202 15.014860815473945 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18 L 225.46774193548 18" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" class="highcharts-tracker"></path>
                                            </g>
                                            <g class="highcharts-markers highcharts-series-0 highcharts-areaspline-series highcharts-tracker " transform="translate(0,0) scale(1 1)" clip-path="none">
                                                <path fill="#DDE0E4" visibility="hidden" d="M 95 18 A 0 0 0 1 1 95 18 Z" class="highcharts-halo highcharts-color-undefined" fill-opacity="0.25"></path>
                                                <path fill="#DDE0E4" d="M 101 18 A 6 6 0 1 1 100.99999700000025 17.994000000999996 Z" stroke="#ffffff" stroke-width="1" visibility="hidden"></path>
                                            </g>
                                        </g>
                                        <text x="110" text-anchor="middle" class="highcharts-title" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text>
                                        <text x="110" text-anchor="middle" class="highcharts-subtitle" style="color:#666666;fill:#666666;" y="24"></text>
                                        <g class="highcharts-axis-labels highcharts-xaxis-labels "></g>
                                        <g class="highcharts-axis-labels highcharts-yaxis-labels "></g>
                                        <g class="highcharts-label highcharts-tooltip highcharts-color-undefined" style="cursor:default;pointer-events:none;white-space:nowrap;" transform="translate(0,-9999)" opacity="0" visibility="visible">
                                            <path fill="none" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 127.5 0.5 C 130.5 0.5 130.5 0.5 130.5 3.5 L 130.5 31.5 C 130.5 34.5 130.5 34.5 127.5 34.5 L 3.5 34.5 C 0.5 34.5 0.5 34.5 0.5 31.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isshadow="true" stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path>
                                            <path fill="none" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 127.5 0.5 C 130.5 0.5 130.5 0.5 130.5 3.5 L 130.5 31.5 C 130.5 34.5 130.5 34.5 127.5 34.5 L 3.5 34.5 C 0.5 34.5 0.5 34.5 0.5 31.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isshadow="true" stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path>
                                            <path fill="none" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 127.5 0.5 C 130.5 0.5 130.5 0.5 130.5 3.5 L 130.5 31.5 C 130.5 34.5 130.5 34.5 127.5 34.5 L 3.5 34.5 C 0.5 34.5 0.5 34.5 0.5 31.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isshadow="true" stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path>
                                            <path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 127.5 0.5 C 130.5 0.5 130.5 0.5 130.5 3.5 L 130.5 31.5 C 130.5 34.5 130.5 34.5 127.5 34.5 L 3.5 34.5 C 0.5 34.5 0.5 34.5 0.5 31.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#DDE0E4" stroke-width="1"></path>
                                            <text x="8" style="font-size:12px;color:#333333;fill:#333333;" y="20">
                                                <tspan>2020-07-05:</tspan>
                                                <tspan style="font-weight:bold" dx="0">0 sec</tspan>
                                            </text>
                                        </g>
                                    </svg>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-m15uzv">
                    <div class="css-1dq8531">
                        <div class="css-1etgkeo">
                            <div class="css-18qe4ku">
                                <div class="css-1m45hbv" tabindex="-1"><span class="css-1fsjk6l">Data Transformation</span>
                                </div>
                                <div class="css-1h000ye">
                                    <div class="css-1m45hbv" tabindex="-1"><span class="css-qzqued">{{_SummaryCounter.extractCountModel.enrichmentCompleteCount}} out of {{_SummaryCounter.extractCountModel.enrichmentTotalCount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="css-43pdm1">
                                <div class="" data-highcharts-chart="1">
                                    <div id="highcharts-g21tqr6-4" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 219px; height: 18px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <svg version="1.1" class="highcharts-root" width="219" height="18" viewBox="0 0 219 18">
                                      <desc>Created with Highcharts 6.1.0</desc>
                                      <defs>
                                         <clipPath id="highcharts-g21tqr6-5">
                                            <rect x="0" y="0" width="219" height="18" fill="none"></rect>
                                         </clipPath>
                                         <linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-g21tqr6-6">
                                            <stop offset="0" stop-color="#C7E6E6" stop-opacity="1"></stop>
                                            <stop offset="1" stop-color="rgb(199,230,230)" stop-opacity="0"></stop>
                                         </linearGradient>
                                      </defs>
                                      <rect fill="none" class="highcharts-background" x="0" y="0" width="219" height="18" rx="0" ry="0"></rect>
                                      <rect fill="none" class="highcharts-plot-background" x="0" y="0" width="219" height="18"></rect>
                                      <g class="highcharts-grid highcharts-xaxis-grid "></g>
                                      <g class="highcharts-grid highcharts-yaxis-grid "></g>
                                      <rect fill="none" class="highcharts-plot-border" x="0" y="0" width="219" height="18"></rect>
                                      <g class="highcharts-axis highcharts-xaxis ">
                                         <path fill="none" class="highcharts-axis-line" d="M 0 18 L 219 18"></path>
                                      </g>
                                      <g class="highcharts-axis highcharts-yaxis ">
                                         <path fill="none" class="highcharts-axis-line" d="M 0 0 L 0 18"></path>
                                      </g>
                                      <g class="highcharts-series-group">
                                         <g class="highcharts-series highcharts-series-0 highcharts-areaspline-series " transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-g21tqr6-5)">
                                            <path fill="url(#highcharts-g21tqr6-6)" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 13.428571428571429 60.048387096774 13.428571428571429 C 62.8741935483868 13.428571428571429 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 13.26530612244898 81.241935483871 13.26530612244898 C 84.06774193548381 13.26530612244898 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 0.8571428571428577 102.43548387097 0.8571428571428577 C 105.261290322582 0.8571428571428577 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 17.836734693877553 166.01612903226 17.836734693877553 C 168.84193548387202 17.836734693877553 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18 L 215.46774193548 18 C 215.46774193548 18 211.22903225806198 18 208.40322580645 18 C 205.577419354838 18 204.16451612903202 18 201.33870967742 18 C 198.51290322580803 18 197.100000000002 18 194.27419354839 18 C 191.44838709677398 18 190.03548387096598 18 187.20967741935 18 C 184.383870967738 18 182.97096774193201 18 180.14516129032 18 C 177.31935483870802 18 175.906451612902 18 173.08064516129 18 C 170.254838709678 18 168.84193548387202 18 166.01612903226 18 C 163.190322580648 18 161.777419354842 18 158.95161290323 18 C 156.125806451614 18 154.712903225806 18 151.88709677419 18 C 149.061290322578 18 147.648387096772 18 144.82258064516 18 C 141.996774193548 18 140.583870967742 18 137.75806451613 18 C 134.932258064518 18 133.519354838712 18 130.6935483871 18 C 127.86774193548399 18 126.45483870967601 18 123.62903225806 18 C 120.803225806448 18 119.39032258064199 18 116.56451612903 18 C 113.738709677418 18 112.325806451612 18 109.5 18 C 106.674193548388 18 105.261290322582 18 102.43548387097 18 C 99.609677419356 18 98.196774193549 18 95.370967741935 18 C 92.5451612903222 18 91.13225806451581 18 88.306451612903 18 C 85.4806451612902 18 84.06774193548381 18 81.241935483871 18 C 78.41612903225821 18 77.00322580645181 18 74.177419354839 18 C 71.3516129032258 18 69.9387096774192 18 67.112903225806 18 C 64.2870967741932 18 62.8741935483868 18 60.048387096774 18 C 57.2225806451612 18 55.8096774193548 18 52.983870967742 18 C 50.158064516129194 18 48.7451612903228 18 45.91935483871 18 C 43.093548387096796 18 41.6806451612902 18 38.854838709677 18 C 36.0290322580642 18 34.6161290322578 18 31.790322580645 18 C 28.964516129032198 18 27.5516129032258 18 24.725806451613 18 C 21.900000000000198 18 20.487096774193798 18 17.661290322581 18 C 14.835483870967801 18 13.4225806451612 18 10.596774193548 18 C 7.77096774193524 18 3.5322580645161 18 3.5322580645161 18" class="highcharts-area"></path>
                                            <path fill="none" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 13.428571428571429 60.048387096774 13.428571428571429 C 62.8741935483868 13.428571428571429 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 13.26530612244898 81.241935483871 13.26530612244898 C 84.06774193548381 13.26530612244898 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 0.8571428571428577 102.43548387097 0.8571428571428577 C 105.261290322582 0.8571428571428577 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 17.836734693877553 166.01612903226 17.836734693877553 C 168.84193548387202 17.836734693877553 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18" class="highcharts-graph" stroke="#219B9C" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                                            <path fill="none" d="M -6.4677419354839 18 L 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 13.428571428571429 60.048387096774 13.428571428571429 C 62.8741935483868 13.428571428571429 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 13.26530612244898 81.241935483871 13.26530612244898 C 84.06774193548381 13.26530612244898 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 0.8571428571428577 102.43548387097 0.8571428571428577 C 105.261290322582 0.8571428571428577 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 17.836734693877553 166.01612903226 17.836734693877553 C 168.84193548387202 17.836734693877553 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18 L 225.46774193548 18" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" class="highcharts-tracker"></path>
                                         </g>
                                         <g class="highcharts-markers highcharts-series-0 highcharts-areaspline-series highcharts-tracker " transform="translate(0,0) scale(1 1)" clip-path="none"></g>
                                      </g>
                                      <text x="110" text-anchor="middle" class="highcharts-title" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text>
                                      <text x="110" text-anchor="middle" class="highcharts-subtitle" style="color:#666666;fill:#666666;" y="24"></text>
                                      <g class="highcharts-axis-labels highcharts-xaxis-labels "></g>
                                      <g class="highcharts-axis-labels highcharts-yaxis-labels "></g>
                                   </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-m15uzv">
                    <div class="css-1dq8531">
                        <div class="css-1etgkeo">
                            <div class="css-18qe4ku">
                                <div class="css-1m45hbv" tabindex="-1"><span class="css-1fsjk6l">Reports Readiness</span>
                                </div>
                                <div class="css-1h000ye">
                                    <div class="css-1m45hbv" tabindex="-1"><span class="css-qzqued">{{_SummaryCounter.extractCountModel.loadCompleteCount}} out of {{_SummaryCounter.extractCountModel.loadTotalCount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="css-43pdm1">
                                <div class="" data-highcharts-chart="2">
                                    <div id="highcharts-g21tqr6-4" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 219px; height: 18px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <svg version="1.1" class="highcharts-root" width="219" height="18" viewBox="0 0 219 18">
                                      <desc>Created with Highcharts 6.1.0</desc>
                                      <defs>
                                         <clipPath id="highcharts-g21tqr6-5">
                                            <rect x="0" y="0" width="219" height="18" fill="none"></rect>
                                         </clipPath>
                                         <linearGradient x1="0" y1="0" x2="0" y2="1" id="highcharts-g21tqr6-6">
                                            <stop offset="0" stop-color="#C7E6E6" stop-opacity="1"></stop>
                                            <stop offset="1" stop-color="rgb(199,230,230)" stop-opacity="0"></stop>
                                         </linearGradient>
                                      </defs>
                                      <rect fill="none" class="highcharts-background" x="0" y="0" width="219" height="18" rx="0" ry="0"></rect>
                                      <rect fill="none" class="highcharts-plot-background" x="0" y="0" width="219" height="18"></rect>
                                      <g class="highcharts-grid highcharts-xaxis-grid "></g>
                                      <g class="highcharts-grid highcharts-yaxis-grid "></g>
                                      <rect fill="none" class="highcharts-plot-border" x="0" y="0" width="219" height="18"></rect>
                                      <g class="highcharts-axis highcharts-xaxis ">
                                         <path fill="none" class="highcharts-axis-line" d="M 0 18 L 219 18"></path>
                                      </g>
                                      <g class="highcharts-axis highcharts-yaxis ">
                                         <path fill="none" class="highcharts-axis-line" d="M 0 0 L 0 18"></path>
                                      </g>
                                      <g class="highcharts-series-group">
                                         <g class="highcharts-series highcharts-series-0 highcharts-areaspline-series " transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-g21tqr6-5)">
                                            <path fill="url(#highcharts-g21tqr6-6)" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 13.428571428571429 60.048387096774 13.428571428571429 C 62.8741935483868 13.428571428571429 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 13.26530612244898 81.241935483871 13.26530612244898 C 84.06774193548381 13.26530612244898 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 0.8571428571428577 102.43548387097 0.8571428571428577 C 105.261290322582 0.8571428571428577 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 17.836734693877553 166.01612903226 17.836734693877553 C 168.84193548387202 17.836734693877553 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18 L 215.46774193548 18 C 215.46774193548 18 211.22903225806198 18 208.40322580645 18 C 205.577419354838 18 204.16451612903202 18 201.33870967742 18 C 198.51290322580803 18 197.100000000002 18 194.27419354839 18 C 191.44838709677398 18 190.03548387096598 18 187.20967741935 18 C 184.383870967738 18 182.97096774193201 18 180.14516129032 18 C 177.31935483870802 18 175.906451612902 18 173.08064516129 18 C 170.254838709678 18 168.84193548387202 18 166.01612903226 18 C 163.190322580648 18 161.777419354842 18 158.95161290323 18 C 156.125806451614 18 154.712903225806 18 151.88709677419 18 C 149.061290322578 18 147.648387096772 18 144.82258064516 18 C 141.996774193548 18 140.583870967742 18 137.75806451613 18 C 134.932258064518 18 133.519354838712 18 130.6935483871 18 C 127.86774193548399 18 126.45483870967601 18 123.62903225806 18 C 120.803225806448 18 119.39032258064199 18 116.56451612903 18 C 113.738709677418 18 112.325806451612 18 109.5 18 C 106.674193548388 18 105.261290322582 18 102.43548387097 18 C 99.609677419356 18 98.196774193549 18 95.370967741935 18 C 92.5451612903222 18 91.13225806451581 18 88.306451612903 18 C 85.4806451612902 18 84.06774193548381 18 81.241935483871 18 C 78.41612903225821 18 77.00322580645181 18 74.177419354839 18 C 71.3516129032258 18 69.9387096774192 18 67.112903225806 18 C 64.2870967741932 18 62.8741935483868 18 60.048387096774 18 C 57.2225806451612 18 55.8096774193548 18 52.983870967742 18 C 50.158064516129194 18 48.7451612903228 18 45.91935483871 18 C 43.093548387096796 18 41.6806451612902 18 38.854838709677 18 C 36.0290322580642 18 34.6161290322578 18 31.790322580645 18 C 28.964516129032198 18 27.5516129032258 18 24.725806451613 18 C 21.900000000000198 18 20.487096774193798 18 17.661290322581 18 C 14.835483870967801 18 13.4225806451612 18 10.596774193548 18 C 7.77096774193524 18 3.5322580645161 18 3.5322580645161 18" class="highcharts-area"></path>
                                            <path fill="none" d="M 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 13.428571428571429 60.048387096774 13.428571428571429 C 62.8741935483868 13.428571428571429 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 13.26530612244898 81.241935483871 13.26530612244898 C 84.06774193548381 13.26530612244898 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 0.8571428571428577 102.43548387097 0.8571428571428577 C 105.261290322582 0.8571428571428577 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 17.836734693877553 166.01612903226 17.836734693877553 C 168.84193548387202 17.836734693877553 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18" class="highcharts-graph" stroke="#219B9C" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                                            <path fill="none" d="M -6.4677419354839 18 L 3.5322580645161 18 C 3.5322580645161 18 7.77096774193524 18 10.596774193548 18 C 13.4225806451612 18 14.835483870967801 18 17.661290322581 18 C 20.487096774193798 18 21.900000000000198 18 24.725806451613 18 C 27.5516129032258 18 28.964516129032198 18 31.790322580645 18 C 34.6161290322578 18 36.0290322580642 18 38.854838709677 18 C 41.6806451612902 18 43.093548387096796 18 45.91935483871 18 C 48.7451612903228 18 50.158064516129194 18 52.983870967742 18 C 55.8096774193548 18 57.2225806451612 13.428571428571429 60.048387096774 13.428571428571429 C 62.8741935483868 13.428571428571429 64.2870967741932 18 67.112903225806 18 C 69.9387096774192 18 71.3516129032258 18 74.177419354839 18 C 77.00322580645181 18 78.41612903225821 13.26530612244898 81.241935483871 13.26530612244898 C 84.06774193548381 13.26530612244898 85.4806451612902 18 88.306451612903 18 C 91.13225806451581 18 92.5451612903222 18 95.370967741935 18 C 98.196774193549 18 99.609677419356 0.8571428571428577 102.43548387097 0.8571428571428577 C 105.261290322582 0.8571428571428577 106.674193548388 18 109.5 18 C 112.325806451612 18 113.738709677418 18 116.56451612903 18 C 119.39032258064199 18 120.803225806448 18 123.62903225806 18 C 126.45483870967601 18 127.86774193548399 18 130.6935483871 18 C 133.519354838712 18 134.932258064518 18 137.75806451613 18 C 140.583870967742 18 141.996774193548 18 144.82258064516 18 C 147.648387096772 18 149.061290322578 18 151.88709677419 18 C 154.712903225806 18 156.125806451614 18 158.95161290323 18 C 161.777419354842 18 163.190322580648 17.836734693877553 166.01612903226 17.836734693877553 C 168.84193548387202 17.836734693877553 170.254838709678 18 173.08064516129 18 C 175.906451612902 18 177.31935483870802 18 180.14516129032 18 C 182.97096774193201 18 184.383870967738 18 187.20967741935 18 C 190.03548387096598 18 191.44838709677398 18 194.27419354839 18 C 197.100000000002 18 198.51290322580803 18 201.33870967742 18 C 204.16451612903202 18 205.577419354838 18 208.40322580645 18 C 211.22903225806198 18 215.46774193548 18 215.46774193548 18 L 225.46774193548 18" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" class="highcharts-tracker"></path>
                                         </g>
                                         <g class="highcharts-markers highcharts-series-0 highcharts-areaspline-series highcharts-tracker " transform="translate(0,0) scale(1 1)" clip-path="none"></g>
                                      </g>
                                      <text x="110" text-anchor="middle" class="highcharts-title" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text>
                                      <text x="110" text-anchor="middle" class="highcharts-subtitle" style="color:#666666;fill:#666666;" y="24"></text>
                                      <g class="highcharts-axis-labels highcharts-xaxis-labels "></g>
                                      <g class="highcharts-axis-labels highcharts-yaxis-labels "></g>
                                   </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-8cvt2v" span="3" *ngIf="false">
            <div class="css-d7fwyj">
                <a class="css-2klymb" href="connect-add_new_datastream.html">
                    <svg class="css-1w7p77e" fill="currentcolor" viewBox="0 0 24 24">
                       <path d="M13 5v6h6v2h-6v6h-2v-6H5v-2h6V5h2z"></path>
                    </svg>
                    <span class="css-1qsrl3t">Add new datastream</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col col-sm-12 col-md-3">
            <div class="form-group">
              <div style="justify-content: space-between; display: flex;">
                <div style="display: flex;">
                <label for="exampleInputEmail1" style="padding-left:10px; padding-top: 12px;">Connect
                </label>
                    <span style="margin-bottom: 5px;">
                    <ejs-progressbar #circular4 id='circular4' [type]='Ctype4' [maximum]='Cmax4' [minimum]='Cmin4'
                    [value]='Cvalue4' [width]='Cwidth' [height]='Cheight' [isIndeterminate]='isIndeterminate3' [progressColor]='this.progressColor'
                    [animation]='animation'>
                </ejs-progressbar>
            </span> 
        </div>
            <div style="padding: 12px 10px 0 0;">
                <span >
                    {{this.ExtractStatus}} %
                </span>    
            </div>
        </div>
    
        <div>
                <ejs-progressbar #linear4 id='linear4' [type]='type4' [maximum]='max4' [minimum]='min4'
                [value]='ExtractStatus' [width]='width' [height]='height4'  [progressColor]='this.progressColor'
                >
            </ejs-progressbar>
        </div>
        </div>
        </div> -->
    <!-- <div class="col col-sm-12 col-md-4">
        <div class="form-group">
            <div style="justify-content: space-between; display: flex;">
                <div style="display: flex;">
                <label for="exampleInputEmail1" style="padding-left:10px; padding-top: 12px;">Extract
                </label>
                    <span style="margin-bottom: 5px;">
                    <ejs-progressbar #circular1 id='circular1' [type]='Ctype1' [maximum]='Cmax1' [minimum]='Cmin1'
                    [value]='Cvalue1' [width]='Cwidth' [height]='Cheight' [isIndeterminate]='isIndeterminate3' [progressColor]='this.progressColor'
                    [animation]='animation'>
                </ejs-progressbar>
            </span> 
        </div>
            <div style="padding: 12px 10px 0 0;">
                <span >
                    {{this.ExtractStatus}} %
                </span>    
            </div>
        </div>
    
        <div>
        <ejs-progressbar #linear1 id='linear1' [type]='type1' [maximum]='max1' [minimum]='min1'
        [value]='ExtractStatus' [width]='width' [height]='height1' [progressColor]='this.progressColor'
        
        >
    </ejs-progressbar>
        </div>
        </div>
          
        </div>
        <div class="col col-sm-12 col-md-4">
            
            <div class="form-group">
                <div style="justify-content: space-between; display: flex;">
                    <div style="display: flex;">
                    <label for="exampleInputEmail1" style="padding-left:10px; padding-top: 12px;">Transform
                    </label>
                        <span style="margin-bottom: 5px;">
                        <ejs-progressbar #circular2 id='circular2' [type]='Ctype2' [maximum]='Cmax2' [minimum]='Cmin2'
                        [value]='Cvalue2' [width]='Cwidth' [height]='Cheight' [isIndeterminate]='isIndeterminate3' [progressColor]='this.progressColor'
                        [animation]='animation'>
                    </ejs-progressbar>
                </span> 
            </div>
                <div style="padding: 12px 10px 0 0;">
                    <span >
                        {{this.TransformStatus}} %
                    </span>    
                </div>
            </div>
        
            <div>
                <ejs-progressbar #linear2 id='linear2' [type]='type2' [maximum]='max2' [minimum]='min2'
                [value]='TransformStatus' [width]='width' [height]='height2' [progressColor]='this.progressColor'
            >
            </ejs-progressbar>
            </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-4">
            <div class="form-group">
                <div style="justify-content: space-between; display: flex;">
                    <div style="display: flex;">
                    <label for="exampleInputEmail1" style="padding-left:10px; padding-top: 12px;">Load
                    </label>
                        <span style="margin-bottom: 5px;">
                        <ejs-progressbar #circular3 id='circular3' [type]='Ctype3' [maximum]='Cmax3' [minimum]='Cmin3'
                        [value]='Cvalue3' [width]='Cwidth' [height]='Cheight' [isIndeterminate]='isIndeterminate3' [progressColor]='this.progressColor'
                        [animation]='animation'>
                    </ejs-progressbar>
                </span> 
            </div>
                <div style="padding: 12px 10px 0 0;">
                    <span >
                        {{this.LoadStatus}} %
                    </span>    
                </div>
            </div>
        
            <div>
                <ejs-progressbar #linear3 id='linear3' [type]='type3' [maximum]='max3' [minimum]='min3'
                [value]='LoadStatus' [width]='width' [height]='height3' [progressColor]='this.progressColor'
                ></ejs-progressbar>
            </div>
            </div>
        </div> -->
    </div>
<div class="main-content">
    <div class="css-1hishl6">
        <!--Start Activity Monitor-->

        <!--end Activity Monitor-->
        <!---------------------->
        <!--start recent Activity-->
        <div class="css-319qhy" span="6">
            <!-- <app-all-extract-log-widget></app-all-extract-log-widget> -->
            <app-extract-status #connectionLogSummery></app-extract-status>
            <app-wedget-source-log ></app-wedget-source-log>
            <app-wedget-object-log></app-wedget-object-log>
        </div>
        <!--end recent Activity-->
        <!---------------------->
        <!--start All Issues -->
        <div class="css-319qhy" span="6">
            <app-wedget-all-extract #extractLogSummery></app-wedget-all-extract>
            <app-wedget-enrich-log #enrichLogSummery></app-wedget-enrich-log>
            <app-wedget-allissues #issueLogSummery></app-wedget-allissues>
            <!-- <app-all-issues-log-widget></app-all-issues-log-widget> -->

        </div>
        <!--end All Issues-->
    </div>
</div>
 
