 
<form #Myform=ngForm (ngSubmit)="Myform.form.valid && SaveAuthorizData(Myform.value)"  novalidate >
 
    <div class="main-section">
     <!-- <h3>Account authorization</h3> -->
  </div>
  <div class="tool-section">
  </div>
 <div class="row">
  <div class="col-md-12">
   <div class="col-md-8">
     <fieldset class="module aligned" >
        <div class="row" style="padding: 0px 11px 14px 19px;">
          <div class="col-md-7">
           <div class="form-row field-stack">
              <label  class="label-text" for="id_stack"></label>
               <div class="related-widget-wrapper">
                <div>
                   <input type="radio" class="form-check-input" name="AccountAuthurization" id="Firsttimeforconnection" (click)="ShowEmailAuthorization()"  [(ngModel)]="sourceAccountSettup.SourceAccountModel.AccountAuthurization"  #AccountAuthurization="ngModel" name="AccountAuthurization" value="Firsttimeforconnection" checked><label for="Firsttimeforconnection">First time for connection</label>  
               </div>
               <div>
                <input class="form-check-input" type="radio" name="AccountAuthurization" [(ngModel)]="sourceAccountSettup.SourceAccountModel.AccountAuthurization"  #AccountAuthurization="ngModel"  (click)="ShowEmailAuthorization()" id="Eachtimeforconnectionestablishing" value="Eachtimeforconnectionestablishing"><label  for="Eachtimeforconnectionestablishing">Each time for connection establishing</label>
               </div>
               <div>
                <input class="form-check-input" type="radio" name="AccountAuthurization" (click)="ShowSettupNewConButton()" [(ngModel)]="sourceAccountSettup.SourceAccountModel.AccountAuthurization"  #AccountAuthurization="ngModel"  id="Donotrequired"  value="Donotrequired"><label for="Donotrequired">Do not required</label>
               </div>
                </div>
                <div id="hint_id_email" class="help-block">
                </div>
         </div>
          </div>
        </div>
        <div class="row" *ngIf="EmailAuthurizationArea">
          <div class="col-md-7">
           <div class="form-row field-stack" >
            
              <label class="label-text" for="id_stack">Enter the email address*</label>
              <div class="related-widget-wrapper">
                <div >
                   <input type="text" name="Email"   id="Email" [(ngModel)]="sourceAccountSettup.SourceAccountModel.Email"  #Email="ngModel"  class="form-control"   maxlength="200" required email>
                  <!-- <span class="error" id="Email_span" style="margin-top:4px;padding:5px;margin-right: 211px;" *ngIf="establishConnectorServic.Email_span">Email is Required</span> -->
              </div>
              </div>
              <div id="hint_id_email" class="help-block">
                <span class="text-danger"
                *ngIf="(Email.touched || Myform.submitted) && Email.errors?.required">
                Email is required
            </span>
            <span class="text-danger"  *ngIf="Email.touched && Email.errors?.email">
                Enter a valid email address
            </span>
             </div>
          </div>
          </div>
          <div class="col-md-2">
           <div class="form-row field-stack" >
            
              <label class="label-text" for="id_stack"></label>
              <div class="related-widget-wrapper">
                <div >
                    <button class="css-xpr64j" href="
                    https://www.facebook.com/v9.0/dialog/oauth?client_id=411387786868121&redirect_uri=http://localhost:4200/extract/extraction/connectionslist&state=0
                    " type="submit" style="padding: 13px;" >Send Access Request now</button>
                    <!-- (click)="AddEmialForAuthorize()" -->
                 </div>
              </div>
              <div class="help"></div>
           </div>
          </div>
        </div>
        <div class="row" *ngIf="SettupNewConnection">
          <div class="col-md-2">
           <div class="form-row field-stack" style="padding-top: 0px;">
            
              <label class="label-text" for="id_stack"></label>
              <div class="related-widget-wrapper">
                <div >
                    <button class="css-xpr64j" type="button" style="padding: 13px;" >Settup New Connection</button>

                 </div>
              </div>
              <div class="help"></div>
           </div>
          </div>
        </div>
          <div class="row">
             <div class="col-md-7">
              <div id="div_id_message" class="form-group" *ngIf="EmailAuthurizationtextarea">
                 <label for="id_message" class="control-label ">
                 Message
                 </label> 
                 <div class="controls ">
                    <textarea  readonly="" style="background-color: white;"   rows="10" class="textarea form-control" cols="20">
                 
                   Hello,
                     You are receiving this email because *Farrukh Naqvi* has <br>
                     requested access to your *Business API* data for Zoom360  Datatap.
                     Kind Regards,
                     Zoom360 Support
                  </textarea>
                  </div>
              </div>
             </div>

          </div>  
       <div class="row">
          <div class="col-md-3" >
           <div class="form-row field-stack" >
        
              <label class="label-text" for="id_stack"></label>
              <div class="related-widget-wrapper">
                <div class="controls " style="display: inline-flex;" >
                   <input type="checkbox"  name="connectivitystatus"  id="connectivitystatus"  [(ngModel)]="sourceAccountSettup.SourceAccountModel.connectivitystatus"  #connectivitystatus="ngModel"  >
                   <label style="padding:0 0 0 10px;" class="" for="grantstatus">Authorization grant status</label>
                    

                 </div>                     
              </div>
              <div id="hint_id_email" class="help-block">
             </div>

      </div> 
          </div>
          <div class="col-md-2">
           <div class="form-row field-stack" >
        
              <label class="label-text" for="id_stack"></label>
              <div class="related-widget-wrapper">
                <div class="controls " style="display: inline-flex;" >
                    
                    <button class="css-xpr64j" type="button" style="padding: 13px;">Refresh</button>

                 </div>                     
              </div>
              <div class="help"></div>

      </div> 
          </div>
       </div>
       </fieldset> 
      </div>
       <div class="col-md-3 col-offset-md-1">
         <div>
              <div class="related-widget-wrapper">
                 <img  src="../../../assets/images/{{imgname}}" style="min-height: 60px;"   width="100" >
              </div>
              
            </div>
        </div>
  </div>
 </div>
 <div class="row">
   <div class="col-md-12">
     <hr>
   </div>
</div>
 
 
</form>
 