<!-- Container -->
<div id="container" class="container-fluid">
    <div class="sidebar-border">
        <div style="width: 224px;"></div>
        <div class="css-4nny3p">
            <div class="css-4468y5">
                <div class="css-1qm07br">
                    <span class="css-12l7gva">Administration</span>
                    <nav class="css-3zbf4y">
                        <ul class="css-1ua6fjh">

                            <li class="css-1t2l0tx">Application Setup</li>
                            <ul class="css-1ua6fjh">
                                <li class="css-rrihw8"><a class="css-1wfdhj" routerLink="/manage/settings/workspacesetup" routerLinkActive="ActiveRoute">Workspace Setup</a></li>
                                <li class="css-rrihw8"><a class="css-1wfdhj" routerLink="/manage/settings/currencysetup" routerLinkActive="ActiveRoute">Currency Setup</a></li>
                                <li class="css-rrihw8"><a class="css-1wfdhj" routerLink="/manage/settings/timezonesetup" routerLinkActive="ActiveRoute">Time Zone Setup</a></li>
                                <li class="css-rrihw8"><a class="css-1wfdhj" routerLink="/manage/settings/numralssetup" routerLinkActive="ActiveRoute">Numerals Setup</a></li>
                                <li class="css-rrihw8"><a class="css-1wfdhj" routerLink="/manage/settings/calendersetup" routerLinkActive="ActiveRoute">Calander Setup</a></li>

                            </ul>

                            <li class="css-1t2l0tx">Account Settings</li>
                            <ul class="css-1ua6fjh">
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/quotasettings" routerLinkActive="ActiveRoute">Quota Settings</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/displaysettings" routerLinkActive="ActiveRoute">Display Settings</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/template" routerLinkActive="ActiveRoute">Templates</a></li>
                            </ul>
                            <li class="css-1t2l0tx">Manage</li>
                            <ul class="css-1ua6fjh">
                                <li class="css-rrihw8"><a class="css-s5joy4" href="/core/stack/add/">Users</a></li>
                                <li class="css-rrihw8"><a class="css-1wfdhj" routerLink="/manage/settings/datagovernance" routerLinkActive="ActiveRoute">Data Governance</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/childWorkspacesetup" routerLinkActive="ActiveRoute">Child Workspace</a></li>
                            </ul>
                            <li class="css-1t2l0tx">Monitor</li>
                            <ul class="css-1ua6fjh">
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/usagehistory" routerLinkActive="ActiveRoute">Usage History</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/userlog" routerLinkActive="ActiveRoute">Users Log</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/changelog" routerLinkActive="ActiveRoute">Changes Log</a></li>
                            </ul>
                            <li class="css-1t2l0tx">Notifications</li>
                            <ul class="css-1ua6fjh">
                                <li class="css-rrihw8"><a class="css-s5joy4" href="/notifications/emailsubscription/">Alarms & Alerts</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" href="/notifications/slacksubscription/">E-mails</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" href="/notifications/microsoftteamssubscription/">Thresholds Intensity</a></li>
                                <li class="css-rrihw8"><a class="css-s5joy4" routerLink="/manage/settings/configurationmapping" routerLinkActive="ActiveRoute">Mapping Configuration</a></li>
                            </ul>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <!-- Content -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->
<!-- CSRF Logout -->


<!-- Container -->
<!-- END Container -->