<div class="container-fluid">
   
     <div class="row">
        <div class="col-md-12" style="padding: 0px;" >
            <div class="col-md-8" >
              <div class="main-section">
                 <div   class="header" style="cursor:pointer;" (click)="scriptlist()"> 
                       <img src='../../../../assets/arrow-left-64.png'   >
                    </div>
                    <div>
                     <h3>STEP 5:</h3> 
                     <h3>Data Preview</h3>
                    </div>
                  
              </div>   
          </div>
          <!-- <div class="col-md-1 offset-3 " >
             
              <div class="main-section">
                
                    <button class="css-xpr64j Right" type="submit" name="_save" (click)="save('file')" style="margin: 14px 0px 0px 29px;">Upload to Server</button>
                    <button class="css-xpr64j Right" type="submit" name="_save" (click)="save('db')" style="margin: 14px 0px 0px 29px;">Upload to Destination</button>

              </div> 
                
           </div> -->
           <div class="col-md-4 ">
                  
            <div class="main-section col-md-2" >
                <button class="css-xpr64j Right" type="submit" name="_save" (click)="save('file')"  style="margin: 53px 0px 0px 111px;">Upload to Server</button>
            </div> 
             <div class="main-section col-md-2">
                <button class="css-xpr64j Right" type="submit" name="_save" (click)="save('db')" style="margin: 53px 0 0 165px;" >Upload to Destination</button>
            </div> 
          </div>
          </div>
    </div>
<div class="row" >
  
    <div class="col col-sm-12 col-md-12" style="min-height: 600px;">
        <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-alpine" [statusBar]="statusBar" [enableRangeSelection]="true" [animateRows]="false" [rowClassRules]="rowClassRules" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
        [rowData]="rowData" [rowHeight]="rowHeight" [headerHeight]="headerHeight" [sideBar]="sideBar" [rowSelection]="rowSelection" [chartThemeOverrides]="chartThemeOverrides" [enableCharts]="true" [rowGroupPanelShow]="rowGroupPanelShow" [skipHeaderOnAutoSize]="skipHeaderOnAutoSize"
        [pivotPanelShow]="pivotPanelShow" [rowDragManaged]="true" (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
</div>
</div>

<!-- <div class="container">
    <div class="row" style="padding:20px 20px 0px 20px;">
        <div class="col offset-md-11 offset-lg-11 offset-xl-11 col-sm-11 col-md-1 col-lg-1 col-xl-1" style="margin-bottom: 10px;">
            <button class="css-xpr64j Right" type="submit" name="_save" (click)="save()">Save</button>
           </div>
        <div class="col col-sm-12 col-md-12" style="min-height: 600px;">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-alpine" [statusBar]="statusBar" [enableRangeSelection]="true" [animateRows]="false" [rowClassRules]="rowClassRules" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
            [rowData]="rowData" [rowHeight]="rowHeight" [headerHeight]="headerHeight" [sideBar]="sideBar" [rowSelection]="rowSelection" [chartThemeOverrides]="chartThemeOverrides" [enableCharts]="true" [rowGroupPanelShow]="rowGroupPanelShow" [skipHeaderOnAutoSize]="skipHeaderOnAutoSize"
            [pivotPanelShow]="pivotPanelShow" [rowDragManaged]="true" (gridReady)="onGridReady($event)"></ag-grid-angular>
        </div>
    </div>
    </div> -->