<div class="generic-django-admin-header">
    <div class="main-section">
        <h3>Password Strength</h3>
    </div>
    <div class="tool-section">
    </div>
</div>
<div id="content-main" class="contentMain">
    <form [formGroup]="passwordControl" (ngSubmit)="SaveConfig(passwordControl.value)" autocomplete="off">
        <fieldset class="module aligned ">
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Minimum password length required</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="PasswordLength" value="Default" class="vTextField" maxlength="60">
                    </div>
                    <!--  -->
                    <div class="help">

                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="StrongPassword" value="1" style="margin-top: -1px;">Requires strong password
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="StrongPassword" value="2" style="margin-top: -1px;">Not required
                        </div>
                    </div>
                    <div class="help">
                        Soft passwords do not requires any combination<br>a. Upper case alphabets "A-Z"<br>b. Lower case alphabets "a-z" c. Numerical digits "0-9"<br>d. Special characters
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="PasswordField" value="1" style="margin-top: -1px;">Requires single password field
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="PasswordField" value="2" style="margin-top: -1px;">Requires double password field
                        </div>
                        <div class="help"></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="module aligned ">
            <h2>Password Expiry</h2>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="PasswordExpired" value="1" style="margin-top: -1px;">Password expires if not updated as per defined conditions
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="PasswordExpired" value="2" style="margin-top: -1px;">Password never expires
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>

            <div class="form-check" style="padding-left: 0px;">
                <input type="checkbox" formControlName="FirstLoginOption" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1" style="margin-left: 20px;">Required once (during first time login)</label>
            </div>
            <div class="form-row field-stack" style="padding-top: 30px; display: flex; flex-direction: column;">
                <div>
                    <label class="label-text" for="id_stack">After first successful login (in number of days, include day login)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="FirstLoginDays" id="id_name" required="" class="vTextField" maxlength="60">
                    </div>
                    <div class="help">
                    </div>
                </div>
                <div>
                    <label class="label-text" for="id_stack">After user was created (in number of days, include day created)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="UserCreatedDays" id="id_name" required="" class="vTextField" maxlength="60">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack" style="display: flex; flex-direction: column;">
                <div>
                    <label class="label-text" for="id_stack">After successful login attempts (in number of attempts)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="LoginAttempts" id="id_name" required="" class="vTextField" maxlength="60">
                    </div>
                    <div class="help">
                    </div>
                </div>
                <div>
                    <label class="label-text" for="id_stack">After last updated (in number of days, include day updated)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="LastPasswordChanged" id="id_name" required="" class="vTextField" maxlength="60">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="NotifyUserPasswordExpiry" value="1" style="margin-top: -1px;">Notify user before password expires
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="NotifyUserPasswordExpiry" value="2" style="margin-top: -1px;">Not required
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Notify user before password expires (in number of days)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="NotifyUserPasswordExpiryDays" value="Default" class="vTextField" maxlength="60">
                    </div>
                    <!--  -->
                    <div class="help">

                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth"></label>
                    <div class="related-widget-wrapper">
                        <div style="display: block; margin-left: 20px;">
                            <input type="radio" formControlName="NotifySupervisorPasswordExpiry" value="1" style="margin-top: -1px;">Notify supervisor before password expires
                        </div>
                        <div style="display: block; margin-left: 20px; margin-top: 5px;">
                            <input type="radio" formControlName="NotifySupervisorPasswordExpiry" value="2" style="margin-top: -1px;">Not required
                        </div>
                    </div>
                    <div class="help"></div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Notify supervisor before password expires (in number of days)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" formControlName="NotifySupervisorPasswordExpiryDays" value="Default" class="vTextField" maxlength="60">
                    </div>
                    <!--  -->
                    <div class="help">

                    </div>
                </div>
            </div>
        </fieldset>
        <div>
            <div class="css-1qbrnrg">
                <hr class="css-1c3fhlt" mx="zero" role="separator" aria-orientation="horizontal">
                <div class="css-1x62jim">
                    <div class="css-p84alj">
                        <div class="css-rvqhyx"><a class="css-ebx8b0" href="/instagram_business/instagrambusinessdatastream/27/delete/">Delete</a><a class="css-b2qa21" href="/core/apidatastream/clone?pk=27">Clone</a></div>
                    </div>
                    <div class="css-1w7dt24">
                        <div class="css-rvqhyx"><button class="css-b2qa21" type="button" name="_continue">Save and continue editing</button><button class="css-xpr64j" type="submit" name="_save">Save</button><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>