<div id="Navigation" style="position: fixed; width: 100%; z-index: 1; margin-top:1px; background: #fff;">
    <div class="css-w6a9it col-md-12" style="border-bottom: 1px solid rgb(221, 224, 228); ">
        <div class="css-ovfwuf">
            <div class="css-1mnuzev">
                <div class="css-18c72y3">
                    <button class="css-1u5hfa" type="button" onclick="hideshowbtn()">
                               <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                  <path d="M5 15V6h14v8.996L18 16h2v1.5H4V16h2l-1-1zm12.5-7.5h-11v7h11v-7z"></path>
                               </svg>
                            </button>
                </div>
                <div class="css-18c72y3">
                    <button class="css-1u5hfa" type="button">
                               <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                  <path d="M18.996 8.117l.004.005v.002a8 8 0 11-13.993 7.765 8 8 0 0113.99-7.772zm-5.74.843a11.487 11.487 0 00-.54-2.09c-.213-.57-.45-.997-.67-1.246-.104-.117-.117-.124-.046-.124.07 0 .058.007-.045.124-.22.249-.458.676-.672 1.246a11.487 11.487 0 00-.54 2.09 19.744 19.744 0 002.514 0zm3.996-.79a6.512 6.512 0 00-3.366-2.392c.372.803.67 1.839.865 3.025.897-.135 1.708-.334 2.38-.586l.121-.047zm-10.504 0l.122.047c.671.252 1.482.451 2.38.586.193-1.186.492-2.222.864-3.025A6.512 6.512 0 006.748 8.17zm6.473 7.07a27.927 27.927 0 01-2.442 0c.128.703.299 1.343.504 1.89.214.57.451.997.672 1.246.103.117.116.124.045.124-.07 0-.058-.007.045-.124.22-.249.458-.676.672-1.246a11.18 11.18 0 00.504-1.89zm.203-1.513a19.483 19.483 0 00.015-3.275 21.2 21.2 0 01-2.878 0 19.59 19.59 0 00.015 3.275 25.784 25.784 0 002.848 0zm4.564.806c-.93.264-2.024.469-3.226.593-.193 1.216-.497 2.277-.876 3.096a6.518 6.518 0 004.102-3.69zm.467-1.766a6.48 6.48 0 00-.46-3.281c-.83.352-1.877.63-3.064.806a21.048 21.048 0 01.01 3.302c1.106-.134 2.104-.343 2.922-.612.203-.066.403-.139.592-.215zM6.012 14.533a6.518 6.518 0 004.102 3.69c-.38-.82-.683-1.881-.876-3.097-1.202-.124-2.296-.329-3.226-.593zm-.468-1.77c.179.075.377.149.593.22.818.268 1.816.477 2.923.611a21.114 21.114 0 01.009-3.302c-1.187-.175-2.235-.454-3.065-.806a6.48 6.48 0 00-.46 3.278z"></path>
                               </svg>
                            </button>
                </div>
                <div style="position: relative;">
                    <div class="css-u41myu">
                        <button class="css-1u5hfa" type="button">
                                  <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                     <path d="M15.633 12.6c2.613 0 4.774 1.912 5.134 4.4H15.5a6.955 6.955 0 00-1.998-3.948 5.205 5.205 0 012.131-.452zm-7 0c2.613 0 4.774 1.912 5.134 4.4H3.5c.36-2.488 2.52-4.4 5.133-4.4zm7-6.6a2.566 2.566 0 11.002 5.132A2.566 2.566 0 0115.633 6zm-7 0a2.566 2.566 0 11.002 5.132A2.566 2.566 0 018.633 6z"></path>
                                  </svg>
                               </button>
                        <span class="css-m7d6nz">1</span>
                    </div>
                </div>
            </div>
            <div class="css-ovfwuf"></div>
        </div>
        <div class="css-1ya2rv9">
            <div class="css-1d0wvxm">
                <div class="css-1blp0lg">
                    <span class="css-x5dnxc">Page</span>
                    <div>
                        <div class="css-fpw7b0">
                            <button class="css-1wgfxl8" disabled="" aria-disabled="true" type="button" style="pointer-events: none;">
                                     <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                        <path d="M9.828 12l5.657 5.657-1.414 1.414L7 12l7.071-7.071 1.414 1.414z"></path>
                                     </svg>
                                  </button>
                        </div>
                    </div>
                </div>
                <span class="css-x5dnxc">1</span>
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-l0vk5f" aria-haspopup="menu" tabindex="0" role="button">
                    <div class="css-1ya2rv9">
                        <div>
                            <button class="css-1u5hfa" onclick=" exploredropdown()" type="button">
                                     <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                        <path d="M12 14.172l5.657-5.657 1.414 1.414L12 17 4.929 9.929l1.414-1.414z"></path>
                                     </svg>
                                  </button>
                        </div>
                    </div>
                </div>
                <div class="css-m0pid7 explore-drop-btn" id="explore-nav-drop-btn" hidden="" role="menu" tabindex="-1" data-dialog="true" aria-orientation="vertical">
                    <div class="css-1lzrm4o">
                        <button class="css-1r8gvqa" tabindex="0" role="menuitem">
                                  <svg class="css-12237yf" fill="currentcolor" viewBox="0 0 24 24">
                                     <path d="M6 15.468V18h2.532L16 10.532 13.468 8 6 15.468zm13-8.083L16.611 5 15 6.615 17.389 9 19 7.385z"></path>
                                  </svg>
                                  Edit Dashboard Pages
                               </button>
                        <hr class="css-1sn6gx" mx="zero" role="separator" aria-orientation="horizontal">
                        <button class="css-upx6k5" tabindex="-1" role="menuitem">1. New Page (3 widgets)</button>
                        <button class="css-1r8gvqa" tabindex="-1" role="menuitem">2. New Page (1 widget)</button>
                    </div>
                </div>
                <div class="css-1blp0lg">
                    <span class="css-15gtzcy"> of 2</span>
                    <div>
                        <button class="css-1u5hfa" type="button">
                                  <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                     <path d="M13.314 12L7.657 6.343 9.07 4.93 16.142 12l-7.07 7.071-1.415-1.414z"></path>
                                  </svg>
                               </button>
                    </div>
                </div>

            </div>
            <hr class="css-169ucwy" mx="zero" role="separator" aria-orientation="vertical">
            <div class="css-1ya2rv9">
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-j7r8qm" aria-haspopup="menu" tabindex="0" role="button">
                    <button class="css-1u5hfa" type="button">
                               <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                  <path d="M13 5v6h6v2h-6v6h-2v-6H5v-2h6V5h2z"></path>
                               </svg>
                            </button>
                </div>
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-na4s9l" aria-haspopup="menu" tabindex="0" role="button">
                    <button class="css-1u5hfa" type="button">
                               <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                  <path d="M9.22 13.814a2.5 2.5 0 110-3.628l4.83-2.683a2.5 2.5 0 11.729 1.311l-4.83 2.683a2.511 2.511 0 010 1.006l4.83 2.683a2.5 2.5 0 11-.729 1.311l-4.83-2.683z"></path>
                               </svg>
                            </button>
                </div>
                <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-61feoe" aria-haspopup="menu" tabindex="0" role="button">
                    <button class="css-1u5hfa" type="button">
                               <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                                  <path d="M11.962 7.016a3.504 3.504 0 00-4-.664l2.333 2.326-1.613 1.608L6.35 7.96a3.478 3.478 0 00.672 3.983c1 .997 2.462 1.26 3.704.793L16.005 18 18 16.011l-5.258-5.248a3.48 3.48 0 00-.78-3.747z"></path>
                               </svg>
                            </button>
                </div>
            </div>
            <hr class="css-169ucwy" mx="zero" role="separator" aria-orientation="vertical">
            <button class="css-1n3jfi4" type="button" aria-expanded="false" aria-controls="id-hlc2cg" aria-haspopup="dialog">
                         <svg class="css-1l7xwpx" fill="currentcolor" viewBox="0 0 24 24">
                            <path d="M11.992 4C16.416 4 20 7.584 20 12s-3.584 8-8.008 8C7.576 20 4 16.416 4 12s3.576-8 7.992-8zM12 5.25c-3.73 0-6.75 3.02-6.75 6.75s3.02 6.75 6.75 6.75 6.75-3.02 6.75-6.75S15.73 5.25 12 5.25zM12.4 8v4.2l3.6 2.136-.6.984-4.2-2.52V8h1.2z"></path>
                         </svg>
                      </button>
        </div>
    </div>
</div>
<div class="wrapper">
    <div style="margin-top: 28px;">
        <div class="col-sm-2 explore-sidebar" *ngIf="MenuService.hideSideMenu">
            <div class="faq">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

                    <div class="panel panel-default columnGroup-3NLeh">
                        <div class="panel-heading-explore" role="tab" id="headingOne">
                            <h3 class="panel-title-z">
                                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Workbook</a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div style="padding: 5px;">
                                <span (click)="callMethod()"><a class="css-1wfdhj" routerLink="/analyze/analysisdashboard/salesdetailanalysis" [ngClass]="ActiveRouteClass"> Sales Details Analysis
                                </a>
                                </span>
                                <!-- <span (click)="Test(1)"><a class="css-1wfdhj"> Default
                                </a>
                                </span>
                                <span (click)="Test(2)"><a class="css-1wfdhj"> Template-1
                                </a>
                                </span>
                                <span (click)="Test(3)"><a class="css-1wfdhj"> Template-2
                                </a>
                                </span> -->
                                <span (click)="changeClass()"><a class="css-1wfdhj" routerLink="/analyze/analysisdashboard/digitalsalesanalysis" routerLinkActive="ActiveRoute">
                                    Digital Sales Analysis 
                                </a></span>
                                <!-- <span (click)="Test(1)"><a class="css-1wfdhj"> Default
                                </a>
                                </span>
                                <span (click)="Test(2)"><a class="css-1wfdhj"> Template-1
                                </a>
                                </span>
                                <span (click)="Test(3)"><a class="css-1wfdhj"> Template-2
                                </a>
                                </span> -->

                                <span (click)="changeClass()"><a type="button" class="css-1wfdhj" routerLink="/analyze/analysisdashboard/datamonitor" routerLinkActive="ActiveRoute">
                                    Data Moitor
                                </a>
                                </span>
                                <span (click)="changeClass()"><a type="button" class="css-1wfdhj" routerLink="/analyze/analysisdashboard/treecontrol" routerLinkActive="ActiveRoute">
                                    Tree Data
                                </a>
                                </span>
                            </div>
                            <!-- <div id='treeparent'><ejs-treeview id='treeelement' [fields]='field' (click)="onNodeClick()" ></ejs-treeview></div> -->
                        </div>
                    </div>
                    <div class="panel panel-default columnGroup-3NLeh">
                        <div class="panel-heading-explore" role="tab" id="headingTwo">
                            <h3 class="panel-title-z">
                                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Component</a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                            <div style="padding: 5px;">
                                <input class="form-control-z searchInput-21A9N" id="undefined" type="search" placeholder="Filter columns" value="">

                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                    opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’
                                    will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default columnGroup-3NLeh">
                        <div class="panel-heading-explore" role="tab" id="headingThree">
                            <h3 class="panel-title-z">
                                <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Data</a>
                            </h3>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse " aria-labelledby="headingThree" data-parent="#accordion">
                            <div style="padding: 5px;">
                                <div role="navigation" class="list-group">
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Account Id
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Account Name
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Identifier
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Media Permalink
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Media Timestamp
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Media Type
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Media Url
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Name
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Post Message
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Text
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Thumbnail Url
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">1</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Timestamp
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-dimension">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        User Name
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Comments
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Impressions
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Is Hidden
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Likes
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span></span></div>
                                        Reach
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">1</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        CPM (€)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        CTR (%)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        Unique CTR (%)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        VTR (%)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        Video played to 100 (%)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        Video played to 25 (%)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        Video played to 50 (%)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                    <button type="button" class="columnItem-32fFB list-group-item-metric">
                                  <div class="flexbox-1j2uq basisauto-2QHwI shrink1-3ax_A grow0-3ZlsV badgeFlexbox-2JGQI">
                                     <span>
                                        <div class="iconThreshold-3qPnl"><span><span><i class="fa adverity-function-f-2YBjN"></i> </span></span></div>
                                        Video played to 75 (%)
                                     </span>
                                     <span class="badge badgeSize-2o-Wd">0</span>
                                  </div>
                               </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="panel panel-default columnGroup-3NLeh" id="show-pw">
                        <div class="panel-heading-explore" role="tab" id="headingFour">
                            <h3 class="panel-title-z">
                                <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Properties</a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse " aria-labelledby="headingFour" data-parent="#accordion">
                            <div>
                                <br>
                                <div id="div_id_retention_number" style="padding: 0 5px 5px 5px;">
                                    <div class="controls form-explore-display">
                                        <div class="from-sidecontent-p ">
                                            <label for="id_retention_number" class="control-label-z ">
                                        Decimal Places:
                                  </label>
                                        </div>
                                    </div>
                                    <input type="number" name="retention_number" id="id_retention_number" class="numberinput form-control-z" min="0">
                                </div>
                                <div id="div_id_retention_number" style="padding: 10px 5px 5px 5px;">
                                    <div class="controls form-explore-display">
                                        <div class="from-sidecontent-p ">
                                            <label for="id_retention_number" class="control-label-z ">
                                        Separator:
                                  </label>
                                        </div>
                                    </div>
                                    <input type="number" name="retention_number" id="id_retention_number" class="numberinput form-control-z" min="0">
                                </div>
                                <div>
                                    <div class="form-explore-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Prefix:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-nkLM9" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-explore-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Sufix:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-nkLM9" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-explore-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Axis:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="text" placeholder="" class="form-control-z input-nkLM9" value="">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-explore-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Origin:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">use custom origin</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-explore-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Origin Line:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show origin line</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-explore-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick label</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-explore-display" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Label Align:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <button class="btn-z  btn-primary active ">
                               <i class="fa fa-align-justify" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-left" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-center" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-right" aria-hidden="true"></i>
                               </button>
                                    </div>
                                </div>
                                <div>
                                    <div style="padding: 30px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick label</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="" style="padding: 10px 0 0 5px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;">
                                        <input type="checkbox">
                                        <label for="scales">show tick mark on</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;;">
                                        <input type="checkbox">
                                        <label for="scales">show axis title</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="" style="padding: 10px 0 0 0px;">
                                        <label class="label-z">Tick Label:</label>
                                    </div>
                                    <div style="padding: 0 5px 5px 5px;;">
                                        <button class="btn-z  btn-primary active ">
                               <i class="fa fa-align-justify" aria-hidden="true"></i>
                               </button>
                                        <button class="btn-z">
                               <i class="fa fa-align-left" aria-hidden="true"></i>
                               </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div style="height: 640px;">
            <router-outlet>
            </router-outlet>
        </div> -->
        <div id="theDiv" [ngClass]="className" class="col-sm-10 analyze-main-content" style="padding-top: 24px;">
            <div class="row" style="padding-bottom: 15px;">
               <div class="col col-sm-12 col-md-3 col-lg-3">
                  <select name="Template" class="selectpicker" style="width: 300px;" [(ngModel)]="templateValue" (change)="setTemplate()">
                     <option *ngFor="let item of template" value="{{item.value}}">{{item.text}}</option>
                </select>
               </div>
               <div class="col col-sm-12 col-md-7 col-lg-4">
                  <div class="dropdown css-rvqhyx" style="margin-right: 0px">
                     <button style="height: 28px; margin-left: 10px;" class="css-fw9vt9" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Save as New
                      <svg class="css-15lu7l8" fill="currentcolor" viewBox="0 0 24 24">
                         <path d="M12 14.172l5.657-5.657 1.414 1.414L12 17 4.929 9.929l1.414-1.414z"></path>
                      </svg>
                     </button>
            
                     <div style="width: 350px; padding: 15px;" class="dropdown-menu css-1z0bvi8 css-1v6oy02" aria-labelledby="dropdownMenuLink">
                         <!-- <a class="css-sye81a" [ngClass]="{'clas': disableTrue === true,
                                                                 'disabled':disableTrue ===false}" (click)="saveMappingTemplate()">Save</a>
                         <a class="css-sye81a" (click)="templeteTextbox()">Save as New Templete</a> -->
                         <input type="text" name="templateName" [(ngModel)]="newtemplateName" style="width: 100%; margin-bottom: 10px;" placeholder="Enter template Name.."/>
                         <input class="css-xpr64j" id="savebtn" type="button" value="+ Add" style="float:right" (click)="saveTemplate()">
                         <button class="search-button button-secondary" type="button" style="margin-right: 5px; font:bold;float:right" (click)="clearTemplateName()" >Clear</button>
                         <div style="font-size: 12px; font-weight: 400; color:#dc3545" >
                           {{errorMessage}}
                         </div>
                     </div>
                 </div>
               </div>
            </div>
            <!-- <div style="padding-bottom: 15px;">
                 
            </div> -->
             <div>
                 <div role="tabpanel" class="tab-pane active">
                     <div>
                         <div class="css-1kl6qu0" grow="1" style="border: none;">
                             <div class="css-1qzdmz1" style="position: relative; height: 560px;">
         
                                 <!--  Grid content here -->
                                 <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-alpine" [statusBar]="statusBar" [enableRangeSelection]="true" [animateRows]="false" [rowClassRules]="rowClassRules" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                     [rowData]="rowData" [rowHeight]="rowHeight" [headerHeight]="headerHeight" [sideBar]="sideBar" [rowSelection]="rowSelection" [chartThemeOverrides]="chartThemeOverrides" [enableCharts]="true" [rowGroupPanelShow]="rowGroupPanelShow"
                                     [pivotPanelShow]="pivotPanelShow" [rowDragManaged]="true" (gridReady)="onGridReady($event)"></ag-grid-angular>
         
                             </div>
                             <div class="css-1cwpjp9" style="width: 46px;padding: 8px;padding-top: 44px;">
                                 <div class="noSpacing-10oUM">
                                     <div class="btn-group dataTableOptions-2M9hD btn-group-vertical btn-group-xs">
                                         <button type="button" class="btn filterButton-2rXhv btn-primary active zIndex-3_KOO" title="Tree structure">
                                              <span>
                                                 <svg width="14px" height="14px" viewBox="0 0 16 16" class="contextMenuButtonIcon-31KFW">
                                                    <g stroke="#FFFFFF" fill="#FFFFFF" stroke-linejoin="round">
                                                       <rect x="3.5" y="2" height="3" width="3"></rect>
                                                       <path d="M5,3.5 l0,4 l7,0 m-7,0 l0,5 l7,0" fill="none"></path>
                                                       <rect x="9" y="6" height="3" width="3"></rect>
                                                       <rect x="9" y="11" height="3" width="3"></rect>
                                                    </g>
                                                 </svg>
                                              </span>
                                           </button>
                                         <button type="button" class="btn filterButton-2rXhv btn-default zIndex-3_KOO" title="Total row" icon="zoom360-sigmaSmall"><span><span><i class="fa zoom360-sigmaSmall-2l2Ry"></i> </span></span></button>
                                         <button type="button" class="btn filterButton-2rXhv btn-default btn-xs zIndex-3_KOO" title="Limit rows (unlimited)">
                                              <span>
                                                 <svg width="14px" height="14px" viewBox="0 0 16 16" class="contextMenuButtonIcon-31KFW">
                                                    <g stroke="#4A4A4A" fill="#4A4A4A" stroke-linejoin="round">
                                                       <g transform="translate(8, 2) scale(1.5,1.5)">
                                                          <path d="M0,6 l2,-2 l-4,0 z"></path>
                                                          <path d="M0.5,0 l0,4 l-1,0 l0,-4 z" stroke-width="0.5"></path>
                                                       </g>
                                                       <path d="M2,12 l12,0z"></path>
                                                       <path d="M2,14.5 l12,0z"></path>
                                                    </g>
                                                 </svg>
                                              </span>
                                           </button>
                                         <button type="button" class="btn filterButton-2rXhv btn-default disabled zIndex-3_KOO" title="Fill time gaps with empty rows">
                                              <span>
                                                 <svg width="14px" height="14px" viewBox="0 0 16 16" class="contextMenuButtonIcon-31KFW">
                                                    <g>
                                                       <g stroke="#4A4A4A" fill="#4A4A4A" stroke-linejoin="round">
                                                          <g transform="translate(8.9,7.1) rotate(225) scale(1.5,1.5)">
                                                             <path d="M0,6 l2,-2 l-4,0 z"></path>
                                                             <path d="M0.5,3 l0,1 l-1,0 l0,-1 z" stroke-width="0.5"></path>
                                                          </g>
                                                          <g transform="translate(7.1,8.9) rotate(45) scale(1.5,1.5)">
                                                             <path d="M0,6 l2,-2 l-4,0 z"></path>
                                                             <path d="M0.5,3 l0,1 l-1,0 l0,-1 z" stroke-width="0.5"></path>
                                                          </g>
                                                       </g>
                                                       <g fill="none" stroke="#4A4A4A">
                                                          <circle cx="8" cy="8" r="5" stroke-width="2"></circle>
                                                          <path d="M8,5 L8,8 L6,8" stroke-width="1"></path>
                                                       </g>
                                                    </g>
                                                 </svg>
                                              </span>
                                           </button>
                                         <button type="button" class="btn filterButton-2rXhv contextMenuButton-3E0JW btn-default zIndex-3_KOO" title="Adds an Exclude filter for <undefined> rows for each projected dimension" icon="zoom360-brush">
                                              <span>
                                                 <span>
                                                    <svg width="14px" height="14px" viewBox="0 0 16 16">
                                                       <path fill="#4A4A4A" transform="scale(0.05,0.05) translate(-14,0)" d=" m 188.80954,306.53997 c -27.63508,-5.86712 -60.35615,-18.56612 -83.81853,-32.52988 -21.401284,-12.73705 -63.808357,-51.73332 -63.803467,-58.67171 0.006,-8.51866 7.98938,-12.86178 26.521613,-14.42833 41.440214,-3.50298 80.820834,-22.58702 98.837324,-47.89705 4.69244,-6.59204 5.35874,-6.80316 12.34222,-3.9105 12.75593,5.28368 13.77593,8.4956 6.17911,19.45781 -15.73618,22.70733 -46.27689,41.07102 -84.28347,50.67847 l -21.879424,5.53075 13.88089,11.04054 c 7.634494,6.0723 15.069184,11.0485 16.521554,11.05824 1.45236,0.01 8.91335,-3.14632 16.57996,-7.01345 7.66663,-3.86712 14.28796,-6.68249 14.71408,-6.25637 0.42612,0.42612 -3.0903,5.83827 -7.81427,12.02701 -4.72396,6.18873 -8.24788,11.55376 -7.83093,11.92231 0.41696,0.36854 6.38622,3.49719 13.26504,6.95252 17.44404,8.76243 29.63782,5.18245 56.28599,-16.52498 l 13.69066,-11.15234 -7.2183,13.96006 c -3.97006,7.67805 -9.45073,17.35002 -12.17924,21.49331 -2.72851,4.14328 -4.11051,8.05795 -3.07111,8.69928 1.03941,0.64134 8.20588,2.33303 15.92551,3.75929 12.43015,2.29655 14.39189,2.11852 17.14963,-1.55645 8.73068,-11.6345 25.92334,-45.06448 34.58326,-67.24488 5.36843,-13.75 9.99572,-25.26474 10.28281,-25.5883 0.28712,-0.32356 5.47841,1.10051 11.53619,3.1646 l 11.01415,3.75289 -4.91069,13.50207 c -11.66572,32.07524 -38.15928,82.8769 -49.56934,95.04969 -6.14562,6.55643 -14.77896,6.70231 -42.93122,0.7254 z M 235.83899,153.2402 c -29.78857,-13.31624 -54.16358,-25.35018 -54.16668,-26.74208 -0.009,-3.84229 12.23135,-14.69919 19.79224,-17.55589 11.89023,-4.49244 20.637,-2.76529 48.89879,9.6556 30.20657,13.27563 37.35959,18.34532 42.32449,29.99741 4.63329,10.87387 3.88412,29.68657 -1.15683,29.04972 -0.84202,-0.10638 -25.90345,-11.08852 -55.69201,-24.40476 z m 22.6428,-47.72139 c -9.47788,-4.09328 -17.24575,-8.270467 -17.2619,-9.282627 -0.0669,-4.18902 46.13954,-87.9520602 49.15568,-89.1094662 4.79488,-1.83996 17.11134,3.8894762 18.62705,8.6650262 1.00343,3.16154 -29.74705,94.168247 -32.65002,96.628457 -0.35105,0.29752 -8.39293,-2.80811 -17.87081,-6.90139 z"></path>
                                                    </svg>
                                                 </span>
                                              </span>
                                           </button>
                                         <button type="button" class="btn filterButton-2rXhv btn-default btn-xs disabled zIndex-3_KOO" title="Additional workspaces (0 available)" icon="users"><span><span><span class="fa fa-users"></span> </span></span></button>
                                     </div>
                                     <div class="btn-group dataTableOptions-2M9hD btn-group-vertical btn-group-xs">
                                         <button type="button" class="btn filterButton-2rXhv contextMenuButton-3E0JW btn-default zIndex-3_KOO" title="Data table settings" icon="zoom360-sliders">
                                              <span>
                                                 <span>
                                                    <svg width="14px" height="14px" viewBox="0 0 16 16">
                                                       <path fill="#4A4A4A" d="M3.25,7.15 L3.25,5.5 L5,5.5 L5,10.5 L3.25,10.5 L3.25,8.9 L0,8.9 L0,7.15 L3.25,7.15 Z M10.75,12.65 L16,12.65 L16,14.4 L10.75,14.4 L10.75,16 L9,16 L9,11 L10.75,11 L10.75,12.65 Z M12.75,1.65 L16,1.65 L16,3.4 L12.75,3.4 L12.75,5 L11,5 L11,0 L12.75,0 L12.75,1.65 Z M0,1.65 L9,1.65 L9,3.4 L0,3.4 L0,1.65 Z M7,7.15 L16,7.15 L16,8.9 L7,8.9 L7,7.15 Z M0,12.65 L7,12.65 L7,14.4 L0,14.4 L0,12.65 Z"></path>
                                                    </svg>
                                                 </span>
                                              </span>
                                           </button>
                                     </div>
                                     <div class="btn-group btn-group-vertical btn-group-xs">
                                         <div class="btn-group dropdown">
                                             <button id="theButton" type="button" class="btn dropdown-toggle filterButton-2rXhv btn-default btn-xs zIndex-3_KOO" title="Export" (click)="redrawAllRows()">
                                                 <span>
                                                    <svg width="11px" height="11px" viewBox="0 0 16 16">
                                                       <path fill="#4A4A4A" d="M16,14 L16,16 L0,16 L0,14 L0,10 L2,10 L2,14 L14,14 L14,10 L16,10 L16,14 Z M13,7 L8,12 L3,7 L4.42,5.58 L7,8.17 L7,1 L9,1 L9,8.17 L11.59,5.59 L13,7 Z"></path>
                                                    </svg>
                                                    <!-- <span> <span class="caret"></span></span> -->
                                                 </span>
                                              </button>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                 <li><a>CSV</a></li>
                                                 <li><a>Excel</a></li>
                                                 <li><a>ODS</a></li>
                                                 <li><a>PDF</a></li>
                                             </ul>
                                         </div>
                                         <button type="button" class="btn filterButton-2rXhv btn-default zIndex-3_KOO" title="FullScreen" icon="plus-circle" (click)="fullScreen()"><span><span><span class="fa fa-plus-circle"></span> </span></span></button>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>