<div class="dashboards-container">
    <div class="css-m2nu48">
        <div style="width: 224px;">
            <div class="side-content">
                <div class="css-1he1u4o">
                    <div class="css-lve0xm">
                        <div class="css-ml06wx">
                            <div class="css-wjumb2">
                                <span class="css-1qsrl3t">Labels</span>
                                <button class="css-1ehcagi" type="button">
                               <svg class="css-1xurosb"  fill="currentcolor" viewBox="0 0 24 24">
                                  <path d="M6 15.468V18h2.532L16 10.532 13.468 8 6 15.468zm13-8.083L16.611 5 15 6.615 17.389 9 19 7.385z"></path>
                               </svg>
                            </button>
                            </div>
                            <div class="css-nss5cx">
                                <input class="css-1kk73xg" type="search" placeholder="Filter labels" value="">
                                <svg class="css-8e1dh6" fill="currentcolor" viewBox="0 0 24 24">
                               <path d="M15.435 14.063h-.723l-.256-.247a5.92 5.92 0 001.437-3.87 5.946 5.946 0 10-5.947 5.947 5.92 5.92 0 003.87-1.437l.247.256v.723L18.637 20 20 18.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 015.83 9.946 4.111 4.111 0 019.946 5.83a4.111 4.111 0 014.117 4.116 4.111 4.111 0 01-4.117 4.117z"></path>
                            </svg>
                            </div>
                            <span class="css-x5dnxc">No labels found</span>
                            <div class="css-bk42y6">
                                <a class="css-1wfdhj" routerLink="/publish/publisheddashboard/createdashBoard" routerLinkActive="ActiveRoute">
                                Create Dashboard
                            </a>
                                <a class="css-1wfdhj" routerLink="/publish/publisheddashboard/digitalsalesdashboard" routerLinkActive="ActiveRoute">
                                Digital Sales Dashboard 
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%">
        <router-outlet></router-outlet>
    </div>
</div>