 
  <div class="row">
    <div class="col-md-12" style="padding: 0px;" >
        <div class="col-md-4"  >
          <div class="main-section">
              <h3 style="margin-bottom: 17.5px;">
                Lookup Values
              </h3>
          </div>   
      </div>
      <div class="col-md-4 col-md-offset-4">
          <div class="main-section  pull-right"  style="padding: 0px;">
              <div class="input-bar-item">
                  <input class="css-xpr64j" id="savebtn"  type="button" (click)="Addlookupvalue()" value="+ Add New">
              </div>
          </div>   
      </div>
      
    </div>
    </div>
      
   
    
  <div id="content-main" class="contentMain">
       <div id="changelist">
          <form id="changelist-form" method="post" novalidate="">
              <input type="hidden" name="csrfmiddlewaretoken" value="BzJ7MpE5jnM2lyqnbJrbEVtNiZc8GLk8udbCXR4ixTJfrCjd1V5zy452hpZwSEiq">
              <input type="hidden" name="action" value="">
              <input name="index" value="0" type="hidden">
              <input class="select-across" name="select_across" value="0" type="hidden">
              <div class="results">
                  <table id="result_list" class="table table-hover">
                      <thead>
                          <tr>
                              <th scope="col" class="action-checkbox-column">
                                  <!-- <input type="checkbox" name="all" /> -->
                              </th>
  
                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                  <div class="cell-wrapper" title="Toggle sorting">
                                      <a class="toggle-link"  >
                                          Workspace Name
                                      
                                      </a>
                                      <!-- <div class="sortoptions remove">
                                          <a class="sortremove" title="Remove from sorting" ></a>
                                      </div> -->
                                  </div>
                              </th>
                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                  <div class="cell-wrapper" title="Toggle sorting">
                                      <a class="toggle-link">
                                          Lookup Dispaly Name
                                      
                                      </a>
                                      <!-- <div class="sortoptions remove">
                                          <a class="sortremove" title="Remove from sorting"  ></a>
                                      </div> -->
                                  </div>
                              </th>
                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                  <div class="cell-wrapper" title="Toggle sorting">
                                      <a class="toggle-link">
                                        Account Dispaly Name
                                       
                                      </a>
                                      <!-- <div class="sortoptions remove">
                                          <a class="sortremove" title="Remove from sorting" ></a>
                                      </div> -->
                                  </div>
                              </th>
                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                  <div class="cell-wrapper" title="Toggle sorting">
                                      <a class="toggle-link" >
                                          Enabled
                                       
                                      </a>
                                      <!-- <div class="sortoptions remove">
                                          <a class="sortremove" title="Remove from sorting"  ></a>
                                      </div> -->
                                  </div>
                              </th>
                              <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                        Visiblity
                                     
                                    </a>
                                    <!-- <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting"  ></a>
                                    </div> -->
                                </div>
                            </th>
                            <th scope="col" class="sortable column-dashboard_link sorted ascending">
                                <div class="cell-wrapper" title="Toggle sorting">
                                    <a class="toggle-link" >
                                        Look Field Value
                                     
                                    </a>
                                    <!-- <div class="sortoptions remove">
                                        <a class="sortremove" title="Remove from sorting"  ></a>
                                    </div> -->
                                </div>
                            </th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- *ngFor="let connection of allConService._connectionData;let i = index" -->
                          <tr   *ngFor="let lookup of lookuplist;let i = index">
                              <td>
                                  <input   type="checkbox"   name="something"  />
                              </td>
                              <td class="field-stack nowrap">{{lookup.workspacename}}</td>
                              <td class="field-stack nowrap"><a routerLink="/connect/connections" routerLinkActive="ActiveRoute" (click)="GetvalueforEditmode(lookup.lookupid)" >{{lookup.lookupdisplayname}}</a></td>
                              <td class="field-name">{{lookup.accountdispalyname}}</td>
                               <td class="field-auth_status">
                                  <div class="switch">
                                      <input type="checkbox" name="enabled{{i}}" [(ngModel)]="lookup.enableconnection">
                                  </div>
                              </td>
                              <td class="field-auth_status">
                                <div class="switch">
                                    <input type="checkbox" name="visibilty{{i}}" [(ngModel)]="lookup.visibiltyconnection">
                                </div>
                            </td>
                            <td class="field-stack nowrap" style="width:415px;overflow-wrap:anywhere">{{lookup.lookupfield}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="pull-left changelist-botton-row changelist-pagination">
                  &nbsp;
                  <span class="pagination-element-counter ">{{lookuplistrecord}} Records</span>
              </div>
          </form>
      </div>
  </div>
  
