<div class="main-section ">
</div>
<div class="tool-section">
</div>
<!-- itemTemplate= '<div class="list-wrapper">
  <span class="${pic} e-avatar e-avatar-xlarge e-avatar-circle">
  </span><span class="text">${text}</span>
  <span class="description">${description}</span>
</div>' -->
<div class="row">
    <div class="col-lg-7  control-section" style="padding: 0px 0px 0px 14px"> 
      <fieldset class="module aligned " >
        <div class="form-row field-stack" style="padding: 28px 4px 8px 2px">
                
            <label class="label-text" for="id_stack" style="padding-bottom: 10px;">Pipeline Name *</label>
            <span></span>
            <div class="related-widget-wrapper">
                 <input type="text" name="accountName" [(ngModel)]="accountName"  class="form-control" maxlength="200"     required> 
              </div>
               
          </div>
          
      </fieldset> 
    </div>
  </div>
<div class="row">
    <div class="col-lg-12 control-section">
        <div id="drag-drop-wrapper">
            <div class="col-md-3 "  style="padding-left: 0px;padding-right: 14px;" >
                <div class="listbox-control">
                    <h4 style="font-size: 12px;font-family: Open Sans ;">Connector List A</h4>
                    <ejs-listbox #listbox1 [dataSource]='dataA'   [allowDragAndDrop]='true' height='330px' scope='combined-list' [fields]='fields' (drop)='onDropGroupA($event)'
                    
                    
                    
                    >
                </ejs-listbox>
                </div>
            </div>
            <div class="col-md-1" style="padding: 180px 0px 0px 0px;">
              <span style="font-size: 11px;">Drag from left side <br>
               &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; And<br>Drop to right side
            </span>
            </div>
            <span class="e-swap-icon"></span>
            <div class="col-md-3" style="padding-right: 0px;padding-left: 12px;" >
                <div class="listbox-control">
                    <h4 style="font-size: 12px;font-family: Open Sans ;">Connector list B</h4>
                    <ejs-listbox #listbox2 [dataSource]='dataB' [allowDragAndDrop]='true' height='330px' scope='combined-list' [fields]='fields' (drop)='onDropGroupB($event)'></ejs-listbox>
                    
                </div>
    
            </div>
           
        </div>
       
    </div>
</div>
 <div class="row">
   <div class="col-md-7" style="padding: 0px;">
    <div class="form-group pull-right" style="padding: 0px;">
        <button class="css-xpr64j" style="height: 30px; width: 65px;margin-top: 30px;" (click)='saveChanges()'>{{SavebtnValue}}</button>

     </div>
   </div>
 </div>

